Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop

.pre-commit-config.yaml:

#  List of git-hooks, during during committing files to git repo

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
        - id: java-formatter
          name: java-formatter
          entry: style-guide/inspect-java-format-0.1.sh
          language: script
          files: '\.java$'
          stages: [commit]
        - id: golangci-lint
          name: golangci-lint
          entry: style-guide/golangci-lint-0.1.sh
          language: script
          files: '^src'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]
        - id: rubocop
          name: rubocop
          entry: style-guide/rubocop-0.1.sh
          language: script
          files: '\.rb$'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]

remove approval because it's no longer required
  .github/workflows/dependency-updates-post-processing.yaml
Due: none

remove condition because the action is just triggered whenever a go.mod or go.sum file changes
  .github/workflows/dependency-updates-post-processing.yaml
Due: none

revert branch name retrieval to keep diff short.
  .github/workflows/dependency-updates-post-processing.yaml
Due: none

test post-processing by deleting some lines from a spec
  packages/scalingengine/spec
Due: none

🤖🦾🛠️ go mod tidy & make package-specs
  packages/scalingengine/spec
Due: none

chore(deps): replace `nu7hatch/gouuid` with `google/uuid` (#3078)
  .github/workflows/bosh-release-checks.yaml
  .github/workflows/dependency-updates-post-processing.yaml
  packages/eventgenerator/spec
  packages/golangapiserver/spec
  packages/metricsforwarder/spec
  packages/operator/spec
  packages/scalingengine/spec
  src/autoscaler/api/broker/broker.go
  src/autoscaler/api/publicapiserver/public_api_handler.go
  src/autoscaler/cred_helper/custom_metrics_cred_helper.go
  src/autoscaler/go.mod
  src/autoscaler/go.sum
  src/autoscaler/helpers/uuid.go
  src/autoscaler/integration/integration_golangapi_scalingengine_test.go
  src/autoscaler/integration/integration_golangapi_scheduler_test.go
  src/autoscaler/integration/integration_operator_others_test.go
  src/autoscaler/integration/integration_scheduler_scalingengine_test.go
  src/autoscaler/integration/integration_suite_test.go
  src/autoscaler/operator/cmd/operator/main.go
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_suite_test.go
Due: golangci-lint

uploded blobs
  ci/autoscaler/pipeline.yml
  ci/autoscaler/tasks/update-sdk/update_java_package.sh
  ci/autoscaler/tasks/update-sdk/vars.source.sh
Due: none

Refactor scaling history client creation and authentication
  src/autoscaler/api/publicapiserver/scaling_history_handler.go
  src/autoscaler/helpers/httpclient.go
  src/autoscaler/scalingengine/client/security.go
  src/autoscaler/scalingengine/server/scaling_history_handler.go
Due: golangci-lint

Add GinkgoHelper calls and refactor HTTP clients for scheduler integration tests
  src/autoscaler/integration/helpers_test.go
  src/autoscaler/integration/integration_golangapi_scheduler_test.go
  src/autoscaler/integration/integration_suite_test.go
Due: golangci-lint

remove test ci
  ci/autoscaler/pipeline.yml
Due: none

update java using compressed binary (hard coded)
  .github/workflows/bosh-release-checks.yaml
  .gitignore
  Makefile
  ci/autoscaler/tasks/update-sdk/java/get-java.sh
  packages/openjdk-17/packaging
  packages/openjdk-17/spec
  packages/openjdk-17/spec.lock
Due: none

automation script to bump java bosh package
  .github/workflows/bosh-release-checks.yaml
  Makefile
  ci/autoscaler/tasks/update-sdk/download-java.sh
  ci/autoscaler/tasks/update-sdk/java/get-java.sh
  ci/dockerfiles/autoscaler-tools/Dockerfile
  jobs/eventgenerator/spec
  jobs/eventgenerator/templates/bpm-pre-start.erb
  jobs/golangapiserver/spec
  jobs/golangapiserver/templates/bpm-pre-start.erb
  jobs/operator/spec
  jobs/operator/templates/bpm-pre-start.erb
  jobs/scalingengine/spec
  jobs/scalingengine/templates/bpm-pre-start.erb
  jobs/scheduler/spec
  jobs/scheduler/templates/bpm-pre-start.erb
  jobs/scheduler/templates/bpm.yml.erb
  jobs/scheduler/templates/install_crt_truststore.sh
  packages/db/spec
  packages/openjdk-17/vendored-commit
  packages/openjdk-21/packaging
  packages/openjdk-21/spec
  packages/openjdk-21/vendored-commit
  packages/openjdk-21/version
  packages/scheduler/spec
  src/common/init-db-truststore.sh
Due: golangci-lint

separate download and update java scripts
  .gitignore
  Makefile
  ci/autoscaler/tasks/update-sdk/create_pr.sh
  ci/autoscaler/tasks/update-sdk/download-java.sh
  ci/autoscaler/tasks/update-sdk/download_java.sh
  ci/autoscaler/tasks/update-sdk/update_java_package.sh
  ci/autoscaler/tasks/update-sdk/update_package.sh
  ci/dockerfiles/autoscaler-tools/Dockerfile
  jobs/eventgenerator/spec
  jobs/eventgenerator/templates/bpm-pre-start.erb
  jobs/golangapiserver/spec
  jobs/golangapiserver/templates/bpm-pre-start.erb
  jobs/operator/spec
  jobs/operator/templates/bpm-pre-start.erb
  jobs/scalingengine/spec
  jobs/scalingengine/templates/bpm-pre-start.erb
  jobs/scheduler/spec
  jobs/scheduler/templates/bpm-pre-start.erb
  jobs/scheduler/templates/bpm.yml.erb
  jobs/scheduler/templates/install_crt_truststore.sh
  packages/db/spec
  packages/openjdk-17/spec.lock
  packages/openjdk-17/vendored-commit
  packages/openjdk-17/version
  packages/openjdk-21/packaging
  packages/openjdk-21/spec
  packages/openjdk-21/vendored-commit
  packages/scheduler/spec
  src/common/init-db-truststore.sh
Due: golangci-lint

create packaging scripts
  ci/autoscaler/pipeline.yml
  ci/autoscaler/tasks/update-sdk/download_java.sh
  ci/autoscaler/tasks/update-sdk/update_java_package.sh
  ci/autoscaler/tasks/update-sdk/update_package.sh
  ci/dockerfiles/autoscaler-tools/Dockerfile
  jobs/eventgenerator/spec
  jobs/eventgenerator/templates/bpm-pre-start.erb
  jobs/golangapiserver/spec
  jobs/golangapiserver/templates/bpm-pre-start.erb
  jobs/operator/spec
  jobs/operator/templates/bpm-pre-start.erb
  jobs/scalingengine/spec
  jobs/scalingengine/templates/bpm-pre-start.erb
  jobs/scheduler/spec
  jobs/scheduler/templates/bpm-pre-start.erb
  jobs/scheduler/templates/bpm.yml.erb
  jobs/scheduler/templates/install_crt_truststore.sh
  packages/db/spec
  packages/openjdk-17/spec.lock
  packages/openjdk-17/version
  packages/openjdk-21/packaging
  packages/openjdk-21/spec
  packages/openjdk-21/vendored-commit
  packages/openjdk-21/version
  packages/scheduler/spec
  scripts/update_vendor_packages
  src/common/init-db-truststore.sh
Due: golangci-lint

review commit - add blob
  ci/autoscaler/tasks/update-sdk/update_java_package.sh
  ci/autoscaler/tasks/update-sdk/vars.source.sh
Due: none

add jdk to bosh blobstore -> avoiding extra binary download
  Makefile
  ci/autoscaler/pipeline.yml
  ci/autoscaler/tasks/update-sdk/download_java.sh
  ci/autoscaler/tasks/update-sdk/update_java_package.sh
  config/blobs.yml
  packages/openjdk-21/packaging
  packages/openjdk-21/spec
Due: none

read java version from sapmachine repo
  ci/autoscaler/tasks/update-sdk/download_java.sh
  ci/autoscaler/tasks/update-sdk/update_java_package.sh
Due: none

Update java version to 21.0.4
  config/blobs.yml
  packages/openjdk-21/spec
  packages/openjdk-21/version
Due: none

fix-update-java-concourse-job
  ci/autoscaler/pipeline.yml
  ci/autoscaler/tasks/update-sdk/download_java.sh
  ci/autoscaler/tasks/update-sdk/update_java_package.sh
  ci/autoscaler/tasks/update-sdk/update_package.sh
Due: none

Update java version to 21.0.4
  config/blobs.yml
  packages/openjdk-21/packaging
  packages/openjdk-21/spec
  packages/openjdk-21/version
Due: none

Fix an integration test
  src/autoscaler/integration/integration_operator_others_test.go
  src/autoscaler/integration/integration_suite_test.go
Due: golangci-lint

fix -> review comments
  .gitignore
  Makefile
  ci/autoscaler/tasks/update-sdk/create_pr.sh
  ci/autoscaler/tasks/update-sdk/update_java_package.sh
Due: none

uploded blobs
  ci/autoscaler/pipeline.yml
  ci/autoscaler/tasks/update-sdk/update_java_package.sh
Due: none

read java version from sapmachine repo
  ci/autoscaler/tasks/update-sdk/download_java.sh
  ci/autoscaler/tasks/update-sdk/update_java_package.sh
  ci/autoscaler/tasks/update-sdk/update_package.sh
Due: none

Refactor RestClientConfig to use RestTemplateBuilder with basic auth and timeout settings
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/RestClientConfig.java
Due: java-formatter, golangci-lint

Remove unused imports
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/RestClientConfig.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/misc/ConcurrentRequestTest.java
Due: java-formatter, golangci-lint

Refactor integration tests to use separate HTTP clients for public API and scheduler
  src/autoscaler/integration/integration_operator_others_test.go
Due: golangci-lint

Refactor and fix failing in scheduler scalingengine integration test
  src/autoscaler/integration/integration_scheduler_scalingengine_test.go
  src/autoscaler/integration/integration_suite_test.go
Due: golangci-lint
