Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop

java-formatter:
  name: java-formatter
  entry: style-guide/inspect-java-format-0.1.sh
  language: script
  stages:
  - commit

golangci-lint:
  name: golangci-lint
  entry: style-guide/golangci-lint-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

rubocop:
  name: rubocop
  entry: style-guide/rubocop-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

create extra target for bosh ci release
  Makefile
Due: none

Updated release-autoscaler.sh to set environment variables before invoking 'make bosh-release'
  ci/autoscaler/scripts/release-autoscaler.sh
Due: none

Remove Prometheus deployment and related components from CI pipeline
  Makefile
  ci/README.md
  ci/autoscaler/scripts/silence_prometheus_alert.sh
  ci/infrastructure/pipeline.yml
  ci/infrastructure/scripts/combine-ops.sh
  ci/infrastructure/scripts/deploy-prometheus.sh
  ci/infrastructure/tasks/combine-ops.yml
  ci/infrastructure/tasks/deploy-prometheus.yml
  ci/operations/prometheus-customize-alerts.yml
  ci/operations/slack-receiver-template.yml
Due: none

Enabled mtar-bucket resource, uncommented job steps for release artifacts, and removed exit statement from release-autoscaler.sh
  ci/autoscaler/pipeline.yml
  ci/autoscaler/scripts/release-autoscaler.sh
Due: none

Remove unstable NixOS/nixpkgs reference from devbox.lock
  devbox.lock
Due: none

fix: release job via correct make target (#3774)
  Makefile
  ci/autoscaler/scripts/release-autoscaler.sh
Due: none

Updated release-autoscaler.sh to use 'bosh create-release' directly with version and tarball path arguments.
  ci/autoscaler/pipeline.yml
  ci/autoscaler/scripts/release-autoscaler.sh
Due: none

created release v15.3.1
  .final_builds/jobs/golangapiserver/index.yml
  .final_builds/packages/changeloglockcleaner/index.yml
  .final_builds/packages/db/index.yml
  .final_builds/packages/eventgenerator/index.yml
  .final_builds/packages/golangapiserver/index.yml
  .final_builds/packages/metricsforwarder/index.yml
  .final_builds/packages/openjdk-21/index.yml
  .final_builds/packages/operator/index.yml
  .final_builds/packages/scalingengine/index.yml
  .final_builds/packages/scheduler/index.yml
  releases/app-autoscaler/app-autoscaler-15.3.1.yml
  releases/app-autoscaler/index.yml
Due: none

Updated release version to 15.3.1 in golangapiserver
  jobs/golangapiserver/spec
  src/autoscaler/api/default_info.json
Due: golangci-lint

Updated set-pipeline.sh to improve CLI checks and streamline variable exports
  ci/autoscaler/set-pipeline.sh
Due: none

Refactor stemcell fetching task and script paths in pipeline
  ci/infrastructure/pipeline.yml
  ci/infrastructure/scripts/fetch-latest-stemcell.sh
  ci/infrastructure/tasks/fetch-latest-stemcell.yml
Due: none

Increase key length to 4096 for Postgres-related SSL certificates in add-postgres-variables.yml
  operations/add-postgres-variables.yml
Due: none

Increase key length to 4096 for Postgres-related SSL certificates in add-postgres-variables.yml (#3790)
  operations/add-postgres-variables.yml
Due: none

Refactor stemcell fetching task and script paths in pipeline (#3785)
  ci/infrastructure/pipeline.yml
  ci/infrastructure/scripts/fetch-latest-stemcell.sh
  ci/infrastructure/tasks/fetch-latest-stemcell.yml
Due: none

Wip
  devbox.lock
  jobs/operator/templates/operator.yml.erb
  operations/use-cf-services.yml
  src/autoscaler/Makefile
  src/autoscaler/build-extension-file.sh
  src/autoscaler/configutil/cf.go
  src/autoscaler/configutil/configutil_test.go
  src/autoscaler/db/db.go
  src/autoscaler/mta.tpl.yaml
  src/autoscaler/operator/cmd/operator/main.go
  src/autoscaler/operator/cmd/operator/operator_suite_test.go
  src/autoscaler/operator/cmd/operator/operator_test.go
  src/autoscaler/operator/config/config.go
  src/autoscaler/operator/config/config_test.go
  src/autoscaler/operator/config/testdata/partial.yml
  src/autoscaler/operator/config/testdata/valid.yml
  src/autoscaler/operator/default_config.json
Due: golangci-lint

Uncomment and update pipeline to reintegrate mtar-bucket resource and related job steps
  ci/autoscaler/pipeline.yml
Due: none

Remove unstable NixOS/nixpkgs dependency from devbox.lock
  devbox.lock
Due: none

Updated release-autoscaler.sh to use 'bosh create-release' and removed exit statement
  ci/autoscaler/scripts/release-autoscaler.sh
Due: none

Add configutil and new vendor dependencies, refactor operator config
  packages/operator/spec
  src/autoscaler/integration/components_test.go
Due: golangci-lint

`golangci-lint migrate`
  .golangci.yaml
Due: none

Set tag with new commit;
  ci/autoscaler/pipeline.yml
Due: none

Revert "Set tag with new commit;"
  ci/autoscaler/pipeline.yml
Due: none

Create a release on the main-branch!
  ci/autoscaler/pipeline.yml
Due: none

Refactor TLS client certificate assignment in autoscaler operator config loading
  src/autoscaler/operator/config/config.go
Due: golangci-lint

Remove exampleconfig/example.yml from autoscaler operator directory
  src/autoscaler/operator/exampleconfig/example.yml
Due: golangci-lint

Fix lint
  src/autoscaler/operator/cmd/operator/operator_test.go
  src/autoscaler/operator/config/config.go
  src/autoscaler/operator/config/config_test.go
Due: golangci-lint

Fix rspec
  spec/jobs/eventgenerator/eventgenerator_spec.rb
  spec/jobs/operator/operator_spec.rb
Due: rubocop

Remove unused code
  src/autoscaler/operator/config/config_test.go
Due: golangci-lint

Remove username and password from Postgres URLs in config files
  src/autoscaler/operator/config/testdata/valid.yml
Due: golangci-lint

Remove code duplication
  src/autoscaler/eventgenerator/config/config_test.go
Due: golangci-lint

Refactor tests
  src/autoscaler/api/cmd/api/api_test.go
  src/autoscaler/api/config/config.go
  src/autoscaler/operator/cmd/operator/operator_test.go
  src/autoscaler/operator/config/config.go
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_test.go
  src/autoscaler/testhelpers/health_endpoint.go
Due: golangci-lint

Remove health server basic auth tests from operator_test.go
  src/autoscaler/operator/cmd/operator/operator_test.go
Due: golangci-lint

Refactor operator test configuration variable name and update health check tests
  src/autoscaler/operator/cmd/operator/operator_suite_test.go
  src/autoscaler/operator/cmd/operator/operator_test.go
  src/autoscaler/operator/config/config.go
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_test.go
Due: golangci-lint

Refactor policy DB initialization and improve error handling in operator main
  src/autoscaler/operator/cmd/operator/main.go
  src/autoscaler/operator/cmd/operator/operator_test.go
Due: golangci-lint

Refactor test descriptions from Context to When in config_test.go
  src/autoscaler/operator/config/config_test.go
Due: golangci-lint

Remove testhelpers dependency and update health check functions in scalingengine tests
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_test.go
Due: golangci-lint

WIP
  operations/use-cf-services.yml
Due: none

Fix broken test
  src/autoscaler/operator/config/config_test.go
Due: golangci-lint

Increase timeout for concourse app task e.g app, broker api test suites
  ci/autoscaler/pipeline.yml
Due: none

WIP
  ci/infrastructure/scripts/deploy-multiapps-controller.sh
  operations/configure-cf-services.yml
  operations/use-cf-services.yml
  packages/scalingengine/spec
  src/autoscaler/.gitignore
  src/autoscaler/Makefile
  src/autoscaler/api/broker/broker_test.go
  src/autoscaler/api/config/config.go
  src/autoscaler/build-extension-file.sh
  src/autoscaler/configutil/cf.go
  src/autoscaler/configutil/configutil_test.go
  src/autoscaler/db/db.go
  src/autoscaler/eventgenerator/config/config.go
  src/autoscaler/eventgenerator/config/config_test.go
  src/autoscaler/integration/components_test.go
  src/autoscaler/metricsforwarder/config/config.go
  src/autoscaler/metricsforwarder/config/config_test.go
  src/autoscaler/metricsforwarder/default_config.json
  src/autoscaler/mta.tpl.yaml
  src/autoscaler/operator/config/config.go
  src/autoscaler/operator/config/config_test.go
  src/autoscaler/scalingengine/cmd/scalingengine/main.go
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_suite_test.go
  src/autoscaler/scalingengine/config/config.go
  src/autoscaler/scalingengine/config/config_test.go
  src/autoscaler/scalingengine/default_config.json
Due: golangci-lint

Path conditions:
  java-formatter: any of: \.java$
  golangci-lint: any of: ^src
  rubocop: any of: \.rb$
