Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop

java-formatter:
  name: java-formatter
  entry: style-guide/inspect-java-format-0.1.sh
  language: script
  stages:
  - commit

golangci-lint:
  name: golangci-lint
  entry: style-guide/golangci-lint-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

rubocop:
  name: rubocop
  entry: style-guide/rubocop-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

Test commit
  README.md
Due: none

Add production of intermediate files and integrate it into the Makefile;
  .gitignore
  src/acceptance/assets/app/go_app/Makefile
  src/acceptance/assets/app/go_app/internal/generate.go
Due: golangci-lint

Adds common go-tools;
  flake.nix
Due: none

Fix paths for openapi-client-generation;
  src/acceptance/assets/app/go_app/internal/generate.go
Due: golangci-lint

Adapt to changed signature for client-creation and re-introduce falsley deleted files;
  .gitignore
  src/acceptance/assets/app/go_app/internal/app/custom_metrics.go
  src/acceptance/assets/app/go_app/internal/custommetrics/api_credentials.go
  src/acceptance/assets/app/go_app/internal/custommetrics/basic_auth_transport.go
Due: golangci-lint

Add Go workspace and VSCode extension recommendations
  .gitignore
  .vscode/extensions.json
  Makefile
  go.work
  src/acceptance/Makefile
  src/acceptance/assets/app/go_app/Makefile
  src/autoscaler/Makefile
  src/changelog/Makefile
  src/changeloglockcleaner/Makefile
Due: golangci-lint

Clean up Makefile;
  src/acceptance/assets/app/go_app/Makefile
Due: golangci-lint

Update flake;
  flake.lock
Due: none

Add swagger-cli to Dockerfile;
  ci/dockerfiles/autoscaler-tools/Dockerfile
Due: none

Make sonarcloud happy (fixing security-issue)
  ci/dockerfiles/autoscaler-tools/Dockerfile
Due: none

Introducing LABEL instead of MAINTAINER(deprecated) in DockerFile
  ci/dockerfiles/autoscaler-deploy/Dockerfile
Due: none

Code generation using OpenAPI Specifications
  Makefile
  api/custom-metrics-api.openapi.yaml
  src/acceptance/assets/app/go_app/internal/generate.go
Due: golangci-lint

Swagger-Tool for Docker tests
  ci/dockerfiles/autoscaler-tools/Dockerfile
Due: none

Github Workflow-Used Make for validating OpenAPI Specifications
  .github/workflows/openapi-specs-check.yaml
Due: none

WIP- Modifying Flake.nix for Swagger cli tool
  flake.nix
Due: none

WIP- Modifying flake.nix for Swagger tool
  flake.nix
Due: none

WIP- Adding forked swagger tool as dependency for nix
  flake.lock
  flake.nix
Due: none

Using --allow-remote to generate OpenAPI Specs
  flake.nix
  src/acceptance/assets/app/go_app/Makefile
  src/acceptance/assets/app/go_app/internal/app/custom_metrics.go
  src/acceptance/assets/app/go_app/internal/generate.go
Due: golangci-lint

Cleanup for API files
  api/policy-api.openapi.yaml
  api/scaling-history-api.openapi.yaml
Due: none

Render monit-file outside the templating-mechanism;
  jobs/scheduler/monit
  jobs/scheduler/spec
Due: none

Safely encode URL of scheduler-health-enpoint;
  jobs/scheduler/monit
Due: none

Find working scheme to check scheduler-process based on its health;
  deploy-autoscaler.log.txt
  jobs/scheduler/monit
Due: none

Revert "Render monit-file outside the templating-mechanism;"
  jobs/scheduler/spec
  jobs/scheduler/templates/monit.erb
Due: none

Use bosh-spec to generate monit-file for scheduler;
  deploy-autoscaler.log.txt
  jobs/scheduler/spec
  jobs/scheduler/templates/monit.erb
Due: none

Working version of the monit-file;
  jobs/scheduler/monit
  jobs/scheduler/spec
Due: none

Restart on failed health-check;
  jobs/scheduler/monit
Due: none

Experiment with monit-file – WIP;
  jobs/scheduler/monit
Due: none

make rubocop happy
  spec/jobs/scheduler/scheduler_spec.rb
Due: rubocop

Make monit work
  jobs/scheduler/monit
  spec/fixtures/monit
  spec/jobs/scheduler/scheduler_spec.rb
Due: rubocop

Revert "Restart on failed health-check;"
  jobs/scheduler/monit
Due: none

Restart on failed health-check and modify erb-script;
  jobs/scheduler/monit
Due: none

test
  README.md
Due: none

test the pipeline
  README.md
  jobs/scheduler/monit
  jobs/scheduler/spec
  spec/fixtures/monit
  spec/jobs/scheduler/scheduler_spec.rb
Due: rubocop

Revert "test the pipeline"
  README.md
  jobs/scheduler/monit
  jobs/scheduler/spec
  spec/fixtures/monit
  spec/jobs/scheduler/scheduler_spec.rb
Due: rubocop

Clean-Up for MakeFile
  src/acceptance/assets/app/go_app/Makefile
Due: golangci-lint

Update java version to 17.0.8_7
  packages/openjdk-17/vendored-commit
Due: none

Updating nix.flake and changes for openapi file
  api/scaling-history-api.openapi.yaml
  flake.lock
Due: none

Trim down `tools.go` usage
  .github/workflows/golangci-lint.yaml
  .golangci.yaml
  Makefile
  ci/autoscaler/scripts/run-integration-tests.sh
  ci/autoscaler/scripts/run-unit-tests.sh
  scripts/generate_test_certs.sh
  src/acceptance/Makefile
  src/acceptance/assets/app/go_app/tools/tools.go
  src/acceptance/tools.go
  src/autoscaler/Makefile
  src/autoscaler/fakes/fakes.go
  src/autoscaler/go.mod
  src/autoscaler/go.sum
  src/autoscaler/tools.go
  src/changelog/Makefile
  src/changeloglockcleaner/Makefile
  src/changeloglockcleaner/tools.go
Due: golangci-lint

Remove generated fakes
  src/acceptance/assets/app/go_app/.gitignore
  src/acceptance/assets/app/go_app/Makefile
  src/acceptance/assets/app/go_app/internal/app/appfakes/fake_cpuwaster.go
  src/acceptance/assets/app/go_app/internal/app/appfakes/fake_custom_metric_client.go
  src/acceptance/assets/app/go_app/internal/app/appfakes/fake_memory_gobbler.go
  src/acceptance/assets/app/go_app/internal/app/appfakes/fake_time_waster.go
Due: golangci-lint

Add dependency for generated openapi-client-code to test-target;
  src/acceptance/assets/app/go_app/Makefile
Due: golangci-lint

Path conditions:
  java-formatter: any of: \.java$
  golangci-lint: any of: ^src
  rubocop: any of: \.rb$
