Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop

.pre-commit-config.yaml:

#  List of git-hooks, during during committing files to git repo

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
        - id: java-formatter
          name: java-formatter
          entry: style-guide/inspect-java-format-0.1.sh
          language: script
          files: '\.java$'
          stages: [commit]
        - id: golangci-lint
          name: golangci-lint
          entry: style-guide/golangci-lint-0.1.sh
          language: script
          files: '^src'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]
        - id: rubocop
          name: rubocop
          entry: style-guide/rubocop-0.1.sh
          language: script
          files: '\.rb$'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]

Fix lint
  spec/jobs/eventgenerator/eventgenerator_spec.rb
  spec/jobs/operator/operator_spec.rb
  spec/jobs/scalingengine/scalingengine_spec.rb
  spec/jobs/scheduler/scheduler_spec.rb
  src/autoscaler/api/publicapiserver/scaling_history_handler.go
Due: golangci-lint, rubocop

bump google java format to 1.22.0
  .github/workflows/java-ci-lint.yaml
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/service/ScheduleManager.java
  style-guide/google-format-ci-v0.1.sh
Due: java-formatter, golangci-lint

Refactor event generator credentials to use constants and remove redundant httpClientTmp in integration tests.
  src/autoscaler/integration/components_test.go
  src/autoscaler/integration/integration_suite_test.go
Due: golangci-lint

Update java version to 21.0.4
  config/blobs.yml
  packages/openjdk-21/spec
  packages/openjdk-21/version
Due: none

read java version from sapmachine repo
  ci/autoscaler/pipeline.yml
  ci/autoscaler/tasks/update-sdk/download_java.sh
  ci/autoscaler/tasks/update-sdk/update_java_package.sh
  ci/autoscaler/tasks/update-sdk/update_package.sh
Due: none

Refactor HTTP client creation and usage across tests
  src/autoscaler/api/cmd/api/api_suite_test.go
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_suite_test.go
  src/autoscaler/integration/integration_golangapi_eventgenerator_test.go
  src/autoscaler/integration/integration_golangapi_scalingengine_test.go
  src/autoscaler/integration/integration_golangapi_scheduler_test.go
  src/autoscaler/integration/integration_operator_others_test.go
  src/autoscaler/integration/integration_suite_test.go
  src/autoscaler/testhelpers/clients.go
Due: golangci-lint

Fix java format
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_suite_test.go
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_test.go
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/RestClientConfig.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/misc/ConcurrentRequestTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/rest/ScheduleRestControllerCreateScheduleAndNofifyScalingEngineTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/util/EmbeddedTomcatUtil.java
Due: java-formatter, golangci-lint

Syncs package specs
  packages/golangapiserver/spec
  packages/scalingengine/spec
Due: none

replace mergo.Merge with a very simple custom implementation
  packages/eventgenerator/spec
  src/autoscaler/envelopeprocessor/envelope_processor.go
  src/autoscaler/envelopeprocessor/envelopeprocessor_test.go
  src/autoscaler/eventgenerator/metric/fetcher.go
  src/autoscaler/eventgenerator/metric/fetcher_test.go
  src/autoscaler/go.mod
  src/autoscaler/go.sum
Due: golangci-lint

Refactor integration tests and improve URL parameter handling
  src/autoscaler/integration/integration_golangapi_eventgenerator_test.go
  src/autoscaler/integration/integration_suite_test.go
Due: golangci-lint

chore(dependencies): replace `dario.cat/mergo` with a custom implementation (#3105)
  packages/eventgenerator/spec
  src/autoscaler/envelopeprocessor/envelope_processor.go
  src/autoscaler/envelopeprocessor/envelopeprocessor_test.go
  src/autoscaler/eventgenerator/metric/fetcher.go
  src/autoscaler/eventgenerator/metric/fetcher_test.go
  src/autoscaler/go.mod
  src/autoscaler/go.sum
Due: golangci-lint

Fix missing client definition in integration test
  src/autoscaler/integration/integration_scheduler_scalingengine_test.go
Due: golangci-lint

fix-update-java-concourse-job
  ci/autoscaler/pipeline.yml
  ci/autoscaler/tasks/update-sdk/download_java.sh
  ci/autoscaler/tasks/update-sdk/update_java_package.sh
  ci/autoscaler/tasks/update-sdk/update_package.sh
Due: none

Enable test case scale out in AutoScaler Public API
  src/acceptance/api/api_test.go
Due: golangci-lint

Switch autoscaler components from HTTPS to HTTP
  jobs/eventgenerator/templates/eventgenerator.yml.erb
  jobs/golangapiserver/templates/apiserver.yml.erb
  jobs/operator/templates/operator.yml.erb
Due: none

Remove health credentials from api server
  templates/app-autoscaler.yml
Due: none

Fixed server configuration block and added credentials for scaling engine in app-autoscaler.yml
  templates/app-autoscaler.yml
Due: none

Refactor variable declarations in api_suite_test.go for clarity
  src/acceptance/api/api_suite_test.go
Due: golangci-lint

Refactor test context description
  src/acceptance/api/api_test.go
Due: golangci-lint

Fix incorrect password reference in event_generator config
  jobs/golangapiserver/templates/apiserver.yml.erb
Due: none

Refactor API tests and helpers to use dynamic URL construction
  src/acceptance/api/api_suite_test.go
  src/acceptance/api/api_test.go
  src/acceptance/app/app_suite_test.go
  src/acceptance/helpers/helpers.go
  src/acceptance/helpers/policy.go
Due: golangci-lint

Update java version to 21.0.4 (#3109)
  config/blobs.yml
  packages/openjdk-21/spec
  packages/openjdk-21/version
Due: none

remove more or less unused dependency
  src/autoscaler/go.mod
  src/autoscaler/healthendpoint/health_readiness_test.go
Due: golangci-lint

Add error handling for URL parsing in getAggregatedMetrics function
  src/acceptance/api/api_test.go
Due: golangci-lint

Refactor HTTP client variable names and usage in eventgenerator tests
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_suite_test.go
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_test.go
Due: golangci-lint

Handle error for basic auth middleware creation in event generator server
  src/autoscaler/eventgenerator/server/server.go
Due: golangci-lint

Add custom Cloud Foundry client reactor JAR to Maven install in deploy script
  ci/infrastructure/scripts/deploy-multiapps-controller.sh
Due: none

chore(deps): remove unused dependency `github.com/pkg/errors` (#3110)
  src/autoscaler/go.mod
  src/autoscaler/healthendpoint/health_readiness_test.go
Due: golangci-lint

Updated release version to 14.1.1 in golangapiserver
  jobs/golangapiserver/spec
Due: none

created release v14.1.1
  .final_builds/jobs/eventgenerator/index.yml
  .final_builds/jobs/golangapiserver/index.yml
  .final_builds/jobs/operator/index.yml
  .final_builds/jobs/scalingengine/index.yml
  .final_builds/jobs/scheduler/index.yml
  .final_builds/packages/common/index.yml
  .final_builds/packages/db/index.yml
  .final_builds/packages/eventgenerator/index.yml
  .final_builds/packages/golangapiserver/index.yml
  .final_builds/packages/metricsforwarder/index.yml
  .final_builds/packages/openjdk-21/index.yml
  .final_builds/packages/operator/index.yml
  .final_builds/packages/scalingengine/index.yml
  .final_builds/packages/scheduler/index.yml
  releases/app-autoscaler/app-autoscaler-14.1.1.yml
  releases/app-autoscaler/index.yml
Due: none

add poc
  basic_and_mtls_same_port.go
  ca.crt
  ca.key
  ca.srl
  client.crt
  client.csr
  client.key
  server.crt
  server.csr
  server.key
Due: none

combine all necessary updates
  devbox.json
  devbox.lock
  packages/eventgenerator/spec
  packages/metricsforwarder/spec
  src/autoscaler/envelopeprocessor/envelope_processor.go
  src/autoscaler/envelopeprocessor/envelopeprocessor_test.go
  src/autoscaler/eventgenerator/aggregator/metric_poller_test.go
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_suite_test.go
  src/autoscaler/eventgenerator/metric/fetcher.go
  src/autoscaler/eventgenerator/metric/fetcher_factory.go
  src/autoscaler/eventgenerator/metric/fetcher_factory_test.go
  src/autoscaler/eventgenerator/metric/fetcher_test.go
  src/autoscaler/go.mod
  src/autoscaler/go.sum
  src/autoscaler/integration/integration_logcache_eventgenerator_scalingengine_test.go
  src/autoscaler/metricsforwarder/forwarder/metric_forwarder.go
  src/autoscaler/metricsforwarder/forwarder/metron_emitter.go
  src/autoscaler/metricsforwarder/forwarder/metron_emitter_test.go
  src/autoscaler/metricsforwarder/forwarder/syslog_emitter.go
  src/autoscaler/metricsforwarder/forwarder/syslog_emitter_test.go
  src/autoscaler/metricsforwarder/testhelpers/test_helpers.go
  src/autoscaler/testhelpers/log_cache_mock.go
Due: golangci-lint

🤖🦾🛠️ go mod tidy & make package-specs
  packages/eventgenerator/spec
  src/autoscaler/go.mod
  src/autoscaler/go.sum
Due: golangci-lint

Remove custom Cloud Foundry client reactor JAR installation from deploy script
  ci/infrastructure/scripts/deploy-multiapps-controller.sh
Due: none

Remove basic auth properties for eventgenerator from scalingengine spec
  jobs/scalingengine/spec
Due: none

Refactor server tests to use url.URL and simplify request setup
  src/autoscaler/metricsforwarder/server/custom_metrics_handlers_test.go
  src/autoscaler/metricsforwarder/server/server_suite_test.go
  src/autoscaler/metricsforwarder/server/server_test.go
Due: golangci-lint
