Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop

java-formatter:
  name: java-formatter
  entry: style-guide/inspect-java-format-0.1.sh
  language: script
  stages:
  - commit

golangci-lint:
  name: golangci-lint
  entry: style-guide/golangci-lint-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

rubocop:
  name: rubocop
  entry: style-guide/rubocop-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

Fix issues in scaling engine test
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_test.go
  src/autoscaler/scalingengine/server/server.go
Due: golangci-lint

Fixes unnecessary trailing newline
  src/autoscaler/metricsforwarder/cmd/metricsforwarder/main.go
Due: golangci-lint

Uses texthelper client for eventgenerator test
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_test.go
Due: golangci-lint

Remove unused port variable
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_suite_test.go
Due: golangci-lint

Remove unused comments
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_test.go
Due: golangci-lint

Remove useless assertion
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_test.go
Due: golangci-lint

fix: metricsforwarder should not send metrics to syslog server of log-cache in `acceptance-log-cache-syslog`-test
  ci/autoscaler/pipeline.yml
Due: none

Remove irrelevant tesT
  src/autoscaler/eventgenerator/server/server_test.go
Due: golangci-lint

Fix Lint warning
  spec/jobs/golangapiserver/apiserver_spec.rb
Due: rubocop

Remove unused variables
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_suite_test.go
Due: golangci-lint

Remove unused variables
  src/autoscaler/scalingengine/server/server_test.go
Due: golangci-lint

Updated release version to 14.0.0 in golangapiserver
  jobs/golangapiserver/spec
Due: none

created release v14.0.0
  .final_builds/jobs/eventgenerator/index.yml
  .final_builds/jobs/golangapiserver/index.yml
  .final_builds/jobs/operator/index.yml
  .final_builds/packages/db/index.yml
  .final_builds/packages/eventgenerator/index.yml
  .final_builds/packages/golangapiserver/index.yml
  .final_builds/packages/metricsforwarder/index.yml
  .final_builds/packages/operator/index.yml
  .final_builds/packages/scalingengine/index.yml
  .final_builds/packages/scheduler/index.yml
  releases/app-autoscaler/app-autoscaler-14.0.0.yml
  releases/app-autoscaler/index.yml
Due: none

fix(ci): make `acceptance-log-cache-syslog` run with a `metricsforwarder` sending metrics to the `loggr-syslog-agent` (#3034)
  ci/autoscaler/pipeline.yml
Due: none

remove instancemetrics_db leftovers which refer to the appinstancemetrics table that got deleted
  jobs/operator/spec
  operations/connect_to_postgres_with_certs.yml
  operations/disable-postgres-tls-config.yml
  templates/app-autoscaler.yml
Due: none

point to the right branch
  ci/infrastructure/pipeline.yml
Due: none

fix(metrics-architecture): remove configuration referencing the dead table `appinstancemetrics` (#3035)
  jobs/operator/spec
  operations/connect_to_postgres_with_certs.yml
  operations/disable-postgres-tls-config.yml
  templates/app-autoscaler.yml
Due: none

Updated release version to 14.0.1 in golangapiserver
  jobs/golangapiserver/spec
Due: none

created release v14.0.1
  .final_builds/jobs/golangapiserver/index.yml
  .final_builds/jobs/operator/index.yml
  .final_builds/packages/db/index.yml
  .final_builds/packages/eventgenerator/index.yml
  .final_builds/packages/golangapiserver/index.yml
  .final_builds/packages/metricsforwarder/index.yml
  .final_builds/packages/operator/index.yml
  .final_builds/packages/scalingengine/index.yml
  .final_builds/packages/scheduler/index.yml
  releases/app-autoscaler/app-autoscaler-14.0.1.yml
  releases/app-autoscaler/index.yml
Due: none

↑❄ Update flake-inputs;
  flake.lock
  local-flake/flake.lock
Due: none

Unify inputs of the two flakes;
  flake.lock
  flake.nix
  local-flake/flake.lock
Due: none

Revert "Unify inputs of the two flakes;" (Devbox does not like that.)
  flake.lock
  flake.nix
  local-flake/flake.lock
Due: none

Unify internal flake and top-level-flake;
  devbox.json
  local-flake/flake.lock
  local-flake/flake.nix
Due: none

Set jobs and specs to not use the healthendpoint port
  jobs/eventgenerator/spec
  jobs/eventgenerator/templates/eventgenerator.yml.erb
  jobs/operator/spec
  jobs/operator/templates/healthendpoint.crt.erb
  jobs/operator/templates/healthendpoint.key.erb
  jobs/operator/templates/healthendpoint_ca.crt.erb
  jobs/operator/templates/operator.yml.erb
  jobs/scalingengine/spec
  jobs/scalingengine/templates/healthendpoint.crt.erb
  jobs/scalingengine/templates/healthendpoint.key.erb
  jobs/scalingengine/templates/healthendpoint_ca.crt.erb
  jobs/scalingengine/templates/scalingengine.yml.erb
  spec/jobs/common/health_endpoint_spec.rb
  spec/jobs/eventgenerator/eventgenerator_spec.rb
  spec/jobs/operator/operator_spec.rb
  spec/jobs/scalingengine/scalingengine_spec.rb
Due: rubocop

Adds uaac verification before trying to perform an autoscaler deploy
  ci/autoscaler/scripts/deploy-autoscaler.sh
Due: none

Remove health port and server from healthendpoint configs
  src/autoscaler/api/cmd/api/api_suite_test.go
  src/autoscaler/api/config/config_test.go
  src/autoscaler/eventgenerator/config/config.go
  src/autoscaler/eventgenerator/config/config_test.go
  src/autoscaler/eventgenerator/exampleconfig/example.yaml
  src/autoscaler/healthendpoint/server.go
  src/autoscaler/helpers/health.go
  src/autoscaler/helpers/health_test.go
  src/autoscaler/metricsforwarder/cmd/metricsforwarder/metricsforwarder_suite_test.go
  src/autoscaler/metricsforwarder/config/config.go
  src/autoscaler/metricsforwarder/config/config_test.go
  src/autoscaler/metricsforwarder/exampleconfig/config.yml
  src/autoscaler/operator/cmd/operator/operator_suite_test.go
  src/autoscaler/operator/cmd/operator/operator_test.go
  src/autoscaler/operator/config/config.go
  src/autoscaler/operator/config/config_test.go
  src/autoscaler/operator/config/testdata/valid.yml
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_test.go
  src/autoscaler/scalingengine/config/config.go
  src/autoscaler/scalingengine/config/config_test.go
  templates/app-autoscaler.yml
Due: golangci-lint

Remove NewServerWithBasicAuth from health endpoint
  src/autoscaler/healthendpoint/server.go
  src/autoscaler/operator/cmd/operator/main.go
Due: golangci-lint

Update spec/jobs/operator/operator_spec.rb
  spec/jobs/operator/operator_spec.rb
Due: rubocop

Update spec/jobs/scalingengine/scalingengine_spec.rb
  spec/jobs/scalingengine/scalingengine_spec.rb
Due: rubocop

Remove metrics forwarder health port from bosh job
  jobs/metricsforwarder/spec
  jobs/metricsforwarder/templates/healthendpoint.crt.erb
  jobs/metricsforwarder/templates/healthendpoint.key.erb
  jobs/metricsforwarder/templates/healthendpoint_ca.crt.erb
  jobs/metricsforwarder/templates/metricsforwarder.yml.erb
Due: none

Fix problem with port for apiserver
  jobs/golangapiserver/templates/apiserver.yml.erb
Due: none

Adds missing server.port for operator
  jobs/operator/spec
  jobs/operator/templates/operator.yml.erb
Due: none

Fix broken test
  src/autoscaler/scalingengine/config/config_test.go
  src/autoscaler/scalingengine/config/testdata/invalid.txt
  src/autoscaler/scalingengine/config/testdata/valid.yml
Due: golangci-lint

Path conditions:
  java-formatter: any of: \.java$
  golangci-lint: any of: ^src
  rubocop: any of: \.rb$
