Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop

.pre-commit-config.yaml:

#  List of git-hooks, during during committing files to git repo

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
        - id: java-formatter
          name: java-formatter
          entry: style-guide/inspect-java-format-0.1.sh
          language: script
          files: '\.java$'
          stages: [commit]
        - id: golangci-lint
          name: golangci-lint
          entry: style-guide/golangci-lint-0.1.sh
          language: script
          files: '^src'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]
        - id: rubocop
          name: rubocop
          entry: style-guide/rubocop-0.1.sh
          language: script
          files: '\.rb$'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]

Fix `credhub-cli` download path (#2198)
  ci/dockerfiles/autoscaler-deploy/Dockerfile
  ci/dockerfiles/autoscaler-tools/Dockerfile
Due: none

Introduce debug-code
  .github/workflows/acceptance_tests_buildin_close.yaml
Due: none

Reducing the `prConcurrentLimit` to `2`
  renovate.json
Due: none

Add further changes to trigger acceptance-tests for builtin;
  .github/workflows/acceptance_tests_buildin.yaml
  .github/workflows/acceptance_tests_buildin_close.yaml
  ci/autoscaler/scripts/cleanup-autoscaler.sh
Due: none

Update golang version to 1.21.2
  .final_builds/packages/golang-1-linux/index.yml
  .tool-versions
  ci/terragrunt/app-autoscaler/concourse/pipelines/api-tester/src/go.mod
  packages/golang-1-linux/spec.lock
  packages/golang-1-linux/vendored-commit
  packages/golang-1-linux/version
  src/acceptance/assets/app/go_app/go.mod
  src/acceptance/go.mod
  src/autoscaler/go.mod
  src/changelog/go.mod
  src/changeloglockcleaner/go.mod
Due: golangci-lint

Remove leading relative-path-prefix;
  .github/workflows/acceptance_tests_buildin.yaml
  .github/workflows/acceptance_tests_buildin_close.yaml
Due: none

chore(zap): replace otel trace ID with custom fields
  src/acceptance/assets/app/go_app/internal/app/app.go
Due: golangci-lint

🚧🛠️ Debug: Activate workflow also under non-closed circumstances;
  .github/workflows/acceptance_tests_buildin.yaml
  .github/workflows/acceptance_tests_buildin_close.yaml
Due: none

More debug-code;
  .github/workflows/acceptance_tests_buildin_close.yaml
  .github/workflows/acceptance_tests_reusable.yaml
Due: none

Fix
  .github/workflows/acceptance_tests_buildin_close.yaml
Due: none

Fix 2
  .github/workflows/acceptance_tests_buildin_close.yaml
Due: none

Fix 3
  .github/workflows/acceptance_tests_buildin_close.yaml
Due: none

Apply fix to other workflows and remove debug-code;
  .github/workflows/acceptance_tests_broker_close.yaml
  .github/workflows/acceptance_tests_buildin.yaml
  .github/workflows/acceptance_tests_buildin_close.yaml
Due: none

Update golang version to 1.21.2
  .final_builds/packages/golang-1-linux/index.yml
  ci/terragrunt/app-autoscaler/concourse/pipelines/api-tester/src/go.mod
  packages/golang-1-linux/spec.lock
  packages/golang-1-linux/vendored-commit
  packages/golang-1-linux/version
  src/acceptance/assets/app/go_app/go.mod
  src/acceptance/go.mod
  src/autoscaler/go.mod
  src/changelog/go.mod
  src/changeloglockcleaner/go.mod
Due: golangci-lint

manually update some package for which renovate is failing
  packages/eventgenerator/spec
  src/autoscaler/eventgenerator/client/log_cache_client.go
  src/autoscaler/eventgenerator/client/log_cache_client_test.go
  src/autoscaler/eventgenerator/client/metric_client_factory_test.go
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_test.go
  src/autoscaler/go.mod
  src/autoscaler/go.sum
Due: golangci-lint

test with an upper CPU threshold of 200
  .github/workflows/acceptance_tests_reusable.yaml
  ci/autoscaler/scripts/deploy-autoscaler.sh
  ci/autoscaler/scripts/run-acceptance-tests.sh
  ci/autoscaler/scripts/vars.source.sh
  operations/cpu_upper_threshold_200.yml
  operations/cpu_upper_threshold_400.yml
Due: none

Updated release version to 11.2.0 in golangapiserver
  jobs/golangapiserver/spec
Due: none

created release v11.2.0
  .final_builds/jobs/golangapiserver/index.yml
  .final_builds/packages/changeloglockcleaner/index.yml
  .final_builds/packages/db/index.yml
  .final_builds/packages/eventgenerator/index.yml
  .final_builds/packages/golangapiserver/index.yml
  .final_builds/packages/metricsforwarder/index.yml
  .final_builds/packages/metricsgateway/index.yml
  .final_builds/packages/metricsserver/index.yml
  .final_builds/packages/operator/index.yml
  .final_builds/packages/scalingengine/index.yml
  .final_builds/packages/scheduler/index.yml
  releases/app-autoscaler/app-autoscaler-11.2.0.yml
  releases/app-autoscaler/index.yml
Due: none

add opentelemetry
  packages/eventgenerator/spec
  packages/golangapiserver/spec
  packages/metricsforwarder/spec
  packages/metricsgateway/spec
  packages/metricsserver/spec
  packages/operator/spec
  packages/scalingengine/spec
  src/acceptance/assets/app/go_app/go.mod
  src/acceptance/assets/app/go_app/go.sum
  src/acceptance/assets/app/go_app/internal/app/app.go
  src/autoscaler/api/cmd/api/main.go
  src/autoscaler/api/publicapiserver/public_api_server.go
  src/autoscaler/api/publicapiserver/scaling_history_handler.go
  src/autoscaler/db/sqldb/scalingengine_sqldb.go
  src/autoscaler/go.mod
  src/autoscaler/go.sum
  src/autoscaler/helpers/lager.go
  src/autoscaler/scalingengine/cmd/scalingengine/main.go
  src/autoscaler/scalingengine/server/scaling_history_handler.go
  src/autoscaler/scalingengine/server/server.go
Due: golangci-lint

Fix scaling history pagination handling
  .gitignore
  api/scaling-history-api.openapi.yaml
  packages/golangapiserver/spec
  packages/scalingengine/spec
  src/acceptance/assets/app/go_app/internal/generate.go
  src/autoscaler/Makefile
  src/autoscaler/api/publicapiserver/public_api_handler.go
  src/autoscaler/api/publicapiserver/public_api_handler_test.go
  src/autoscaler/api/publicapiserver/public_api_server.go
  src/autoscaler/api/publicapiserver/public_api_server_test.go
  src/autoscaler/api/publicapiserver/publicapiserver_suite_test.go
  src/autoscaler/api/publicapiserver/scaling_history_handler.go
  src/autoscaler/db/db.go
  src/autoscaler/db/sqldb/scalingengine_sqldb.go
  src/autoscaler/db/sqldb/scalingengine_sqldb_test.go
  src/autoscaler/go.mod
  src/autoscaler/go.sum
  src/autoscaler/helpers/apis/generate.go
  src/autoscaler/integration/helpers_test.go
  src/autoscaler/integration/integration_golangapi_scalingengine_test.go
  src/autoscaler/integration/integration_suite_test.go
  src/autoscaler/routes/routes.go
  src/autoscaler/routes/routes_test.go
  src/autoscaler/scalingengine/cmd/scalingengine/main.go
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_suite_test.go
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_test.go
  src/autoscaler/scalingengine/server/scaling_handler.go
  src/autoscaler/scalingengine/server/scaling_handler_test.go
  src/autoscaler/scalingengine/server/scaling_history_handler.go
  src/autoscaler/scalingengine/server/scaling_history_handler_test.go
  src/autoscaler/scalingengine/server/server.go
  src/autoscaler/scalingengine/server/server_test.go
Due: golangci-lint

address some sonarqube findings
  src/autoscaler/api/publicapiserver/public_api_handler.go
  src/autoscaler/helpers/handlers/handlers.go
Due: golangci-lint

Fix CodeQL scanning
  .github/workflows/codeql-analysis.yml
  .tool-versions
  Makefile
  renovate.json
Due: none

Fix CodeQL scanning (#2215)
  .github/workflows/codeql-analysis.yml
  .tool-versions
  Makefile
  renovate.json
Due: none

split out handler creation
  src/autoscaler/api/publicapiserver/public_api_server.go
  src/autoscaler/api/publicapiserver/scaling_history_handler.go
  src/autoscaler/scalingengine/server/scaling_history_handler.go
  src/autoscaler/scalingengine/server/server.go
Due: golangci-lint

This can stay fix during the lifetime of the make-process.
  src/autoscaler/Makefile
Due: golangci-lint

Clarify reason for no-op bearer auth handler
  src/autoscaler/api/publicapiserver/scaling_history_handler.go
Due: golangci-lint

reformant
  src/autoscaler/db/sqldb/scalingengine_sqldb.go
Due: golangci-lint

reformat
  src/autoscaler/db/sqldb/scalingengine_sqldb.go
Due: golangci-lint

Fix issues caught in review
  api/scaling-history-api.openapi.yaml
  src/autoscaler/api/publicapiserver/scaling_history_handler.go
Due: golangci-lint

Replace DBCP2 database connection pool implementation with HikariCP
  src/scheduler/pom.xml
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/DataSourceConfig.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/health/DbStatusCollector.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/SchedulerApplicationTest.java
Due: java-formatter, golangci-lint

Replace DBCP2 database connection pool implementation with HikariCP (#2299)
  src/scheduler/pom.xml
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/DataSourceConfig.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/health/DbStatusCollector.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/SchedulerApplicationTest.java
Due: java-formatter, golangci-lint

Track generated code
  src/autoscaler/Makefile
Due: golangci-lint

react to changes in the generated files
  src/autoscaler/Makefile
Due: golangci-lint

`s/ogen/openapi-generated-clients-and-servers/g`
  src/autoscaler/Makefile
Due: golangci-lint

fixup! Track generated code
  src/autoscaler/Makefile
Due: golangci-lint

Without the : to evaluate it each time
  src/autoscaler/Makefile
Due: golangci-lint

Add top-level `Makefile` target and use it in dependency update
  .github/workflows/dependency-update.go-mod-tidy_and_make-package-specs.yaml
  Makefile
Due: none

fixup! Add top-level `Makefile` target and use it in dependency update
  .github/workflows/bosh-release-checks.yaml
  .github/workflows/dependency-spec-updates.yaml
  .github/workflows/tidy-go-mod.yaml
  ci/autoscaler/pipeline.yml
Due: none
