Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop

.pre-commit-config.yaml:

#  List of git-hooks, during during committing files to git repo

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
        - id: java-formatter
          name: java-formatter
          entry: style-guide/inspect-java-format-0.1.sh
          language: script
          files: '\.java$'
          stages: [commit]
        - id: golangci-lint
          name: golangci-lint
          entry: style-guide/golangci-lint-0.1.sh
          language: script
          files: '^src'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]
        - id: rubocop
          name: rubocop
          entry: style-guide/rubocop-0.1.sh
          language: script
          files: '\.rb$'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]

fix db
  src/autoscaler/db/sqldb/binding_sqldb.go
  src/autoscaler/db/sqldb/binding_sqldb_test.go
  src/autoscaler/db/sqldb/sqldb_suite_test.go
  src/autoscaler/metricsforwarder/config/config.go
Due: golangci-lint

Generates openapi on build-all task
  Makefile
Due: none

Comment out Prometheus alert silencing commands in deploy-autoscaler.sh
  ci/autoscaler/scripts/deploy-autoscaler.sh
Due: none

Refactor health endpoint configuration across multiple jobs
  jobs/eventgenerator/templates/eventgenerator.yml.erb
  jobs/golangapiserver/templates/apiserver.yml.erb
  jobs/metricsforwarder/templates/metricsforwarder.yml.erb
  jobs/operator/templates/operator.yml.erb
  jobs/scalingengine/templates/scalingengine.yml.erb
  spec/jobs/common/health_endpoint_spec.rb
  spec/jobs/eventgenerator/eventgenerator_spec.rb
  spec/jobs/metricsforwarder/metricsforwarder_spec.rb
  spec/jobs/operator/operator_spec.rb
  spec/jobs/scalingengine/scalingengine_spec.rb
  src/autoscaler/build-extension-file.sh
  src/autoscaler/mta.tpl.yaml
Due: golangci-lint, rubocop

Bump disk of the deploy multiapps controller
  ci/infrastructure/scripts/deploy-multiapps-controller.sh
Due: none

Adds an extra attempt to the autoscaler app suite when running with mtar
  ci/autoscaler/pipeline.yml
Due: none

add acceptance tests
  src/acceptance/app/app_suite_test.go
  src/acceptance/app/custom_metric_test.go
  src/autoscaler/metricsforwarder/server/auth/custom_metrics_strategy.go
Due: golangci-lint

Update devbox
  devbox.json
  devbox.lock
Due: none

fix db test by setting default to same_app
  src/autoscaler/api/broker/broker.go
  src/autoscaler/db/sqldb/binding_sqldb_test.go
Due: golangci-lint

custom metric strategy should be at the scaling side
  src/acceptance/app/custom_metric_test.go
  src/autoscaler/db/db.go
  src/autoscaler/metricsforwarder/server/auth/custom_metrics_strategy.go
  src/autoscaler/metricsforwarder/server/auth/xfcc_auth.go
Due: golangci-lint

remove tag regex
  ci/autoscaler/pipeline.yml
  ci/autoscaler/tasks/update-sdk/update_java_package.sh
Due: none

Update java version to 21.0.5
  config/blobs.yml
  packages/openjdk-21/spec
  packages/openjdk-21/version
Due: none

remove tag regex
  ci/autoscaler/pipeline.yml
  ci/autoscaler/tasks/update-sdk/download_java.sh
  ci/autoscaler/tasks/update-sdk/update_java_package.sh
Due: none

Update java version to 21.0.5
  ci/autoscaler/tasks/update-sdk/download_java.sh
  config/blobs.yml
  packages/openjdk-21/spec
  packages/openjdk-21/version
Due: none

add some tests and refactor
  ci/autoscaler/scripts/deploy-autoscaler.sh
  new-test-policy.json
  src/acceptance/app/custom_metric_test.go
  src/autoscaler/api/broker/broker.go
  src/autoscaler/api/brokerserver/broker_handler_test.go
  src/autoscaler/db/db.go
  src/autoscaler/db/sqldb/binding_sqldb.go
  src/autoscaler/db/sqldb/binding_sqldb_test.go
  src/autoscaler/metricsforwarder/config/config_test.go
  src/autoscaler/metricsforwarder/server/auth/xfcc_auth.go
  src/autoscaler/models/binding_configs.go
Due: golangci-lint

Update publicapi routes
  ci/autoscaler/scripts/vars.source.sh
  src/autoscaler/Makefile
  src/autoscaler/build-extension-file.sh
  src/autoscaler/mta.tpl.yaml
Due: golangci-lint

fix linters
  src/acceptance/app/app_suite_test.go
  src/acceptance/app/custom_metric_test.go
  src/acceptance/assets/app/go_app/internal/app/custom_metrics_test.go
  src/acceptance/helpers/helpers.go
  src/autoscaler/api/db/servicebroker.db.changelog.yaml
  src/autoscaler/db/sqldb/binding_sqldb.go
  src/autoscaler/db/sqldb/binding_sqldb_test.go
  src/autoscaler/metricsforwarder/server/auth/authenticator.go
  src/autoscaler/metricsforwarder/server/auth/custom_metrics_strategy.go
  src/autoscaler/metricsforwarder/server/auth/xfcc_auth.go
Due: golangci-lint

refactor naming
  src/autoscaler/metricsforwarder/server/auth/custom_metrics_strategy.go
  src/autoscaler/metricsforwarder/server/auth/xfcc_auth.go
Due: golangci-lint

Update service credential key in metricsforwarder config loading
  src/autoscaler/metricsforwarder/config/config.go
Due: golangci-lint

Remove metrics forwarder host configuration and update deployment scripts
  ci/autoscaler/scripts/deploy-autoscaler.sh
  operations/use-cf-services.yml
  src/autoscaler/Makefile
  src/autoscaler/build-extension-file.sh
  src/autoscaler/mta.tpl.yaml
Due: golangci-lint

Refactor config loading and add error handling in autoscaler API
  src/autoscaler/api/config/config.go
  src/autoscaler/api/config/config_test.go
  src/autoscaler/api/default_catalog.json
  src/autoscaler/api/default_config.json
  src/autoscaler/api/default_info.json
  src/autoscaler/build-extension-file.sh
  src/autoscaler/metricsforwarder/config/config_test.go
  src/autoscaler/testhelpers/files.go
Due: golangci-lint

verify if producer app is bound to same autoscaler instance
  scripts/generate_test_certs.sh
  src/autoscaler/db/db.go
  src/autoscaler/db/sqldb/binding_sqldb.go
  src/autoscaler/db/sqldb/binding_sqldb_test.go
  src/autoscaler/db/sqldb/factories.go
  src/autoscaler/metricsforwarder/cmd/metricsforwarder/main.go
  src/autoscaler/metricsforwarder/server/auth/auth_suite_test.go
  src/autoscaler/metricsforwarder/server/auth/auth_test.go
  src/autoscaler/metricsforwarder/server/auth/authenticator.go
  src/autoscaler/metricsforwarder/server/auth/xfcc_auth.go
  src/autoscaler/metricsforwarder/server/custom_metrics_handlers.go
  src/autoscaler/metricsforwarder/server/custom_metrics_handlers_test.go
  src/autoscaler/metricsforwarder/server/server.go
  src/autoscaler/metricsforwarder/server/server_suite_test.go
Due: golangci-lint

configure bindingdb in metricsforwarder to authenticate producer app
  jobs/metricsforwarder/spec
  jobs/metricsforwarder/templates/binding_db.crt.erb
  jobs/metricsforwarder/templates/binding_db.key.erb
  jobs/metricsforwarder/templates/binding_db_ca.crt.erb
  jobs/metricsforwarder/templates/metricsforwarder.yml.erb
  spec/fixtures/metricsforwarder.yml
  spec/jobs/metricsforwarder/metricsforwarder_spec.rb
  src/autoscaler/api/broker/broker.go
  src/autoscaler/api/brokerserver/broker_handler_test.go
  src/autoscaler/api/db/servicebroker.db.changelog.yaml
  src/autoscaler/db/db.go
  src/autoscaler/db/sqldb/binding_sqldb.go
  src/autoscaler/db/sqldb/binding_sqldb_test.go
  src/autoscaler/db/sqldb/sqldb_suite_test.go
  src/autoscaler/eventgenerator/metric/fetcher_test.go
  src/autoscaler/metricsforwarder/cmd/metricsforwarder/metricsforwarder_suite_test.go
  src/autoscaler/metricsforwarder/config/config.go
  src/autoscaler/metricsforwarder/config/config_test.go
  src/autoscaler/metricsforwarder/server/auth/custom_metrics_strategy.go
  src/autoscaler/metricsforwarder/server/auth/xfcc_auth.go
  src/autoscaler/metricsforwarder/server/server_test.go
  src/autoscaler/models/binding_configs.go
  templates/app-autoscaler.yml
Due: golangci-lint, rubocop

add custom metrics strategy FK in database
  ci/autoscaler/scripts/deploy-autoscaler.sh
  flake.lock
  new-test-policy.json
  src/acceptance/app/app_suite_test.go
  src/acceptance/app/custom_metric_test.go
  src/acceptance/assets/app/go_app/internal/app/custom_metrics.go
  src/acceptance/assets/app/go_app/internal/app/custom_metrics_test.go
  src/acceptance/assets/file/policy/policy-with-configuration.json
  src/acceptance/broker/broker_test.go
  src/acceptance/helpers/apps.go
  src/acceptance/helpers/helpers.go
  src/autoscaler/api/broker/broker.go
  src/autoscaler/api/brokerserver/broker_handler_test.go
  src/autoscaler/api/db/servicebroker.db.changelog.yaml
  src/autoscaler/db/db.go
  src/autoscaler/db/sqldb/binding_sqldb.go
  src/autoscaler/db/sqldb/binding_sqldb_test.go
  src/autoscaler/db/sqldb/sqldb_suite_test.go
  src/autoscaler/eventgenerator/metric/fetcher_test.go
  src/autoscaler/metricsforwarder/config/config.go
  src/autoscaler/metricsforwarder/config/config_test.go
  src/autoscaler/metricsforwarder/server/auth/authenticator.go
  src/autoscaler/metricsforwarder/server/auth/custom_metrics_strategy.go
  src/autoscaler/metricsforwarder/server/auth/xfcc_auth.go
  src/autoscaler/models/binding_configs.go
Due: golangci-lint

acceptance test
  ci/autoscaler/scripts/deploy-autoscaler.sh
  new-test-policy.json
  src/acceptance/app/app_suite_test.go
  src/acceptance/app/cf_metadata_test.go
  src/acceptance/app/custom_metric_test.go
  src/acceptance/app/dynamic_policy_test.go
  src/acceptance/app/lead_times_test.go
  src/acceptance/app/recurring_schedule_policy_test.go
  src/acceptance/app/specificdate_schedule_policy_test.go
  src/acceptance/assets/app/go_app/internal/app/custom_metrics.go
  src/acceptance/assets/app/go_app/internal/app/custom_metrics_test.go
  src/acceptance/helpers/apps.go
  src/acceptance/helpers/helpers.go
  src/autoscaler/api/broker/broker.go
  src/autoscaler/api/brokerserver/broker_handler_test.go
  src/autoscaler/api/db/servicebroker.db.changelog.yaml
  src/autoscaler/db/db.go
  src/autoscaler/db/sqldb/binding_sqldb.go
  src/autoscaler/db/sqldb/binding_sqldb_test.go
  src/autoscaler/db/sqldb/sqldb_suite_test.go
  src/autoscaler/metricsforwarder/server/auth/auth_test.go
  src/autoscaler/metricsforwarder/server/auth/authenticator.go
  src/autoscaler/metricsforwarder/server/auth/custom_metrics_strategy.go
  src/autoscaler/metricsforwarder/server/auth/xfcc_auth.go
  src/autoscaler/metricsforwarder/server/custom_metrics_handlers.go
  src/autoscaler/metricsforwarder/server/custom_metrics_handlers_test.go
  src/autoscaler/metricsforwarder/server/server.go
  src/autoscaler/models/binding_configs.go
Due: golangci-lint

test for go_app
  src/acceptance/assets/app/go_app/Makefile
  src/acceptance/assets/app/go_app/internal/app/custom_metrics.go
  src/acceptance/assets/app/go_app/internal/app/custom_metrics_test.go
Due: golangci-lint

Update apis default_info.json on new release-autoscaler
  ci/autoscaler/scripts/release-autoscaler.sh
Due: none

Sets bindingDB and policyDB from vcap services
  src/autoscaler/api/config/config.go
  src/autoscaler/api/config/config_test.go
  src/autoscaler/api/default_config.json
Due: golangci-lint

Add OpenAPI client and server generation step to MySQL and PostgreSQL workflows
  .github/workflows/mysql.yaml
  .github/workflows/postgres.yaml
Due: none

Refactor configuration loading and database connection in api/main.go
  src/autoscaler/api/cmd/api/main.go
  src/autoscaler/api/publicapiserver/public_api_server.go
Due: golangci-lint

Fix typos
  src/autoscaler/api/cmd/api/api_suite_test.go
  src/autoscaler/api/cmd/api/api_test.go
  src/autoscaler/integration/components_test.go
Due: golangci-lint
