Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop

.pre-commit-config.yaml:

#  List of git-hooks, during during committing files to git repo

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
        - id: java-formatter
          name: java-formatter
          entry: style-guide/inspect-java-format-0.1.sh
          language: script
          files: '\.java$'
          stages: [commit]
        - id: golangci-lint
          name: golangci-lint
          entry: style-guide/golangci-lint-0.1.sh
          language: script
          files: '^src'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]
        - id: rubocop
          name: rubocop
          entry: style-guide/rubocop-0.1.sh
          language: script
          files: '\.rb$'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]

Remove generated fakes
  .github/workflows/generate.yaml
  src/autoscaler/Makefile
  src/autoscaler/fakes/.gitignore
  src/autoscaler/fakes/fake_app_metric_db.go
  src/autoscaler/fakes/fake_binding_db.go
  src/autoscaler/fakes/fake_cf_client.go
  src/autoscaler/fakes/fake_credentials.go
  src/autoscaler/fakes/fake_database_status.go
  src/autoscaler/fakes/fake_emitter.go
  src/autoscaler/fakes/fake_envelope_processor.go
  src/autoscaler/fakes/fake_envelope_processor_creator.go
  src/autoscaler/fakes/fake_go_log_cache_client.go
  src/autoscaler/fakes/fake_grpc.go
  src/autoscaler/fakes/fake_httpstatus_collector.go
  src/autoscaler/fakes/fake_instancemetrics_db.go
  src/autoscaler/fakes/fake_log_cache_client.go
  src/autoscaler/fakes/fake_log_cache_creator.go
  src/autoscaler/fakes/fake_metric_forwarder.go
  src/autoscaler/fakes/fake_metric_server_creator_creator.go
  src/autoscaler/fakes/fake_operator.go
  src/autoscaler/fakes/fake_plan_checker.go
  src/autoscaler/fakes/fake_policy_db.go
  src/autoscaler/fakes/fake_ratelimiter.go
  src/autoscaler/fakes/fake_scalingengine.go
  src/autoscaler/fakes/fake_scalingengine_db.go
  src/autoscaler/fakes/fake_scheduler_db.go
  src/autoscaler/fakes/fake_storedprocedure_db.go
  src/autoscaler/fakes/fake_sychronizer.go
  src/autoscaler/fakes/fake_wshelper.go
  src/autoscaler/fakes/fakes.go
Due: golangci-lint

Fix lint target
  .vscode/extensions.json
  src/acceptance/assets/app/go_app/Makefile
  src/acceptance/assets/app/go_app/internal/app/app_test.go
  src/acceptance/assets/app/go_app/internal/app/cpu.go
  src/acceptance/assets/app/go_app/internal/app/custom_metrics.go
  src/acceptance/assets/app/go_app/internal/app/memory.go
  src/acceptance/assets/app/go_app/internal/app/memory_test.go
  src/acceptance/assets/app/go_app/internal/app/responsetime.go
  src/acceptance/assets/app/go_app/internal/app/responsetime_test.go
  src/acceptance/assets/app/go_app/internal/custommetrics/basic_auth_transport.go
Due: golangci-lint

Update `go:build` statements
  src/acceptance/assets/app/go_app/tools/tools.go
  src/autoscaler/tools.go
Due: golangci-lint

Always run the `ginkgo` version defined in `.tool-versions`
  src/acceptance/Makefile
  src/acceptance/assets/app/go_app/Makefile
  src/autoscaler/Makefile
  src/changelog/Makefile
  src/changeloglockcleaner/Makefile
Due: golangci-lint

Switch to individual `counterfeiter` invocations
  src/autoscaler/fakes/fakes.go
Due: golangci-lint

Remove left-over `init` dependency
  Makefile
Due: none

Updated release version to 11.1.0 in golangapiserver
  jobs/golangapiserver/spec
Due: none

created release v11.1.0
  .final_builds/jobs/golangapiserver/index.yml
  .final_builds/packages/changeloglockcleaner/index.yml
  .final_builds/packages/db/index.yml
  .final_builds/packages/eventgenerator/index.yml
  .final_builds/packages/golangapiserver/index.yml
  .final_builds/packages/metricsforwarder/index.yml
  .final_builds/packages/metricsgateway/index.yml
  .final_builds/packages/metricsserver/index.yml
  .final_builds/packages/operator/index.yml
  .final_builds/packages/scalingengine/index.yml
  .final_builds/packages/scheduler/index.yml
  releases/app-autoscaler/app-autoscaler-11.1.0.yml
  releases/app-autoscaler/index.yml
Due: none

Find working scheme to check scheduler-process based on its health;
  deploy-autoscaler.log.txt
  jobs/scheduler/monit
Due: none

Use bosh-spec to generate monit-file for scheduler;
  deploy-autoscaler.log.txt
  jobs/scheduler/spec
  jobs/scheduler/templates/monit.erb
Due: none

Render monit-file outside the templating-mechanism;
  jobs/scheduler/monit
  jobs/scheduler/spec
Due: none

Restart on failed health-check;
  jobs/scheduler/monit
Due: none

Experiment with monit-file – WIP;
  jobs/scheduler/monit
Due: none

Revert "Restart on failed health-check;"
  jobs/scheduler/monit
Due: none

Revert "Render monit-file outside the templating-mechanism;"
  jobs/scheduler/spec
  jobs/scheduler/templates/monit.erb
Due: none

Working version of the monit-file;
  jobs/scheduler/monit
  jobs/scheduler/spec
Due: none

Safely encode URL of scheduler-health-enpoint;
  jobs/scheduler/monit
Due: none

Restart on failed health-check and modify erb-script;
  jobs/scheduler/monit
Due: none

Make monit work
  jobs/scheduler/monit
  spec/fixtures/monit
  spec/jobs/scheduler/scheduler_spec.rb
Due: rubocop

make rubocop happy
  spec/jobs/scheduler/scheduler_spec.rb
Due: rubocop

Use `reviewdog` to invoke `golangci-lint`
  .github/workflows/golangci-lint.yaml
  .github/workflows/linters.yaml
  Makefile
Due: none

Fix new `golangci-lint` findings
  src/acceptance/assets/app/go_app/internal/custommetrics/api_credentials.go
  src/autoscaler/db/sqldb/lock_sqldb.go
Due: golangci-lint

Revert "Scheduler use health endpoint monit"
  jobs/scheduler/monit
  jobs/scheduler/spec
  spec/fixtures/monit
  spec/jobs/scheduler/scheduler_spec.rb
Due: rubocop

APPAUTOSCALER-572 Refactoring API Files
  api/application-metric-api.openapi.yaml
  api/policy-api.openapi.yaml
  api/scaling-history-api.openapi.yaml
Due: none

Fixing Scaling History API
  api/scaling-history-api.openapi.yaml
Due: none

Adding a post-start script for the scheduler health check
  jobs/scheduler/spec
  jobs/scheduler/templates/post_start_health_check.erb
Due: none

fix typo
  jobs/scheduler/spec
Due: none

Manual `go mod tidy`
  src/acceptance/assets/app/go_app/go.sum
Due: golangci-lint

Update golang version to 1.21.0
  .final_builds/packages/golang-1-linux/index.yml
  .tool-versions
  ci/terragrunt/app-autoscaler/concourse/pipelines/api-tester/src/go.mod
  packages/golang-1-linux/spec.lock
  packages/golang-1-linux/vendored-commit
  packages/golang-1-linux/version
  src/acceptance/assets/app/go_app/go.mod
  src/acceptance/go.mod
  src/autoscaler/go.mod
  src/changelog/go.mod
  src/changeloglockcleaner/go.mod
Due: golangci-lint

`go mod tidy`
  src/acceptance/assets/app/go_app/go.mod
  src/acceptance/assets/app/go_app/go.sum
Due: golangci-lint

Update java version to 17.0.8.1_1
  .final_builds/packages/openjdk-17/index.yml
  packages/openjdk-17/spec.lock
  packages/openjdk-17/vendored-commit
  packages/openjdk-17/version
Due: none

Set `DT_APPLICATIONID` environment variables
  jobs/eventgenerator/templates/bpm.yml.erb
  jobs/golangapiserver/templates/bpm.yml.erb
  jobs/metricsforwarder/templates/bpm.yml.erb
  jobs/metricsgateway/templates/bpm.yml.erb
  jobs/metricsserver/templates/bpm.yml.erb
  jobs/operator/templates/bpm.yml.erb
  jobs/scalingengine/templates/bpm.yml.erb
  jobs/scheduler/templates/bpm.yml.erb
Due: none

Fix path to file in prometheus-release;
  ci/infrastructure/scripts/deploy-prometheus.sh
Due: none

Updated release version to 11.1.1 in golangapiserver
  jobs/golangapiserver/spec
Due: none

created release v11.1.1
  .final_builds/jobs/eventgenerator/index.yml
  .final_builds/jobs/golangapiserver/index.yml
  .final_builds/jobs/metricsforwarder/index.yml
  .final_builds/jobs/metricsgateway/index.yml
  .final_builds/jobs/metricsserver/index.yml
  .final_builds/jobs/operator/index.yml
  .final_builds/jobs/scalingengine/index.yml
  .final_builds/jobs/scheduler/index.yml
  .final_builds/packages/changeloglockcleaner/index.yml
  .final_builds/packages/db/index.yml
  .final_builds/packages/eventgenerator/index.yml
  .final_builds/packages/golangapiserver/index.yml
  .final_builds/packages/metricsforwarder/index.yml
  .final_builds/packages/metricsgateway/index.yml
  .final_builds/packages/metricsserver/index.yml
  .final_builds/packages/operator/index.yml
  .final_builds/packages/scalingengine/index.yml
  .final_builds/packages/scheduler/index.yml
  releases/app-autoscaler/app-autoscaler-11.1.1.yml
  releases/app-autoscaler/index.yml
Due: none

Update specifications;
  packages/eventgenerator/spec
  packages/metricsforwarder/spec
  packages/metricsgateway/spec
  packages/metricsserver/spec
Due: none

Update golang version to 1.20.5
  .final_builds/packages/golang-1-linux/index.yml
  packages/golang-1-linux/spec.lock
  packages/golang-1-linux/vendored-commit
  packages/golang-1-linux/version
Due: none
