Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop

java-formatter:
  name: java-formatter
  entry: style-guide/inspect-java-format-0.1.sh
  language: script
  stages:
  - commit

golangci-lint:
  name: golangci-lint
  entry: style-guide/golangci-lint-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

rubocop:
  name: rubocop
  entry: style-guide/rubocop-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

fix(acceptance): Fix throughput acceptance test
  src/acceptance/app/dynamic_policy_test.go
Due: golangci-lint

fix(log_cache_client): Only process HTTPStartStopEvents with peerType client
  src/autoscaler/eventgenerator/client/log_cache_client.go
  src/autoscaler/eventgenerator/client/log_cache_client_test.go
Due: golangci-lint

chore(log_cache_client): Improve logging
  src/autoscaler/eventgenerator/client/log_cache_client.go
Due: golangci-lint

fix(operator): Clean up scaling cooldowns
  .envrc
  src/autoscaler/db/db.go
  src/autoscaler/db/sqldb/scalingengine_sqldb.go
  src/autoscaler/db/sqldb/scalingengine_sqldb_test.go
  src/autoscaler/db/sqldb/sqldb_suite_test.go
  src/autoscaler/operator/scalingenginedb.go
  src/autoscaler/operator/scalingenginedb_test.go
Due: golangci-lint

Update golang version to 1.21.5
  .final_builds/packages/golang-1-linux/index.yml
  .tool-versions
  ci/terragrunt/app-autoscaler/concourse/pipelines/api-tester/src/go.mod
  go.work
  packages/golang-1-linux/spec.lock
  packages/golang-1-linux/vendored-commit
  packages/golang-1-linux/version
  src/acceptance/assets/app/go_app/go.mod
  src/acceptance/go.mod
  src/autoscaler/go.mod
  src/changelog/go.mod
  src/changeloglockcleaner/go.mod
Due: golangci-lint

🤖🦾🛠️ scripts/asdf2devbox.py
  devbox.json
  devbox.lock
Due: none

chore(deps): bump `google.golang.org/protobuf` in `src/autoscaler`
  src/autoscaler/go.mod
  src/autoscaler/go.sum
Due: golangci-lint

Update golang version to 1.21.5 (#2931)
  .final_builds/packages/golang-1-linux/index.yml
  .tool-versions
  ci/terragrunt/app-autoscaler/concourse/pipelines/api-tester/src/go.mod
  devbox.json
  devbox.lock
  go.work
  packages/golang-1-linux/spec.lock
  packages/golang-1-linux/vendored-commit
  packages/golang-1-linux/version
  src/acceptance/assets/app/go_app/go.mod
  src/acceptance/go.mod
  src/autoscaler/go.mod
  src/changelog/go.mod
  src/changeloglockcleaner/go.mod
Due: golangci-lint

Updated release version to 13.0.0 in golangapiserver
  jobs/golangapiserver/spec
Due: none

created release v13.0.0
  .final_builds/jobs/golangapiserver/index.yml
  .final_builds/packages/changeloglockcleaner/index.yml
  .final_builds/packages/db/index.yml
  .final_builds/packages/eventgenerator/index.yml
  .final_builds/packages/golangapiserver/index.yml
  .final_builds/packages/metricsforwarder/index.yml
  .final_builds/packages/metricsgateway/index.yml
  .final_builds/packages/metricsserver/index.yml
  .final_builds/packages/operator/index.yml
  .final_builds/packages/scalingengine/index.yml
  .final_builds/packages/scheduler/index.yml
  releases/app-autoscaler/app-autoscaler-13.0.0.yml
  releases/app-autoscaler/index.yml
Due: none

fix(ci): Allow concurrent modifications of PRs
  .github/workflows/asdf2devbox.yaml
  .github/workflows/dependency-updates-post-processing.yaml
Due: none

update operations
  operations/remove-postgres-tls.yml
Due: none

Refactors loggregator metron emitter
  src/autoscaler/metricsforwarder/forwarder/forwarder_test.go
  src/autoscaler/metricsforwarder/forwarder/metric_forwarder.go
  src/autoscaler/metricsforwarder/forwarder/metron_agent_emitter_test.go
Due: golangci-lint

Adds lable 'skip-cleanup to keep the acceptance test deployment alive
  .github/workflows/acceptance_tests_reusable.yaml
Due: none

Uses binary buildpack to deploy
  src/autoscaler/metricsforwarder/manifest.yml
Due: golangci-lint

Remove tls from postgres
  ci/autoscaler/scripts/deploy-autoscaler.sh
  operations/remove-postgres-tls.yml
  templates/app-autoscaler.yml
Due: none

Refactor forwarder to support metrics forwardeR
  src/autoscaler/metricsforwarder/forwarder/forwarder_test.go
  src/autoscaler/metricsforwarder/forwarder/metric_forwarder.go
Due: golangci-lint

Adds sg and updates manifest
  src/autoscaler/metricsforwarder/manifest.yml
  src/autoscaler/metricsforwarder/posgrest-security-group.json
Due: golangci-lint

Add initial files to push metricsforwarder as a cf app via binary
  src/autoscaler/metricsforwarder/manifest.yml
  src/autoscaler/metricsforwarder/metricsforwarder.example.yml
Due: golangci-lint

wip: Adds syslog forwarder
  src/autoscaler/metricsforwarder/config/config.go
  src/autoscaler/metricsforwarder/forwarder/forwarder_test.go
  src/autoscaler/metricsforwarder/forwarder/metric_forwarder.go
  src/autoscaler/metricsforwarder/forwarder/metron_emitter_test.go
  src/autoscaler/metricsforwarder/forwarder/syslog_emitter_test.go
Due: golangci-lint

Adds metricforwarder makefile for poc deployment
  src/autoscaler/Makefile
  src/autoscaler/metricsforwarder/.gitignore
  src/autoscaler/metricsforwarder/Makefile
  src/autoscaler/metricsforwarder/manifest.yml
  src/autoscaler/metricsforwarder/metricsforwarder.example.yml
Due: golangci-lint

WIP: Syslog implementation for metric forwarder
  src/autoscaler/metricsforwarder/forwarder/metric_forwarder.go
  src/autoscaler/metricsforwarder/forwarder/syslog_emitter.go
  src/autoscaler/metricsforwarder/forwarder/syslog_emitter_test.go
Due: golangci-lint

Adds port to syslog emitter
  src/autoscaler/metricsforwarder/.gitignore
  src/autoscaler/metricsforwarder/forwarder/syslog_emitter.go
  src/autoscaler/metricsforwarder/forwarder/syslog_emitter_test.go
Due: golangci-lint

Fix emitter selection
  src/autoscaler/metricsforwarder/forwarder/forwarder_test.go
  src/autoscaler/metricsforwarder/forwarder/metric_forwarder.go
Due: golangci-lint

Defaults to metrics forwarder syslog on bosh release
  ci/autoscaler/scripts/deploy-autoscaler.sh
  jobs/metricsforwarder/spec
  jobs/metricsforwarder/templates/metricsforwarder.yml.erb
Due: none

Adds port for syslog server
  src/autoscaler/metricsforwarder/config/config.go
  src/autoscaler/metricsforwarder/forwarder/syslog_emitter_test.go
  src/autoscaler/metricsforwarder/postgres-security-group.json
Due: golangci-lint

Adds logs
  src/autoscaler/metricsforwarder/forwarder/metric_forwarder.go
Due: golangci-lint

More refactor
  src/autoscaler/metricsforwarder/forwarder/metric_forwarder.go
  src/autoscaler/metricsforwarder/forwarder/metron_emitter.go
  src/autoscaler/metricsforwarder/forwarder/syslog_emitter.go
  src/autoscaler/metricsforwarder/forwarder/syslog_emitter_test.go
Due: golangci-lint

Uses bosh dns to connect to syslog
  operations/enable-metricsforwarder-syslog.yml
Due: none

fix broken test
  Makefile
  scripts/generate_test_certs.sh
  src/autoscaler/metricsforwarder/config/config.go
  src/autoscaler/metricsforwarder/forwarder/deleteme
  src/autoscaler/metricsforwarder/forwarder/syslog_emitter.go
  src/autoscaler/metricsforwarder/forwarder/syslog_emitter_test.go
  templates/app-autoscaler.yml
Due: golangci-lint

pulls loggregator certs from vm
  src/autoscaler/metricsforwarder/Makefile
Due: golangci-lint

Adds missing port for syslog server
  jobs/metricsforwarder/spec
  jobs/metricsforwarder/templates/metricsforwarder.yml.erb
  spec/jobs/metricsforwarder/metricsforwarder_spec.rb
  src/autoscaler/metricsforwarder/config/config.go
Due: golangci-lint, rubocop

Fix autoscaler deploy
  packages/metricsforwarder/spec
  src/autoscaler/Makefile
  src/autoscaler/generate-fakes.go
  src/autoscaler/metricsforwarder/Makefile
  src/autoscaler/metricsforwarder/forwarder/forwarder_test.go
  src/autoscaler/metricsforwarder/forwarder/metric_forwarder.go
  src/autoscaler/metricsforwarder/forwarder/metron_emitter.go
  src/autoscaler/metricsforwarder/forwarder/metron_emitter_test.go
  src/autoscaler/metricsforwarder/forwarder/syslog_emitter.go
  src/autoscaler/metricsforwarder/forwarder/syslog_emitter_test.go
  src/autoscaler/metricsforwarder/server/custom_metrics_handlers.go
Due: golangci-lint

Fix typo
  operations/enable-metricsforwarder-syslog.yml
Due: none

Adds more logging
  src/autoscaler/metricsforwarder/forwarder/syslog_emitter.go
  src/autoscaler/metricsforwarder/forwarder/syslog_emitter_test.go
Due: golangci-lint

Adds missing certs
  .tool-versions
  jobs/metricsforwarder/spec
  jobs/metricsforwarder/templates/syslog_client.crt.erb
  jobs/metricsforwarder/templates/syslog_client.key.erb
  jobs/metricsforwarder/templates/syslog_client_ca.crt.erb
  operations/enable-metricsforwarder-syslog.yml
Due: none

Path conditions:
  java-formatter: any of: \.java$
  golangci-lint: any of: ^src
  rubocop: any of: \.rb$
