Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop

java-formatter:
  name: java-formatter
  entry: style-guide/inspect-java-format-0.1.sh
  language: script
  stages:
  - commit

golangci-lint:
  name: golangci-lint
  entry: style-guide/golangci-lint-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

rubocop:
  name: rubocop
  entry: style-guide/rubocop-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

Remove unused port variable
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_suite_test.go
Due: golangci-lint

Fixes TLS MinVersion too low in eventgenerator test
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_test.go
Due: golangci-lint

Remove unused variables
  src/autoscaler/scalingengine/server/server_test.go
Due: golangci-lint

Remove unused comments
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_test.go
Due: golangci-lint

Remove unused variables
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_suite_test.go
Due: golangci-lint

Sets scalingengine healthenpoint on server port
  src/autoscaler/scalingengine/cmd/scalingengine/main.go
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_suite_test.go
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_test.go
  src/autoscaler/scalingengine/schedule/sync.go
  src/autoscaler/scalingengine/server/server.go
  src/autoscaler/scalingengine/server/server_test.go
  src/autoscaler/testhelpers/clients.go
Due: golangci-lint

Fixes unnecessary trailing newline
  src/autoscaler/metricsforwarder/cmd/metricsforwarder/main.go
Due: golangci-lint

Fix issues in scaling engine test
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_test.go
  src/autoscaler/scalingengine/server/server.go
Due: golangci-lint

Remove ioutil reference for depreaction
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_test.go
Due: golangci-lint

Remove irrelevant tesT
  src/autoscaler/eventgenerator/server/server_test.go
Due: golangci-lint

Remove useless assertion
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_test.go
Due: golangci-lint

Update spec/jobs/scalingengine/scalingengine_spec.rb
  spec/jobs/scalingengine/scalingengine_spec.rb
Due: rubocop

Remove metrics forwarder health port from bosh job
  jobs/metricsforwarder/spec
  jobs/metricsforwarder/templates/healthendpoint.crt.erb
  jobs/metricsforwarder/templates/healthendpoint.key.erb
  jobs/metricsforwarder/templates/healthendpoint_ca.crt.erb
  jobs/metricsforwarder/templates/metricsforwarder.yml.erb
Due: none

Adds uaac verification before trying to perform an autoscaler deploy
  ci/autoscaler/scripts/deploy-autoscaler.sh
Due: none

Fix spec lint
  spec/jobs/eventgenerator/eventgenerator_spec.rb
  spec/jobs/operator/operator_spec.rb
  spec/jobs/scalingengine/scalingengine_spec.rb
Due: rubocop

Fix broken test
  src/autoscaler/scalingengine/config/config_test.go
  src/autoscaler/scalingengine/config/testdata/invalid.txt
  src/autoscaler/scalingengine/config/testdata/valid.yml
Due: golangci-lint

Fix problem with port for apiserver
  jobs/golangapiserver/templates/apiserver.yml.erb
Due: none

Update spec/jobs/operator/operator_spec.rb
  spec/jobs/operator/operator_spec.rb
Due: rubocop

Adds missing server.port for operator
  jobs/operator/spec
  jobs/operator/templates/operator.yml.erb
Due: none

Adds output for api acceptances tests
  src/acceptance/api/basic_auth_test.go
Due: golangci-lint

Remove health port and server from healthendpoint configs
  src/autoscaler/api/cmd/api/api_suite_test.go
  src/autoscaler/api/config/config_test.go
  src/autoscaler/eventgenerator/config/config.go
  src/autoscaler/eventgenerator/config/config_test.go
  src/autoscaler/eventgenerator/exampleconfig/example.yaml
  src/autoscaler/healthendpoint/server.go
  src/autoscaler/helpers/health.go
  src/autoscaler/helpers/health_test.go
  src/autoscaler/metricsforwarder/cmd/metricsforwarder/metricsforwarder_suite_test.go
  src/autoscaler/metricsforwarder/config/config.go
  src/autoscaler/metricsforwarder/config/config_test.go
  src/autoscaler/metricsforwarder/exampleconfig/config.yml
  src/autoscaler/operator/cmd/operator/operator_suite_test.go
  src/autoscaler/operator/cmd/operator/operator_test.go
  src/autoscaler/operator/config/config.go
  src/autoscaler/operator/config/config_test.go
  src/autoscaler/operator/config/testdata/valid.yml
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_test.go
  src/autoscaler/scalingengine/config/config.go
  src/autoscaler/scalingengine/config/config_test.go
  templates/app-autoscaler.yml
Due: golangci-lint

Remove NewServerWithBasicAuth from health endpoint
  src/autoscaler/healthendpoint/server.go
  src/autoscaler/operator/cmd/operator/main.go
Due: golangci-lint

Remove empty lines
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_test.go
Due: golangci-lint

Accept credential type in binding request
  src/autoscaler/api/broker/broker.go
  src/autoscaler/api/brokerserver/broker_handler_test.go
  src/autoscaler/models/custom_metrics.go
Due: golangci-lint

add credential type as default in bosh configuration
  jobs/golangapiserver/spec
  jobs/golangapiserver/templates/apiserver.yml.erb
  spec/fixtures/apiserver.yml
  spec/jobs/golangapiserver/apiserver_spec.rb
  src/acceptance/app/custom_metric_test.go
  src/autoscaler/api/broker/broker.go
  src/autoscaler/api/brokerserver/broker_handler_test.go
  src/autoscaler/api/brokerserver/broker_server_suite_test.go
  src/autoscaler/api/config/config.go
  src/autoscaler/integration/components_test.go
  src/autoscaler/models/api.go
  src/autoscaler/models/custom_metrics.go
Due: golangci-lint, rubocop

added acceptance test
  spec/jobs/golangapiserver/apiserver_spec.rb
  src/acceptance/app/custom_metric_test.go
  src/acceptance/assets/file/policy/policy-with-credential-type.json
  src/acceptance/broker/broker_test.go
  src/autoscaler/api/broker/broker.go
  src/autoscaler/api/brokerserver/broker_handler_test.go
  src/autoscaler/models/custom_metrics.go
Due: golangci-lint, rubocop

cleanup
  jobs/golangapiserver/spec
  jobs/golangapiserver/templates/apiserver.yml.erb
  spec/fixtures/apiserver.yml
  spec/jobs/golangapiserver/apiserver_spec.rb
  src/acceptance/broker/broker_test.go
  src/autoscaler/api/broker/broker.go
Due: golangci-lint, rubocop

implemeted review comments
  src/autoscaler/api/broker/broker.go
  src/autoscaler/api/brokerserver/broker_handler_test.go
  src/autoscaler/api/brokerserver/broker_server_suite_test.go
  src/autoscaler/api/config/config.go
  src/autoscaler/integration/components_test.go
  src/autoscaler/models/api.go
Due: golangci-lint

review fix -> rename binding parameter to kabab-case (credential-type)
  src/acceptance/assets/file/policy/policy-with-credential-type.json
  src/autoscaler/api/broker/broker.go
  src/autoscaler/api/brokerserver/broker_handler_test.go
  src/autoscaler/models/api.go
Due: golangci-lint

WIP: Uses basic auth instead of mtls for components
  jobs/scalingengine/templates/scalingengine.yml.erb
Due: none

Updated release version to 14.1.0 in golangapiserver
  jobs/golangapiserver/spec
Due: none

created release v14.1.0
  .final_builds/jobs/golangapiserver/index.yml
  .final_builds/packages/changeloglockcleaner/index.yml
  .final_builds/packages/db/index.yml
  .final_builds/packages/eventgenerator/index.yml
  .final_builds/packages/golangapiserver/index.yml
  .final_builds/packages/metricsforwarder/index.yml
  .final_builds/packages/operator/index.yml
  .final_builds/packages/scalingengine/index.yml
  .final_builds/packages/scheduler/index.yml
  releases/app-autoscaler/app-autoscaler-14.1.0.yml
  releases/app-autoscaler/index.yml
Due: none

Path conditions:
  java-formatter: any of: \.java$
  golangci-lint: any of: ^src
  rubocop: any of: \.rb$
