Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop

.pre-commit-config.yaml:

#  List of git-hooks, during during committing files to git repo

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
        - id: java-formatter
          name: java-formatter
          entry: style-guide/inspect-java-format-0.1.sh
          language: script
          files: '\.java$'
          stages: [commit]
        - id: golangci-lint
          name: golangci-lint
          entry: style-guide/golangci-lint-0.1.sh
          language: script
          files: '^src'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]
        - id: rubocop
          name: rubocop
          entry: style-guide/rubocop-0.1.sh
          language: script
          files: '\.rb$'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]

WIP
  ci/autoscaler/scripts/deploy-autoscaler.sh
Due: none

Skip ssl for multiapps ssl client
  ci/infrastructure/scripts/deploy-multiapps-controller.sh
Due: none

ignore gosec findings for test-code
  src/autoscaler/api/cmd/api/api_test.go
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_test.go
  src/autoscaler/metricsforwarder/cmd/metricsforwarder/metricsforwarder_test.go
  src/autoscaler/metricsgateway/cmd/metricsgateway/metricsgateway_test.go
  src/autoscaler/metricsserver/cmd/metricsserver/metricsserver_test.go
  src/autoscaler/operator/cmd/operator/operator_test.go
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_test.go
Due: golangci-lint

Adds cf api configuration
  ci/infrastructure/scripts/deploy-multiapps-controller.sh
Due: none

Build multiapps controller from fork repo
  ci/infrastructure/pipeline.yml
  ci/infrastructure/scripts/deploy-multiapps-controller.sh
Due: none

Fix opts file
  ci/autoscaler/scripts/common.sh
  ci/autoscaler/scripts/deploy-apps.sh
  ci/autoscaler/tasks/deploy-apps.yml
  operations/use-cf-services.yml
Due: none

Remove unused debugging
  ci/autoscaler/scripts/deploy-autoscaler.sh
Due: none

Set shell options for error handling and pipe behavior in script.
  ci/scripts/delete-pipeline.sh
Due: none

Refactor error handling for empty metric name check
  src/acceptance/assets/app/go_app/internal/app/custom_metrics.go
Due: golangci-lint

Fix issues health work
  templates/app-autoscaler.yml
Due: none

replace direct credhub references with variables in manifest template
  ci/autoscaler/scripts/deploy-autoscaler.sh
  templates/app-autoscaler.yml
Due: none

remove example operations
  example/.gitkeep
  example/operation/add-extra-plan.yml
  example/operation/alternative-vm-type.yml
  example/operation/cf-mysql-db.yml
  example/operation/disable-basicauth-on-health-endpoints.yml
  example/operation/enable-name-based-deployments.yml
  example/operation/enable-nats-tls.yml
  example/operation/external-db.yml
  example/operation/instance-identity-cert-from-cf.yml
  example/operation/postgres-persistent-disk.yml
  example/operation/set-release-version.yml
Due: none

revert "disable requirement of succeeded jobs for testing"
  ci/autoscaler/pipeline.yml
Due: none

delete test related to metricsserver
  spec/jobs/eventgenerator/eventgenerator_spec.rb
Due: rubocop

restore accidentally deleted diagram
  docs/images/autoscaler.svg
Due: none

remove leftover occurences of instancemetrics_db
  operations/cf-mysql-db.yml
  operations/external-db.yml
  spec/fixtures/operator.yml
  spec/fixtures/scalingengine.yml
  src/autoscaler/db/db.go
  src/autoscaler/generate-fakes.go
  templates/app-autoscaler.yml
Due: golangci-lint

remove leftover arrow to metricsserver url
  docs/images/eventgenerator.svg
Due: none

bring back the autoscaler-diagram
  docs/images/autoscaler.svg
Due: none

use mTLS instead of UAA for log cache connection
  ci/autoscaler/scripts/deploy-autoscaler.sh
Due: none

return err on .Start() and expose a function to retrieve url via .URL()
  src/autoscaler/eventgenerator/aggregator/metric_poller_test.go
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_suite_test.go
  src/autoscaler/integration/integration_logcache_eventgenerator_scalingengine_test.go
  src/autoscaler/integration/integration_suite_test.go
  src/autoscaler/testhelpers/log_cache_mock.go
Due: golangci-lint

replace custom LogCacheClient with a simple LogCacheFetcher that no longer takes care of also building the actual logcache.Client
  packages/eventgenerator/spec
  src/autoscaler/eventgenerator/aggregator/metric_poller.go
  src/autoscaler/eventgenerator/aggregator/metric_poller_test.go
  src/autoscaler/eventgenerator/client/log_cache_client.go
  src/autoscaler/eventgenerator/client/log_cache_client_test.go
  src/autoscaler/eventgenerator/client/metric_client_factory.go
  src/autoscaler/eventgenerator/client/metric_client_factory_test.go
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_test.go
  src/autoscaler/eventgenerator/cmd/eventgenerator/main.go
  src/autoscaler/eventgenerator/metric/fetcher.go
  src/autoscaler/eventgenerator/metric/fetcher_factory.go
  src/autoscaler/eventgenerator/metric/fetcher_factory_test.go
  src/autoscaler/eventgenerator/metric/fetcher_test.go
  src/autoscaler/eventgenerator/metric/metric_suite_test.go
  src/autoscaler/generate-fakes.go
  src/autoscaler/models/uaa_creds.go
Due: golangci-lint

copy liquibasefile during packaging
  packages/eventgenerator/packaging
Due: none

remove merge leftovers
  ci/autoscaler/pipeline.yml
Due: none

improve readme
  README.md
Due: none

: Sets eventgenerator healthenpoint on server port
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_suite_test.go
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_test.go
  src/autoscaler/eventgenerator/cmd/eventgenerator/main.go
  src/autoscaler/eventgenerator/server/server.go
  src/autoscaler/eventgenerator/server/server_suite_test.go
  src/autoscaler/metricsforwarder/cmd/metricsforwarder/main.go
  src/autoscaler/testhelpers/db.go
Due: golangci-lint

remove space
  ci/scripts/delete-pipeline.sh
Due: none

Sets scalingengine healthenpoint on server port
  src/autoscaler/scalingengine/cmd/scalingengine/main.go
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_suite_test.go
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_test.go
  src/autoscaler/scalingengine/schedule/sync.go
  src/autoscaler/scalingengine/server/server.go
  src/autoscaler/scalingengine/server/server_test.go
  src/autoscaler/testhelpers/clients.go
Due: golangci-lint

Sets publicapiserver healthenpoint on server port
  src/autoscaler/api/cmd/api/api_test.go
  src/autoscaler/api/cmd/api/main.go
  src/autoscaler/api/publicapiserver/public_api_server.go
  src/autoscaler/api/publicapiserver/public_api_server_test.go
  src/autoscaler/api/publicapiserver/publicapiserver_suite_test.go
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_test.go
  src/autoscaler/scalingengine/server/server.go
Due: golangci-lint

Adds missing variable to deploy-autoscaler script
  ci/autoscaler/scripts/deploy-autoscaler.sh
Due: none

fix(ci): fix `fly` param value assignment so that `make delete-pipeline` works (#3031)
  ci/scripts/delete-pipeline.sh
Due: none

fix rendering
  README.md
Due: none

add info about custom metrics
  README.md
Due: none

get rid of category
  README.md
Due: none

fix(readme): drop HTML-tags to fix rendering (#3032)
  README.md
Due: none

Remove blank line
  src/autoscaler/operator/cmd/operator/main.go
Due: golangci-lint

Fixes TLS MinVersion too low in eventgenerator test
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_test.go
Due: golangci-lint

Fixes unnecessary trailing newline
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_suite_test.go
Due: golangci-lint

Remove ioutil reference for depreaction
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_test.go
Due: golangci-lint
