Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop

.pre-commit-config.yaml:

#  List of git-hooks, during during committing files to git repo

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
        - id: java-formatter
          name: java-formatter
          entry: style-guide/inspect-java-format-0.1.sh
          language: script
          files: '\.java$'
          stages: [commit]
        - id: golangci-lint
          name: golangci-lint
          entry: style-guide/golangci-lint-0.1.sh
          language: script
          files: '^src'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]
        - id: rubocop
          name: rubocop
          entry: style-guide/rubocop-0.1.sh
          language: script
          files: '\.rb$'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]

Improve quoting in release-autoscaler.sh to handle tags with spaces
  ci/autoscaler/scripts/release-autoscaler.sh
Due: none

Improve quoting in release-autoscaler.sh to handle versions with special characters
  ci/autoscaler/scripts/release-autoscaler.sh
Due: none

Added apple-sdk for darwin
  devbox.json
  devbox.lock
Due: none

Added apple-sdk for darwin (#3955)
  devbox.json
  devbox.lock
Due: none

chore: Overcommit memory in CI CF env (#3953)
  ci/operations/scale_out_cf_for_app-autoscaler.yaml
Due: none

fix scheduler health endpoint to read correct properties
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CfServerConfiguration.java
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/filter/HttpAuthFilter.java
  src/autoscaler/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/filter/HttpAuthFilterTest.java
Due: java-formatter, golangci-lint

added acceptance test for scheduler health endpoint with basic auth
  ci/autoscaler/scripts/acceptance-tests-config.sh
  src/acceptance/api/basic_auth_test.go
  src/acceptance/config/config.go
Due: golangci-lint

Organize GitHub actions for repo migration, separating CI VM wt add orkflows, refining acceptance tests, and updating linters
  docs/cf-migration.md
Due: none

Remove documentation for running Eventgenerator as a CF app due to migration changes.
  docs/migrate-eventgenerator-to-cf-app.md
Due: none

chore: fix Go version determination to use devbox.json
  .github/workflows/image.yaml
Due: none

chore: fix Go version determination to use devbox.json (#3959)
  .github/workflows/image.yaml
Due: none

Reorganize source code and update GitHub actions documentation
  .gitignore
  Makefile
  docs/cf-migration.md
  scripts/generate_test_certs.sh
  scripts/initialise_db.sh
  src/autoscaler/.gitignore
  src/autoscaler/Makefile
  src/autoscaler/acceptance/assets/app/go_app/internal/generate.go
  src/autoscaler/api/apis/generate.go
  src/autoscaler/db/helper_test.go
  src/autoscaler/integration/gorouterproxy/gorouterproxy_test.go
  src/autoscaler/integration/integration_golangapi_scheduler_test.go
  src/autoscaler/integration/integration_suite_test.go
  src/autoscaler/metricsforwarder/server/server_suite_test.go
  src/autoscaler/openapi/application-metric-api.openapi.yaml
  src/autoscaler/openapi/custom-metrics-api.openapi.yaml
  src/autoscaler/openapi/internal-scaling-history-api.openapi.yaml
  src/autoscaler/openapi/policy-api.openapi.yaml
  src/autoscaler/openapi/scaling-history-api.openapi.yaml
  src/autoscaler/openapi/shared_definitions.yaml
  src/autoscaler/scalingengine/apis/generate.go
  src/autoscaler/scheduler/Makefile
  src/autoscaler/testhelpers/clients.go
Due: golangci-lint

Remove leftovers from old schema-file: Test-fixing!
  packages/golangapiserver/packaging
  schema/api/policy-api.openapi.yaml
  schema/json/policy-configuration.legacy-schema.json
  schema/json/scaling-policy.legacy-schema.json
  src/autoscaler/api/broker/broker_suite_test.go
  src/autoscaler/api/brokerserver/broker_handler_test.go
  src/autoscaler/api/brokerserver/broker_server_suite_test.go
  src/autoscaler/api/cmd/api/api_suite_test.go
  src/autoscaler/api/policyvalidator/policy-configuration.legacy-schema.json
  src/autoscaler/api/policyvalidator/policy_validator_test.go
  src/autoscaler/api/policyvalidator/scaling-policy.legacy-schema.json
  src/autoscaler/api/policyvalidator/shared_definitions.json
  src/autoscaler/api/publicapiserver/public_api_handler_test.go
  src/autoscaler/api/publicapiserver/publicapiserver_suite_test.go
  src/autoscaler/integration/components_test.go
Due: golangci-lint

Remove leftovers from old schema-file: Fix bosh-release;
  jobs/golangapiserver/templates/apiserver.yml.erb
  packages/golangapiserver/packaging
  src/autoscaler/api/default_config.json
Due: golangci-lint

🔧 Fix Makefile;
  Makefile
Due: none

Revert "added acceptance test for scheduler health endpoint with basic auth"
  ci/autoscaler/scripts/acceptance-tests-config.sh
  src/acceptance/api/basic_auth_test.go
  src/acceptance/config/config.go
Due: golangci-lint

test /health endpoint with basic authentication
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CfHttpConfiguration.java
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/filter/HttpAuthFilter.java
  src/autoscaler/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/health/SchedulerHealthEndpointTest.java
  src/autoscaler/scheduler/src/test/resources/application-HealthAuth.yml
Due: java-formatter, golangci-lint

🩹 Introduce workaround for bosh-compiled-releases.
  schema/json/Readme.md
  src/autoscaler/api/policyvalidator/policy-configuration.legacy-schema.json
  src/autoscaler/api/policyvalidator/scaling-policy.legacy-schema.json
  src/autoscaler/api/policyvalidator/shared_definitions.json
Due: golangci-lint

🔧 Fix path to catalog;
  packages/golangapiserver/packaging
Due: none

Revert "Temporarily remove the package binding_request to do that in a separate PR;"
  src/autoscaler/api/binding_request/autoscaler-policy.json
  src/autoscaler/api/binding_request/binding-configuration.json
  src/autoscaler/api/binding_request/binding-request-parser.go
  src/autoscaler/api/binding_request/binding-request-parser_suite_test.go
  src/autoscaler/api/binding_request/binding-request-parser_test.go
  src/autoscaler/api/binding_request/binding-request.json
  src/autoscaler/api/binding_request/clean_parser/json-structure.go
  src/autoscaler/api/binding_request/clean_parser/parser.go
  src/autoscaler/api/binding_request/combined_parser/parser.go
  src/autoscaler/api/binding_request/legacy-binding-request.json
  src/autoscaler/api/binding_request/legacy_parser/json-structure.go
  src/autoscaler/api/binding_request/legacy_parser/parser.go
  src/autoscaler/api/binding_request/shared_definitions.json
Due: golangci-lint

Revert "Remove parts that belong rather to a different PR."
  schema/json/Readme.md
  schema/json/app-scaling-configuration.json
  schema/json/binding-configuration.json
  schema/json/policy-configuration.json
  schema/json/scaling-policy.json
  schema/json/shared_definitions.json
  src/autoscaler/models/app.go
Due: golangci-lint

Faktor out schema (to different PR);
  schema/json/app-scaling-configuration.schema.json
  schema/json/binding-configuration.schema.json
  schema/json/policy-configuration.schema.json
  schema/json/scaling-policy.schema.json
  src/autoscaler/api/binding_request/app-scaling-configuration.schema.json
  src/autoscaler/api/binding_request/binding-configuration.schema.json
  src/autoscaler/api/binding_request/binding-request-parser.go
  src/autoscaler/api/binding_request/binding-request-parser_suite_test.go
  src/autoscaler/api/binding_request/binding-request-parser_test.go
  src/autoscaler/api/binding_request/clean_parser/json-structure.go
  src/autoscaler/api/binding_request/clean_parser/parser.go
  src/autoscaler/api/binding_request/combined_parser/parser.go
  src/autoscaler/api/binding_request/legacy_parser/json-structure.go
  src/autoscaler/api/binding_request/legacy_parser/parser.go
  src/autoscaler/api/binding_request/policy-configuration.legacy-schema.json
  src/autoscaler/api/binding_request/policy-configuration.schema.json
  src/autoscaler/api/binding_request/scaling-policy.legacy-schema.json
  src/autoscaler/api/binding_request/scaling-policy.schema.json
  src/autoscaler/api/binding_request/shared_definitions.json
Due: golangci-lint

🔧 Fix usage for legacy-parameter `stats_window_secs`.
  schema/json/scaling-policy.legacy-schema.json
  src/autoscaler/api/policyvalidator/policy_validator_test.go
  src/autoscaler/api/policyvalidator/scaling-policy.legacy-schema.json
  src/autoscaler/api/publicapiserver/public_api_handler_test.go
  templates/app-autoscaler.yml
Due: golangci-lint

🔧 Fix schemas;
  schema/json/binding-configuration.json
  schema/json/policy-configuration.json
Due: none

Introduce new schema-naming-convention and remove legacy-schema;
  schema/json/app-scaling-configuration.schema.json
  schema/json/binding-configuration.schema.json
  schema/json/policy-configuration.legacy-schema.json
  schema/json/policy-configuration.schema.json
  schema/json/scaling-policy.legacy-schema.json
  schema/json/scaling-policy.schema.json
  src/autoscaler/api/binding_request/app-scaling-configuration.schema.json
  src/autoscaler/api/binding_request/autoscaler-policy.json
  src/autoscaler/api/binding_request/binding-configuration.json
  src/autoscaler/api/binding_request/binding-configuration.schema.json
  src/autoscaler/api/binding_request/binding-request.json
  src/autoscaler/api/binding_request/legacy-binding-request.json
  src/autoscaler/api/binding_request/policy-configuration.legacy-schema.json
  src/autoscaler/api/binding_request/policy-configuration.schema.json
  src/autoscaler/api/binding_request/scaling-policy.legacy-schema.json
  src/autoscaler/api/binding_request/scaling-policy.schema.json
Due: golangci-lint

↑📦❄ Update Devbox- and Nix-environments;
  devbox.lock
  nix/flake.lock
Due: none

Remove changes to use them again in PR #3954
  src/autoscaler/models/app.go
Due: golangci-lint

Revert "Faktor out schema (to different PR);"
  schema/json/app-scaling-configuration.schema.json
  schema/json/binding-configuration.schema.json
  schema/json/policy-configuration.schema.json
  schema/json/scaling-policy.schema.json
  src/autoscaler/api/binding_request/app-scaling-configuration.schema.json
  src/autoscaler/api/binding_request/binding-configuration.schema.json
  src/autoscaler/api/binding_request/binding-request-parser.go
  src/autoscaler/api/binding_request/binding-request-parser_suite_test.go
  src/autoscaler/api/binding_request/binding-request-parser_test.go
  src/autoscaler/api/binding_request/clean_parser/json-structure.go
  src/autoscaler/api/binding_request/clean_parser/parser.go
  src/autoscaler/api/binding_request/combined_parser/parser.go
  src/autoscaler/api/binding_request/legacy_parser/json-structure.go
  src/autoscaler/api/binding_request/legacy_parser/parser.go
  src/autoscaler/api/binding_request/policy-configuration.legacy-schema.json
  src/autoscaler/api/binding_request/policy-configuration.schema.json
  src/autoscaler/api/binding_request/scaling-policy.legacy-schema.json
  src/autoscaler/api/binding_request/scaling-policy.schema.json
  src/autoscaler/api/binding_request/shared_definitions.json
Due: golangci-lint

Revert "Remove changes to use them again in PR #3954"
  src/autoscaler/models/app.go
Due: golangci-lint

Allow additional attributes for backwards-compatibility;
  schema/json/scaling-policy.legacy-schema.json
  src/autoscaler/api/policyvalidator/policy_validator_test.go
  src/autoscaler/api/policyvalidator/scaling-policy.legacy-schema.json
Due: golangci-lint

Adapt acceptance-tests to new schema.
  src/acceptance/api/api_test.go
Due: golangci-lint
