Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop

.pre-commit-config.yaml:

#  List of git-hooks, during during committing files to git repo

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
        - id: java-formatter
          name: java-formatter
          entry: style-guide/inspect-java-format-0.1.sh
          language: script
          files: '\.java$'
          stages: [commit]
        - id: golangci-lint
          name: golangci-lint
          entry: style-guide/golangci-lint-0.1.sh
          language: script
          files: '^src'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]
        - id: rubocop
          name: rubocop
          entry: style-guide/rubocop-0.1.sh
          language: script
          files: '\.rb$'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]

chore(linter): Run linters from devbox
  .github/workflows/linters.yaml
  Makefile
  devbox.json
  devbox.lock
Due: none

chore(Makefile): Add a bit of self-documentation
  Makefile
Due: none

fixup! chore(linter): Run linters from devbox
  .tool-versions
Due: none

🤖🦾🛠️ scripts/asdf2devbox.py
  devbox.json
  devbox.lock
Due: none

WIP
  .github/workflows/acceptance_tests_mta.yaml
  .github/workflows/acceptance_tests_mta_close.yaml
  .github/workflows/acceptance_tests_reusable.yaml
Due: none

chore(deps): Bump `golangci-lint` to 1.60.2
  .tool-versions
  devbox.json
  devbox.lock
  packages/golangapiserver/spec
  src/acceptance/assets/app/go_app/internal/app/cpu.go
  src/acceptance/assets/app/go_app/internal/app/cpu_test.go
  src/acceptance/assets/app/go_app/internal/app/custom_metrics.go
  src/acceptance/assets/app/go_app/internal/app/memory.go
  src/acceptance/assets/app/go_app/internal/app/memory_test.go
  src/acceptance/assets/app/go_app/internal/app/responsetime.go
  src/acceptance/assets/app/go_app/internal/app/responsetime_test.go
  src/acceptance/assets/app/go_app/internal/custommetrics/basic_auth_transport.go
  src/autoscaler/api/broker/broker.go
  src/autoscaler/api/config/config.go
  src/autoscaler/api/policyvalidator/policy_validator.go
  src/autoscaler/cf/oauth.go
  src/autoscaler/envelopeprocessor/envelope_processor.go
  src/autoscaler/eventgenerator/aggregator/appManager.go
  src/autoscaler/eventgenerator/metric/fetcher.go
  src/autoscaler/eventgenerator/metric/fetcher_factory_test.go
  src/autoscaler/eventgenerator/metric/fetcher_test.go
  src/autoscaler/go.mod
  src/autoscaler/go.sum
  src/autoscaler/models/metrics.go
  src/autoscaler/scalingengine/striped_lock.go
  src/autoscaler/testhelpers/gomega_extensions.go
  src/changelog/github/github.go
Due: golangci-lint

chore(renovate): Improve loggregator group
  renovate.json
Due: none

chore(deps): automated dependency update with go get -u
  src/acceptance/assets/app/go_app/go.mod
  src/acceptance/assets/app/go_app/go.sum
  src/acceptance/go.mod
  src/acceptance/go.sum
  src/autoscaler/go.mod
  src/autoscaler/go.sum
  src/changelog/go.mod
  src/changelog/go.sum
  src/changeloglockcleaner/go.mod
  src/changeloglockcleaner/go.sum
Due: golangci-lint

set different route group name for postgres to avoid colision with other deployments
  operations/use-cf-services.yml
Due: none

Add deployment_name tag to autoscaler_postgres in use-cf-services.yml
  operations/use-cf-services.yml
Due: none

Use different orgs for different mtar deployments
  ci/autoscaler/scripts/common.sh
  ci/autoscaler/scripts/vars.source.sh
Due: none

Invert conditions for space and org cleanup in autoscaler script
  ci/autoscaler/scripts/common.sh
Due: none

Change registration interval
  operations/use-cf-services.yml
Due: none

Update ginkgo from 2.20.0 to 2.20.1 in devbox.json and devbox.lock
  devbox.json
  devbox.lock
Due: none

Add genproto dependency and update go.mod with replace directive for genproto
  src/autoscaler/go.mod
Due: golangci-lint

Introduce retry mechanism for SyslogEmitter with exponential backoff
  src/autoscaler/metricsforwarder/forwarder/syslog_emitter.go
  src/autoscaler/metricsforwarder/forwarder/syslog_emitter_test.go
Due: golangci-lint

🤖🦾🛠️ go mod tidy & make package-specs
  packages/eventgenerator/spec
  src/autoscaler/go.mod
  src/autoscaler/go.sum
Due: golangci-lint

chore(deps): Bump app-autoscaler-cli-plugin to v4.0.1
  devbox.lock
  flake.lock
  nix/packages.nix
Due: none

chore(deps): Renew `Gemfile.lock`
  .github/workflows/linters.yaml
  Gemfile.lock
  spec/jobs/golangapiserver/apiserver_spec.rb
Due: rubocop

Add context to syslog emitter in metrics forwarder
  src/autoscaler/metricsforwarder/forwarder/syslog_emitter.go
Due: golangci-lint

Remove unsued recurity group rule - now using router tcp
  src/autoscaler/metricsforwarder/security-group.json
Due: golangci-lint

Remove 'gomoddirectives' linter from golangci configuration
  .golangci.yaml
Due: none

WIP
  Makefile
  src/autoscaler/.gitignore
  src/autoscaler/Makefile
  src/autoscaler/mta.tpl.yaml
Due: golangci-lint

chore(ci): Disable Cloud Controller v2 API in CI
  ci/infrastructure/pipeline.yml
Due: none

fixup! 🤖🦾🛠️ go mod tidy & make package-specs
  src/autoscaler/healthendpoint/health_readiness_test.go
Due: golangci-lint

Update golang version to 1.22.3
  .final_builds/packages/golang-1-linux/index.yml
  .tool-versions
  ci/terragrunt/app-autoscaler/concourse/pipelines/api-tester/src/go.mod
  go.work
  packages/golang-1-linux/spec.lock
  packages/golang-1-linux/vendored-commit
  packages/golang-1-linux/version
  src/acceptance/assets/app/go_app/go.mod
  src/acceptance/go.mod
  src/autoscaler/go.mod
  src/changelog/go.mod
  src/changeloglockcleaner/go.mod
Due: golangci-lint

chore(`go.work`): Remove `go.work`
  .gitignore
  ci/autoscaler/tasks/update-sdk/update_golang_package.sh
  go.work
Due: none

chore(deps): automated dependency update with go get -u
  src/acceptance/assets/app/go_app/go.mod
  src/acceptance/assets/app/go_app/go.sum
  src/acceptance/go.mod
  src/acceptance/go.sum
  src/autoscaler/go.mod
  src/autoscaler/go.sum
Due: golangci-lint

fix(ruby): Fix `make lint-ruby`
  Gemfile.lock
  devbox.json
  devbox.lock
Due: none
