Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop

.pre-commit-config.yaml:

#  List of git-hooks, during during committing files to git repo

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
        - id: java-formatter
          name: java-formatter
          entry: style-guide/inspect-java-format-0.1.sh
          language: script
          files: '\.java$'
          stages: [commit]
        - id: golangci-lint
          name: golangci-lint
          entry: style-guide/golangci-lint-0.1.sh
          language: script
          files: '^src'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]
        - id: rubocop
          name: rubocop
          entry: style-guide/rubocop-0.1.sh
          language: script
          files: '\.rb$'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]

fix(ci): disable fail-fast in acceptance tests workflow
  .github/workflows/acceptance_tests_reusable.yaml
Due: none

(feat) Add XFCC authenticated eventgenerator endpoint (#3330)
  Makefile
  jobs/eventgenerator/spec
  jobs/eventgenerator/templates/eventgenerator.yml.erb
  operations/use-cf-services.yml
  packages/eventgenerator/spec
  spec/jobs/eventgenerator/eventgenerator_spec.rb
  src/autoscaler/api/publicapiserver/public_api_handler.go
  src/autoscaler/build-extension-file.sh
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_suite_test.go
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_test.go
  src/autoscaler/eventgenerator/cmd/eventgenerator/main.go
  src/autoscaler/eventgenerator/config/config.go
  src/autoscaler/eventgenerator/config/config_test.go
  src/autoscaler/eventgenerator/server/server.go
  src/autoscaler/eventgenerator/server/server_test.go
  src/autoscaler/routes/routes.go
  src/autoscaler/routes/routes_test.go
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_suite_test.go
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_test.go
  src/autoscaler/scalingengine/server/server_test.go
  src/autoscaler/testhelpers/certs.go
Due: golangci-lint, rubocop

chore(oauth): Replace deprecated `check_token` usage with `introspect`
  src/autoscaler/cf/client.go
  src/autoscaler/cf/mocks/mocks.go
  src/autoscaler/cf/mocks/mocks_test.go
  src/autoscaler/cf/oauth.go
  src/autoscaler/cf/oauth_test.go
  src/autoscaler/integration/integration_golangapi_eventgenerator_test.go
  src/autoscaler/integration/integration_golangapi_scalingengine_test.go
  src/autoscaler/integration/integration_golangapi_scheduler_test.go
  src/autoscaler/integration/integration_suite_test.go
Due: golangci-lint

chore(deps): Remove superfluous `google-cloud-sdk`
  .tool-versions
  Makefile
  devbox.json
  devbox.lock
  flake.nix
  renovate.json
Due: none

chore(oauth): Switch from using basic auth to token when calling `introspect`
  src/autoscaler/cf/client.go
Due: golangci-lint

🤖🦾🛠️ scripts/asdf2devbox.py
  devbox.json
  devbox.lock
Due: none

chore(devbox): Introduce special nix flake for devbox
  devbox.json
  nix/flake.lock
  nix/flake.nix
Due: none

fix acceptance-release target
  Makefile
  src/acceptance/api/api_test.go
  src/acceptance/assets/app/go_app/deploy.sh
  src/autoscaler/api/publicapiserver/public_api_handler.go
Due: golangci-lint

remove unnecessary test app
  src/autoscaler/cf/testdata/test_app/.gitignore
  src/autoscaler/cf/testdata/test_app/app.js
  src/autoscaler/cf/testdata/test_app/deploy.sh
  src/autoscaler/cf/testdata/test_app/manifest.yml
  src/autoscaler/cf/testdata/test_app/package-lock.json
  src/autoscaler/cf/testdata/test_app/package.json
Due: golangci-lint

Removes subrouter in api server
  src/autoscaler/api/publicapiserver/public_api_server.go
Due: golangci-lint

Adds cf_Server config for scalingengine
  jobs/scalingengine/spec
Due: none

Adds xfcc cf endpoint support to scaling engine
  src/autoscaler/api/cmd/api/api_test.go
  src/autoscaler/api/publicapiserver/public_api_server.go
  src/autoscaler/helpers/auth/xfcc_auth.go
Due: golangci-lint

Update jobs/scalingengine/spec
  jobs/scalingengine/spec
Due: none

Remove debug println
  src/autoscaler/helpers/auth/xfcc_auth.go
Due: golangci-lint

Remove pending test
  src/autoscaler/api/cmd/api/api_test.go
Due: golangci-lint

WIP
  src/autoscaler/eventgenerator/server/server.go
  src/autoscaler/routes/routes.go
Due: golangci-lint

Fix issue with routes
  src/autoscaler/routes/routes.go
Due: golangci-lint

Remove EventgeneratorServer interface from server.go
  src/autoscaler/eventgenerator/server/server.go
Due: golangci-lint

Adds xfcc cf endpoint support to scaling engine
  src/autoscaler/build-extension-file.sh
  src/autoscaler/helpers/auth/xfcc_auth.go
  src/autoscaler/routes/routes.go
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_test.go
  src/autoscaler/scalingengine/server/server_test.go
Due: golangci-lint

WIP
  src/autoscaler/Makefile
  src/autoscaler/api/config/config.go
  src/autoscaler/api/config/config_test.go
  src/autoscaler/api/publicapiserver/middleware.go
  src/autoscaler/api/publicapiserver/middleware_test.go
  src/autoscaler/api/publicapiserver/public_api_handler.go
  src/autoscaler/api/publicapiserver/public_api_handler_test.go
  src/autoscaler/api/publicapiserver/publicapiserver_suite_test.go
  src/autoscaler/configutil/cf.go
  src/autoscaler/configutil/configutil_test.go
  src/autoscaler/helpers/handlers/handlers.go
  src/autoscaler/integration/components_test.go
  src/autoscaler/integration/helpers_test.go
  src/autoscaler/integration/integration_golangapi_eventgenerator_test.go
  src/autoscaler/integration/integration_golangapi_scalingengine_test.go
  src/autoscaler/integration/integration_golangapi_scheduler_test.go
  src/autoscaler/integration/integration_logcache_eventgenerator_scalingengine_test.go
  src/autoscaler/integration/integration_operator_others_test.go
  src/autoscaler/integration/integration_suite_test.go
Due: golangci-lint

Refactor X-Forwarded-Client-Cert header handling and update tests
  src/autoscaler/api/publicapiserver/public_api_handler.go
  src/autoscaler/api/publicapiserver/public_api_handler_test.go
  src/autoscaler/helpers/auth/xfcc_auth.go
  src/autoscaler/testhelpers/certs.go
Due: golangci-lint

Wip2
  src/autoscaler/api/config/config.go
  src/autoscaler/api/config/config_test.go
  src/autoscaler/api/publicapiserver/public_api_handler.go
  src/autoscaler/api/publicapiserver/public_api_handler_test.go
  src/autoscaler/configutil/cf.go
  src/autoscaler/helpers/auth/xfcc_auth.go
  src/autoscaler/scalingengine/server/server_test.go
Due: golangci-lint

Fix test
  src/autoscaler/configutil/configutil_test.go
Due: golangci-lint

Refactor routes
  src/autoscaler/eventgenerator/generator/evaluator.go
  src/autoscaler/eventgenerator/generator/evaluator_test.go
  src/autoscaler/routes/routes.go
  src/autoscaler/routes/routes_test.go
  src/autoscaler/scalingengine/server/server_test.go
Due: golangci-lint

feat(ci): post-process uaac updates in nix package
  .github/workflows/dependency-updates-post-processing.yaml
  Makefile
  nix/packages/uaac/Makefile
Due: none

🤖🦾🛠️ go mod tidy & make package-specs
  nix/packages/uaac/gemset.nix
Due: none

Review Fixes
  Makefile
  docs/public-api.restclient
  src/autoscaler/models/binding_configs_test.go
Due: golangci-lint

wip fix test
  packages/golangapiserver/spec
  src/autoscaler/api/publicapiserver/public_api_handler.go
  src/autoscaler/helpers/auth/xfcc_auth.go
  src/autoscaler/helpers/auth/xfcc_auth_test.go
  src/autoscaler/integration/integration_golangapi_eventgenerator_test.go
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_test.go
Due: golangci-lint

chore(devbox): remove unused dependencies
  devbox.json
  devbox.lock
  flake.nix
Due: none

Enable generate-fakes target for integration tests in Makefile
  src/autoscaler/Makefile
Due: golangci-lint

Fix wrong merge conflict on public api handler
  src/autoscaler/api/publicapiserver/public_api_handler.go
Due: golangci-lint
