Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop

java-formatter:
  name: java-formatter
  entry: style-guide/inspect-java-format-0.1.sh
  language: script
  stages:
  - commit

golangci-lint:
  name: golangci-lint
  entry: style-guide/golangci-lint-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

rubocop:
  name: rubocop
  entry: style-guide/rubocop-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

Remove unused manifesT
  src/autoscaler/metricsforwarder/manifest.yml
Due: golangci-lint

Update metricsforwarder spec file
  jobs/metricsforwarder/spec
Due: none

🤖🦾🛠️ scripts/asdf2devbox.py
  devbox.json
  devbox.lock
Due: none

Update src/autoscaler/metricsforwarder/config/config_test.go
  src/autoscaler/metricsforwarder/config/config_test.go
Due: golangci-lint

Update src/autoscaler/metricsforwarder/forwarder/syslog_emitter.go
  src/autoscaler/metricsforwarder/forwarder/syslog_emitter.go
Due: golangci-lint

Update templates/app-autoscaler.yml
  templates/app-autoscaler.yml
Due: none

Remove gitignore
  src/autoscaler/metricsforwarder/.gitignore
Due: golangci-lint

Change from context to when in metricsforwarder/forwarder test
  src/autoscaler/metricsforwarder/forwarder/forwarder_test.go
  src/autoscaler/metricsforwarder/forwarder/syslog_emitter_test.go
Due: golangci-lint

Update src/autoscaler/metricsforwarder/forwarder/metron_emitter.go
  src/autoscaler/metricsforwarder/forwarder/metron_emitter.go
Due: golangci-lint

Update src/autoscaler/metricsforwarder/forwarder/metric_forwarder.go
  src/autoscaler/metricsforwarder/forwarder/metric_forwarder.go
Due: golangci-lint

chore(otel): Setup OpenTelemetry in all main functions
  packages/eventgenerator/spec
  packages/metricsforwarder/spec
  packages/metricsgateway/spec
  packages/metricsserver/spec
  packages/operator/spec
  src/autoscaler/api/cmd/api/main.go
  src/autoscaler/eventgenerator/cmd/eventgenerator/main.go
  src/autoscaler/eventgenerator/server/server.go
  src/autoscaler/helpers/opentelemetry.go
  src/autoscaler/metricsforwarder/cmd/metricsforwarder/main.go
  src/autoscaler/metricsforwarder/server/server.go
  src/autoscaler/metricsgateway/cmd/metricsgateway/main.go
  src/autoscaler/metricsserver/cmd/metricsserver/main.go
  src/autoscaler/metricsserver/collector/server.go
  src/autoscaler/operator/cmd/operator/main.go
  src/autoscaler/scalingengine/cmd/scalingengine/main.go
Due: golangci-lint

Update ci Readme
  ci/README.md
Due: none

close response-body
  src/acceptance/app/dynamic_policy_test.go
Due: golangci-lint

fix(acceptance-tests): reduce load during `throughput`- and `responsetime`-tests (#2941)
  src/acceptance/app/dynamic_policy_test.go
  src/acceptance/helpers/helpers.go
Due: golangci-lint

Update src/acceptance/Makefile
  src/acceptance/Makefile
Due: golangci-lint

Adds missing acceptance tests pipeline for logcache syslog
  ci/Makefile
  ci/autoscaler/pipeline.yml
  ci/autoscaler/set-pipeline.sh
  ci/scripts/unpause-pipeline.sh
Due: none

query CF API to check if broker exists
  ci/autoscaler/scripts/register-broker.sh
Due: none

Adds gum version to asdf
  .tool-versions
Due: none

fix(mysql): Do not configure wrong Hibernate dialect when using MySQL
  src/db/pom.xml
  src/scheduler/pom.xml
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/DataSourceConfig.java
Due: java-formatter, golangci-lint

fix(acceptance): use CF API to check if broker exists instead of `grep`ping from `cf`-cli (#2953)
  ci/autoscaler/scripts/register-broker.sh
Due: none

Updated release version to 13.1.0 in golangapiserver
  jobs/golangapiserver/spec
Due: none

created release v13.1.0
  .final_builds/jobs/golangapiserver/index.yml
  .final_builds/packages/changeloglockcleaner/index.yml
  .final_builds/packages/db/index.yml
  .final_builds/packages/eventgenerator/index.yml
  .final_builds/packages/golangapiserver/index.yml
  .final_builds/packages/metricsforwarder/index.yml
  .final_builds/packages/metricsgateway/index.yml
  .final_builds/packages/metricsserver/index.yml
  .final_builds/packages/operator/index.yml
  .final_builds/packages/scalingengine/index.yml
  .final_builds/packages/scheduler/index.yml
  releases/app-autoscaler/app-autoscaler-13.1.0.yml
  releases/app-autoscaler/index.yml
Due: none

feat(broker_test): Dynamically determine plans to update
  src/acceptance/broker/broker_test.go
Due: golangci-lint

fix(acceptance): fix naming of plan update tests names
  src/acceptance/broker/broker_test.go
Due: golangci-lint

fix(broker_test): Do not silently skip plan update tests
  src/acceptance/bin/test_default
  src/acceptance/broker/broker_test.go
Due: golangci-lint

Document use of modulo
  src/acceptance/broker/broker_test.go
Due: golangci-lint

Revert file renaming to maintain backward compatibility
  ci/autoscaler/pipeline.yml
  ci/autoscaler/scripts/deploy-autoscaler.sh
  operations/configure-log-cache-and-forward-metrics-via-mtls.yml
  operations/enable-metricsforwarder-via-metron-agent.yml
Due: none

🤖🦾🛠️ scripts/asdf2devbox.py
  devbox.json
Due: none

Fix shellcheck recomendations
  ci/scripts/unpause-pipeline.sh
Due: none

Update ci readme
  ci/README.md
Due: none

Adds missing phony to ci makefile
  ci/Makefile
Due: none

Improve unpause pipeline script
  ci/scripts/unpause-pipeline.sh
Due: none

Update golang version to 1.22.3
  .final_builds/packages/golang-1-linux/index.yml
  .tool-versions
  ci/terragrunt/app-autoscaler/concourse/pipelines/api-tester/src/go.mod
  go.work
  packages/golang-1-linux/spec.lock
  packages/golang-1-linux/vendored-commit
  packages/golang-1-linux/version
  src/acceptance/assets/app/go_app/go.mod
  src/acceptance/go.mod
  src/autoscaler/go.mod
  src/changelog/go.mod
  src/changeloglockcleaner/go.mod
Due: golangci-lint

Checks if unpause jobs are left before trying
  ci/scripts/unpause-pipeline.sh
Due: none

Fix linting issue
  ci/README.md
Due: none

Path conditions:
  java-formatter: any of: \.java$
  golangci-lint: any of: ^src
  rubocop: any of: \.rb$
