Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop

.pre-commit-config.yaml:

#  List of git-hooks, during during committing files to git repo

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
        - id: java-formatter
          name: java-formatter
          entry: style-guide/inspect-java-format-0.1.sh
          language: script
          files: '\.java$'
          stages: [commit]
        - id: golangci-lint
          name: golangci-lint
          entry: style-guide/golangci-lint-0.1.sh
          language: script
          files: '^src'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]
        - id: rubocop
          name: rubocop
          entry: style-guide/rubocop-0.1.sh
          language: script
          files: '\.rb$'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]

Change colour and blink;
  flake.nix
Due: none

APPAUTOSCALER-544 : Make BasicAuth deselectable.
  src/autoscaler/healthendpoint/server.go
  src/autoscaler/models/health.go
Due: golangci-lint

APPAUTOSCALER-544 : Adapt creation of health-service
  src/autoscaler/Makefile
  src/autoscaler/healthendpoint/health_readiness_test.go
  src/autoscaler/healthendpoint/server.go
Due: golangci-lint

Re-Format custom-metrics-api and start scaling-history-api (WIP);
  api/custom-metrics-api.yaml
  api/scaling-history-api.yaml
Due: none

Complete definition for the History API.
  api/scaling-history-api.yaml
  docs/Public_API.rst
Due: none

Refactoring and adding an example;
  api/custom-metrics-api.yaml
  api/scaling-history-api.yaml
  api/shared_schemas.yaml
Due: none

Move shared definitions to a single file;
  api/custom-metrics-api.yaml
  api/scaling-history-api.yaml
  api/shared_definitions.yaml
  api/shared_schemas.yaml
Due: none

APPAUTOSCALER-544 : Declare constants for paths;
  src/autoscaler/Makefile
  src/autoscaler/api/cmd/api/api_test.go
  src/autoscaler/healthendpoint/health_readiness_test.go
  src/autoscaler/healthendpoint/server.go
  src/autoscaler/models/health.go
  src/autoscaler/routes/routes.go
Due: golangci-lint

poc- implement liveness endpoint
  src/autoscaler/healthendpoint/health_readiness_test.go
  src/autoscaler/healthendpoint/server.go
  src/autoscaler/models/health.go
Due: golangci-lint

Fix eventgenerator-tests;
  Makefile
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_test.go
  src/autoscaler/integration/components_test.go
  src/autoscaler/integration/integration_suite_test.go
  src/autoscaler/metricsforwarder/cmd/metricsforwarder/metricsforwarder_test.go
Due: golangci-lint

Rename health-endpoint and variables;
  src/autoscaler/api/cmd/api/api_test.go
  src/autoscaler/healthendpoint/health_readiness_test.go
  src/autoscaler/healthendpoint/server.go
  src/autoscaler/routes/routes.go
Due: golangci-lint

Fix metricsgateway-test-suite
  src/autoscaler/api/cmd/api/api_test.go
  src/autoscaler/healthendpoint/health_readiness_test.go
  src/autoscaler/healthendpoint/server.go
  src/autoscaler/integration/components_test.go
  src/autoscaler/metricsgateway/cmd/metricsgateway/metricsgateway_test.go
  src/autoscaler/metricsserver/cmd/metricsserver/metricsserver_test.go
  src/autoscaler/operator/cmd/operator/operator_test.go
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_test.go
Due: golangci-lint

Sonarcloud should avoid test-files;
  .sonarcloud.properties
  flake.nix
Due: none

Fix health-config-validation
  flake.nix
  src/acceptance/api/api_suite_test.go
  src/autoscaler/models/health.go
Due: golangci-lint

Fix config for acceptance-tests
  ci/autoscaler/scripts/run-acceptance-tests.sh
  src/acceptance/api/basic_auth_test.go
  src/autoscaler/api/brokerserver/broker_server.go
  src/autoscaler/api/brokerserver/broker_server_test.go
  src/autoscaler/api/cmd/api/main.go
  src/autoscaler/api/publicapiserver/public_api_server.go
  src/autoscaler/api/publicapiserver/public_api_server_test.go
  src/autoscaler/models/health.go
Due: golangci-lint

Add health-configuration-parameters for the golangapiserver.
  jobs/golangapiserver/spec
  jobs/golangapiserver/templates/apiserver.yml.erb
  templates/app-autoscaler.yml
Due: none

Fix health-root-path in test configurations;
  .envrc
  src/acceptance/api/api_suite_test.go
  src/autoscaler/api/cmd/api/main.go
  src/autoscaler/api/config/config_test.go
  src/autoscaler/api/config/testdata/valid_config.yml
  src/autoscaler/integration/components_test.go
  src/autoscaler/integration/integration_operator_others_test.go
  src/autoscaler/metricsforwarder/config/config_test.go
  src/autoscaler/metricsgateway/config/config_test.go
  src/autoscaler/metricsserver/config/config_test.go
  src/autoscaler/models/health.go
  src/autoscaler/operator/config/config_test.go
  src/autoscaler/scalingengine/config/config_test.go
Due: golangci-lint

refactoring of API Routes
  src/autoscaler/api/publicapiserver/public_api_server.go
Due: golangci-lint

Remove wrong health-endpoint from api-server.
  src/autoscaler/api/publicapiserver/public_api_handler.go
  src/autoscaler/api/publicapiserver/public_api_handler_test.go
  src/autoscaler/api/publicapiserver/public_api_server.go
  src/autoscaler/api/publicapiserver/public_api_server_test.go
  src/autoscaler/healthendpoint/http_status_collect_middleware.go
  src/autoscaler/healthendpoint/server.go
Due: golangci-lint

Fix test-configuration for apiserver
  spec/fixtures/apiserver.yml
  src/acceptance/api/basic_auth_test.go
Due: golangci-lint

golangapiserver-> exposee health server port via route registrar
  jobs/golangapiserver/spec
  src/acceptance/api/basic_auth_test.go
  src/autoscaler/api/cmd/api/api_test.go
  src/autoscaler/api/publicapiserver/public_api_server.go
  templates/app-autoscaler.yml
Due: golangci-lint

scheduler->start a embedded tomcat health server (instead of from prometheus lib)
  docs/autocaler-scheduler-apisv1.drawio
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/SchedulerApplication.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/EmbeddedTomcatConfiguration.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/HealthServerConfiguration.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/MetricsConfig.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/PrometheusConfig.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/rest/EndpointsListener.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/rest/HandlerInterceptor.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/rest/MultiPortFilter.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/rest/health/HealthRestController.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/conf/HealthServerConfigurationTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/conf/MetricsConfigurationTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/health/HealthEndpointWithBasicAuthTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/health/HealthEndpointWithoutBasicAuthTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/health/SchedulerHealthDefaultEndpointTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/health/SchedulerHealthEndpointTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/rest/MultiPortFilterTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/util/HealthUtils.java
  src/scheduler/src/test/resources/application-HealthAuth.yml
Due: java-formatter, golangci-lint

golangAPIServer => add Bosh template test
  Gemfile.lock
  README.md
  jobs/golangapiserver/spec
  spec/fixtures/apiserver.yml
  spec/jobs/golangapiserver/apiserver_spec.rb
  src/acceptance/api/api_suite_test.go
  src/acceptance/api/basic_auth_test.go
  src/autoscaler/api/config/config_test.go
  src/autoscaler/api/config/testdata/valid_config.yml
  src/autoscaler/eventgenerator/config/config_test.go
  src/autoscaler/healthendpoint/http_status_collect_middleware.go
  src/autoscaler/metricsforwarder/config/config_test.go
  src/autoscaler/metricsgateway/config/config_test.go
  src/autoscaler/metricsserver/config/config_test.go
  src/autoscaler/models/health.go
  src/autoscaler/models/health_test.go
  src/autoscaler/scalingengine/config/config_test.go
  src/autoscaler/scalingengine/config/testdata/valid.yml
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/SchedulerApplication.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/MetricsConfig.java
  templates/app-autoscaler.yml
Due: java-formatter, golangci-lint, rubocop

scheduler-> MultiPortFilter to differntiate health and main requests
  example/operation/disable-basicauth-on-health-endpoints.yml
  jobs/scheduler/spec
  jobs/scheduler/templates/scheduler.yml.erb
  operations/disable-basicauth-on-health-endpoints.yml
  spec/jobs/scheduler/scheduler_spec.rb
  src/autoscaler/integration/components_test.go
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/SchedulerApplication.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/EmbeddedTomcatConfiguration.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/HealthServerConfiguration.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/rest/BasicAuthenticationFilter.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/rest/EndpointsListener.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/rest/HandlerInterceptor.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/rest/MultiPortFilter.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/rest/ScheduleSyncRestController.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/rest/health/HealthRestController.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/conf/HealthServerConfigurationTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/health/HealthEndpointWithBasicAuthTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/health/HealthEndpointWithoutBasicAuthTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/rest/BasicAuthenticationFilterTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/rest/MultiPortFilterTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/util/HealthUtils.java
  style-guide/checkstyle_suppressions.xml
  templates/app-autoscaler.yml
Due: java-formatter, golangci-lint, rubocop

metricsforwarder-> Bosh Template Specs
  jobs/metricsforwarder/spec
  jobs/metricsforwarder/templates/metricsforwarder.yml.erb
  spec/fixtures/metricsforwarder.yml
  spec/jobs/metricsforwarder/metricsforwarder_spec.rb
Due: rubocop

metricsgateway-> Bosh Template Specs
  jobs/metricsgateway/spec
  jobs/metricsgateway/templates/metricsgateway.yml.erb
  spec/fixtures/metricsforwarder.yml
  spec/fixtures/metricsgateway.yml
  spec/jobs/metricsgateway/metricsgateway_spec.rb
  src/autoscaler/healthendpoint/server.go
Due: golangci-lint, rubocop

metricsserver-> Bosh Template Specs
  jobs/metricsserver/spec
  jobs/metricsserver/templates/metricsserver.yml.erb
  spec/fixtures/metricsserver.yml
  spec/jobs/metricsserver/metricsserver_spec.rb
Due: rubocop

operator-> Bosh Template Specs
  jobs/operator/spec
  jobs/operator/templates/operator.yml.erb
  spec/fixtures/operator.yml
  spec/jobs/operator/operator_spec.rb
Due: rubocop

Converts a history-event into a (tagged) sum-type;
  api/scaling-history-api.yaml
Due: none

Add comment;
  api/scaling-history-api.yaml
Due: none

Reuse more code in the openapi-specification;
  api/scaling-history-api.yaml
Due: none

Using tagged union and share property "status".
  api/scaling-history-api.yaml
Due: none

scalingengine-> Bosh Template Specs
  jobs/scalingengine/spec
  jobs/scalingengine/templates/scalingengine.yml.erb
  spec/fixtures/scalingengine.yml
  spec/jobs/scalingengine/scalingengine_spec.rb
  src/autoscaler/api/publicapiserver/public_api_handler.go
  src/autoscaler/healthendpoint/server.go
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/rest/BasicAuthenticationFilter.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/rest/ScheduleSyncRestController.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/health/HealthEndpointWithoutBasicAuthTest.java
  style-guide/google-format-ci-v0.1.sh
Due: java-formatter, golangci-lint, rubocop

Adding application metric file WIP
  api/application-metric-api.yaml
Due: none

Update golang version to 1.20.4 (#1716)
  .final_builds/packages/golang-1-linux/index.yml
  ci/terragrunt/app-autoscaler/concourse/pipelines/api-tester/src/go.mod
  packages/golang-1-linux/spec.lock
  packages/golang-1-linux/vendored-commit
  packages/golang-1-linux/version
  src/acceptance/assets/app/go_app/go.mod
  src/acceptance/go.mod
  src/autoscaler/go.mod
  src/changelog/go.mod
  src/changeloglockcleaner/go.mod
Due: golangci-lint

Review-> Remove Health routes from broker server & public Api server
  src/autoscaler/api/brokerserver/broker_server.go
  src/autoscaler/api/brokerserver/broker_server_test.go
  src/autoscaler/routes/routes.go
  src/autoscaler/routes/routes_test.go
Due: golangci-lint

Adding Delete Policy API file
  api/delete-policy.yaml
Due: none

Delete delete-policy.yaml
  api/delete-policy.yaml
Due: none

Review-> Scehduler ->add java commons-codec for Base64 operations
  flake.nix
  src/scheduler/pom.xml
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/rest/BasicAuthenticationFilter.java
Due: java-formatter, golangci-lint

Updated release version to 10.0.5 in golangapiserver
  jobs/golangapiserver/spec
Due: none
