Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop

java-formatter:
  name: java-formatter
  entry: style-guide/inspect-java-format-0.1.sh
  language: script
  stages:
  - commit

golangci-lint:
  name: golangci-lint
  entry: style-guide/golangci-lint-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

rubocop:
  name: rubocop
  entry: style-guide/rubocop-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

Adds missing dependencies
  src/autoscaler/go.mod
  src/autoscaler/go.sum
Due: golangci-lint

downgrade bosh-cli to make bosh create-release work
  devbox.json
  devbox.lock
Due: none

Undo changes from rebase
  ci/dockerfiles/autoscaler-tools/Dockerfile
  devbox.json
  devbox.lock
  src/acceptance/assets/app/go_app/go.mod
  src/acceptance/assets/app/go_app/go.sum
  src/acceptance/go.mod
  src/acceptance/go.sum
  src/changeloglockcleaner/go.mod
  src/changeloglockcleaner/go.sum
Due: golangci-lint

Update .tool-versions
  .tool-versions
Due: none

Undo changes from rebase
  .github/workflows/asdf2devbox.yaml
Due: none

add `uaac` to devbox
  devbox.json
  devbox.lock
  local-flake/Gemfile
  local-flake/Gemfile.lock
  local-flake/flake.nix
  local-flake/gemset.nix
Due: none

fixup! feat! Remove `buildin` mode (#2916)
  .github/workflows/acceptance_tests_reusable.yaml
  ci/autoscaler/scripts/common.sh
  ci/autoscaler/scripts/run-acceptance-tests.sh
  ci/autoscaler/scripts/vars.source.sh
  ci/autoscaler/tasks/register-broker.yml
  scripts/deploy_acceptance_app.sh
  src/acceptance/README.md
  src/acceptance/app/app_suite_test.go
  src/acceptance/app/custom_metric_test.go
  src/acceptance/assets/app/go_app/deploy.sh
  src/acceptance/broker/broker_suite_test.go
  src/acceptance/config/config.go
  src/acceptance/example_config/example.json
  src/acceptance/helpers/helpers.go
  src/acceptance/helpers/services.go
  src/acceptance/post_upgrade/post_upgrade_suite_test.go
  src/acceptance/pre_upgrade/pre_custom_metric_test.go
  src/acceptance/pre_upgrade/pre_upgrade_suite_test.go
  src/acceptance/run_performance/run_performance_suite_test.go
  src/acceptance/setup_performance/setup_performance_suite_test.go
  src/acceptance/setup_performance/setup_performance_test.go
Due: golangci-lint

feat(scalingengine): Support label to disable autoscaling
  src/acceptance/app/cf_metadata_test.go
  src/acceptance/app/dynamic_policy_test.go
  src/acceptance/helpers/debug.go
  src/acceptance/helpers/helpers.go
  src/autoscaler/cf/app.go
  src/autoscaler/cf/app_test.go
  src/autoscaler/cf/client_test.go
  src/autoscaler/cf/config_test.go
  src/autoscaler/cf/metadata.go
  src/autoscaler/cf/oauth_test.go
  src/autoscaler/cf/testdata/app.json
  src/autoscaler/healthendpoint/health_readiness_test.go
  src/autoscaler/scalingengine/scalingengine.go
  src/autoscaler/scalingengine/scalingengine_test.go
Due: golangci-lint

Update go mods
  src/autoscaler/go.mod
  src/autoscaler/go.sum
Due: golangci-lint

feat(devbox): Build image
  .github/workflows/image.yaml
  ci/dockerfiles/autoscaler-devbox/Dockerfile
Due: none

feat(devbox): Add Cloud MTA Build Tool to devbox
  devbox.json
  local-flake/flake.nix
  scripts/asdf2devbox.py
Due: none

stop bumping bosh-cli for ASDF-env
  renovate.json
Due: none

downgrade bosh-cli in ASDF-env
  .tool-versions
Due: none

Removes hardcoded hostname in syslog messages
  src/autoscaler/metricsforwarder/forwarder/syslog_emitter.go
  src/autoscaler/metricsforwarder/forwarder/syslog_emitter_test.go
Due: golangci-lint

Fix spec test
  spec/jobs/metricsforwarder/metricsforwarder_spec.rb
Due: rubocop

Adds missing package files for metricforwarder
  packages/metricsforwarder/spec
Due: none

remove useless test-script
  devbox.json
Due: none

fix(image workflow): DRY
  .github/workflows/image.yaml
Due: none

fix(Dockerfile): Remove step number
  ci/dockerfiles/autoscaler-devbox/Dockerfile
Due: none

fix(local-flake): Remove `piper`, rename `mbt`
  devbox.json
  local-flake/flake.nix
Due: none

chore(asdf2devbox): Remove `credhub` mapping
  scripts/asdf2devbox.py
Due: none

fix(devbox): Downgrade `bosh-cli` so that `make deploy-autoscaler` works on macOS (#2942)
  .tool-versions
  devbox.json
  devbox.lock
  renovate.json
Due: none

replace curl with native golang http requests, slow down rps a bit for some tests
  src/acceptance/app/dynamic_policy_test.go
Due: golangci-lint

feat(tests): Make PostgreSQL-based tests runnable in `devbox`
  devbox.json
  devbox.lock
Due: none

Update jobs/metricsforwarder/spec
  jobs/metricsforwarder/spec
Due: none

Update src/acceptance/Makefile
  src/acceptance/Makefile
Due: golangci-lint

revert test focus
  src/acceptance/app/dynamic_policy_test.go
Due: golangci-lint

ignore linter findings
  src/acceptance/app/dynamic_policy_test.go
Due: golangci-lint

remove merge leftover 👀
  src/acceptance/app/dynamic_policy_test.go
Due: golangci-lint

scale also in when hitting exactly the upper threshold
  src/acceptance/helpers/helpers.go
Due: golangci-lint

fix test names
  src/acceptance/app/dynamic_policy_test.go
Due: golangci-lint

improve docu
  src/acceptance/helpers/helpers.go
Due: golangci-lint

chore(otel): Setup OpenTelemetry in all main functions
  packages/eventgenerator/spec
  packages/metricsforwarder/spec
  packages/metricsgateway/spec
  packages/metricsserver/spec
  packages/operator/spec
  src/autoscaler/api/cmd/api/main.go
  src/autoscaler/eventgenerator/cmd/eventgenerator/main.go
  src/autoscaler/eventgenerator/server/server.go
  src/autoscaler/helpers/opentelemetry.go
  src/autoscaler/metricsforwarder/cmd/metricsforwarder/main.go
  src/autoscaler/metricsforwarder/server/server.go
  src/autoscaler/metricsgateway/cmd/metricsgateway/main.go
  src/autoscaler/metricsserver/cmd/metricsserver/main.go
  src/autoscaler/metricsserver/collector/server.go
  src/autoscaler/operator/cmd/operator/main.go
  src/autoscaler/scalingengine/cmd/scalingengine/main.go
Due: golangci-lint

Refactor ops files
  ci/autoscaler/scripts/deploy-autoscaler.sh
  operations/enable-metricsforwarder-via-metron-agent.yml
  operations/enable-metricsforwarder-via-syslog-agent.yml
  operations/use-log-cache.yml
Due: none

Adds credhub mapping for asdf 2 devbox
  .gitignore
  .tool-versions
  devbox.json
  devbox.lock
  scripts/asdf2devbox.py
Due: none

Adds correct credhub version
  devbox.lock
Due: none

Remove unused ops file
  operations/remove-postgres-tls.yml
Due: none

Remove unused task
  src/autoscaler/Makefile
Due: golangci-lint

Remove comment
  src/autoscaler/metricsforwarder/forwarder/syslog_emitter_test.go
Due: golangci-lint

Path conditions:
  java-formatter: any of: \.java$
  golangci-lint: any of: ^src
  rubocop: any of: \.rb$
