Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop

.pre-commit-config.yaml:

#  List of git-hooks, during during committing files to git repo

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
        - id: java-formatter
          name: java-formatter
          entry: style-guide/inspect-java-format-0.1.sh
          language: script
          files: '\.java$'
          stages: [commit]
        - id: golangci-lint
          name: golangci-lint
          entry: style-guide/golangci-lint-0.1.sh
          language: script
          files: '^src'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]
        - id: rubocop
          name: rubocop
          entry: style-guide/rubocop-0.1.sh
          language: script
          files: '\.rb$'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]

Ensure exact matching for org and space names in cf CLI commands
  ci/autoscaler/scripts/common.sh
Due: none

Remove trailing newline from enable-nats-tls.yml configuration
  operations/enable-nats-tls.yml
Due: none

perform a cleanup of mtar deployment and created space
  ci/autoscaler/scripts/cleanup-autoscaler.sh
  ci/autoscaler/scripts/common.sh
Due: none

merge
  .editorconfig
  Makefile
  ci/autoscaler/pipeline.yml
  ci/autoscaler/scripts/acceptance-tests-config.sh
  ci/autoscaler/scripts/common.sh
  ci/autoscaler/scripts/deploy-autoscaler.sh
  ci/autoscaler/scripts/run-acceptance-tests.sh
  ci/autoscaler/scripts/vars.source.sh
  ci/autoscaler/set-pipeline.sh
  ci/dockerfiles/autoscaler-tools/Dockerfile
  devbox.json
  devbox.lock
  jobs/scheduler/spec
  jobs/scheduler/templates/bpm-pre-start.erb
  jobs/scheduler/templates/install_crt_keystore.sh
  jobs/scheduler/templates/scheduler.yml.erb
  nix/packages.nix
  operations/disable-postgres-tls-config.yml
  operations/use-cf-services.yml
  scripts/generate_test_certs.sh
  src/acceptance/Makefile
  src/acceptance/bin/test
  src/autoscaler/.gitignore
  src/autoscaler/Makefile
  src/autoscaler/example.mtaext
  src/autoscaler/go.mod
  src/autoscaler/go.sum
  src/autoscaler/integration/scheduler_application.template.yml
  src/autoscaler/metricsforwarder/Makefile
  src/autoscaler/mta.yaml
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/RestClientConfig.java
  src/scheduler/src/main/resources/application.yml
Due: java-formatter, golangci-lint

Remove envconfig dependency
  packages/metricsforwarder/spec
  src/autoscaler/helpers/http_server.go
  src/autoscaler/metricsforwarder/config/config.go
  src/autoscaler/metricsforwarder/config/config_test.go
Due: golangci-lint

chore(asdf2devbox): Switch to Java 21
  .github/workflows/asdf2devbox.yaml
  devbox.json
  devbox.lock
  scripts/asdf2devbox.py
Due: none

🤖🦾🛠️ scripts/asdf2devbox.py
  devbox.json
  devbox.lock
Due: none

✒️ Implement credential-check;
  .golangci.yaml
  src/autoscaler/cred_helper/storedprocedure_cred_helper.go
  src/autoscaler/db/db.go
  src/autoscaler/db/sqldb/binding_sqldb.go
  src/autoscaler/db/sqldb/storedprocedure_sqldb.go
Due: golangci-lint

🔧 Fix SQL-query;
  src/autoscaler/db/sqldb/storedprocedure_sqldb.go
Due: golangci-lint

🩹 Add bosh-package-configuration for the new binding-db-connection of metricsforwarder.
  jobs/metricsforwarder/spec
  jobs/metricsforwarder/templates/metricsforwarder.yml.erb
  spec/jobs/metricsforwarder/metricsforwarder_spec.rb
  templates/app-autoscaler.yml
Due: rubocop

Remove now obsolet changes that came in with older revisions.
  jobs/metricsforwarder/spec
  jobs/metricsforwarder/templates/metricsforwarder.yml.erb
  spec/jobs/metricsforwarder/metricsforwarder_spec.rb
  src/autoscaler/api/cmd/api/main.go
  src/autoscaler/cred_helper/custom_metrics_cred_helper.go
  src/autoscaler/cred_helper/storedprocedure_cred_helper.go
  src/autoscaler/cred_helper/storedprocedure_cred_helper_test.go
  src/autoscaler/db/db.go
  src/autoscaler/db/sqldb/binding_sqldb.go
  src/autoscaler/db/sqldb/storedprocedure_sqldb.go
  src/autoscaler/db/sqldb/storedprocedure_sqldb_test.go
  src/autoscaler/metricsforwarder/cmd/metricsforwarder/main.go
  src/autoscaler/metricsforwarder/cmd/metricsforwarder/metricsforwarder_suite_test.go
  templates/app-autoscaler.yml
Due: golangci-lint, rubocop

🔧 Fix missing initalisations of bindingDB for the credential-helper;
  src/autoscaler/api/cmd/api/main.go
  src/autoscaler/cred_helper/custom_metrics_cred_helper.go
  src/autoscaler/cred_helper/storedprocedure_cred_helper.go
  src/autoscaler/cred_helper/storedprocedure_cred_helper_test.go
  src/autoscaler/db/db.go
  src/autoscaler/metricsforwarder/cmd/metricsforwarder/main.go
Due: golangci-lint

Rename: `Database.DSN` ↦ `Database.DataSourceName`
  src/autoscaler/api/cmd/api/api_suite_test.go
  src/autoscaler/db/helper.go
  src/autoscaler/db/helper_test.go
  src/autoscaler/db/sqldb/appmetric_sqldb.go
  src/autoscaler/db/sqldb/binding_sqldb.go
  src/autoscaler/db/sqldb/lock_sqldb.go
  src/autoscaler/db/sqldb/policy_sqldb.go
  src/autoscaler/db/sqldb/scalingengine_sqldb.go
  src/autoscaler/db/sqldb/scheduler_sqldb.go
  src/autoscaler/db/sqldb/sqldb_suite_test.go
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_suite_test.go
  src/autoscaler/metricsforwarder/cmd/metricsforwarder/metricsforwarder_suite_test.go
  src/autoscaler/operator/cmd/operator/operator_suite_test.go
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_suite_test.go
  src/autoscaler/sync/sync_suite_test.go
Due: golangci-lint

🔧 Fix metricsforwarder-unit-test;
  src/autoscaler/db/helper.go
  src/autoscaler/metricsforwarder/cmd/metricsforwarder/metricsforwarder_suite_test.go
Due: golangci-lint

🔧 Fix sqldb-tests;
  src/autoscaler/db/sqldb/storedprocedure_sqldb_test.go
Due: golangci-lint

Include review-findings;
  src/autoscaler/cred_helper/storedprocedure_cred_helper.go
  src/autoscaler/db/sqldb/storedprocedure_sqldb.go
Due: golangci-lint

Apply suggestions from code review
  src/autoscaler/db/sqldb/storedprocedure_sqldb.go
Due: golangci-lint

Sets postgres port to current pr number if open pr exists
  ci/autoscaler/pipeline.yml
  ci/autoscaler/scripts/deploy-autoscaler.sh
  ci/autoscaler/set-pipeline.sh
  operations/use-cf-services.yml
  src/autoscaler/metricsforwarder/Makefile
Due: golangci-lint

🔧 Fix dependency for performance-test-setup;
  Makefile
  ci/autoscaler/tasks/make/make.sh
Due: none

Remove superfluous case-treatment;
  src/autoscaler/db/sqldb/storedprocedure_sqldb.go
Due: golangci-lint

Fix superfluous import;
  src/autoscaler/db/sqldb/storedprocedure_sqldb.go
Due: golangci-lint

feat(apiserver): Optionally restrict public API to a single client
  jobs/golangapiserver/spec
  jobs/golangapiserver/templates/apiserver.yml.erb
Due: none

Change additional occurrences of DSN;
  src/autoscaler/integration/integration_suite_test.go
  src/changeloglockcleaner/sqldb/changelogdb.go
  src/changeloglockcleaner/sqldb/helper.go
  src/changeloglockcleaner/sqldb/helper_test.go
  src/changeloglockcleaner/sqldb/sqldb_suite_test.go
Due: golangci-lint

Work in review-suggestions;
  src/autoscaler/cred_helper/storedprocedure_cred_helper.go
  src/autoscaler/db/helper_test.go
  src/autoscaler/db/sqldb/storedprocedure_sqldb.go
  src/changeloglockcleaner/sqldb/helper_test.go
Due: golangci-lint

created release v14.1.2
  .final_builds/jobs/golangapiserver/index.yml
  .final_builds/jobs/scheduler/index.yml
  .final_builds/packages/changeloglockcleaner/index.yml
  .final_builds/packages/db/index.yml
  .final_builds/packages/eventgenerator/index.yml
  .final_builds/packages/golangapiserver/index.yml
  .final_builds/packages/metricsforwarder/index.yml
  .final_builds/packages/operator/index.yml
  .final_builds/packages/scalingengine/index.yml
  .final_builds/packages/scheduler/index.yml
  releases/app-autoscaler/app-autoscaler-14.1.2.yml
  releases/app-autoscaler/index.yml
Due: none

Updated release version to 14.1.2 in golangapiserver
  jobs/golangapiserver/spec
Due: none

🤖🦾🛠️ go mod tidy & make package-specs
  src/acceptance/assets/app/go_app/go.mod
  src/acceptance/assets/app/go_app/go.sum
  src/autoscaler/go.mod
  src/autoscaler/go.sum
  src/autoscaler/metricsforwarder/config/config.go
  src/autoscaler/metricsforwarder/config/config_test.go
Due: golangci-lint

Refactor config loading and add VCAP_SERVICES support in metricsforwarder
  src/autoscaler/metricsforwarder/config/config.go
  src/autoscaler/metricsforwarder/config/config_test.go
Due: golangci-lint

Add early return for existing DB config in metricsforwarder config read function
  src/autoscaler/metricsforwarder/config/config.go
Due: golangci-lint

login before cleanup
  ci/autoscaler/scripts/common.sh
Due: none

Improve cleanup_apps function with dynamic app retrieval and conditional undeploy logic
  ci/autoscaler/scripts/common.sh
Due: none

fix(metricsforwarder): Clear allowed metrics cache once policy is removed.
  src/autoscaler/metricsforwarder/manager/policyManager.go
  src/autoscaler/metricsforwarder/manager/policyManager_test.go
Due: golangci-lint

Move cleanup_apps function call and fix system_domain variable case in cleanup_apps function
  ci/autoscaler/scripts/cleanup-autoscaler.sh
  ci/autoscaler/scripts/common.sh
Due: none

Fix lint
  ci/autoscaler/scripts/common.sh
Due: none

Improve variable handling in cleanup_apps function
  ci/autoscaler/scripts/common.sh
Due: none
