Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop

.pre-commit-config.yaml:

#  List of git-hooks, during during committing files to git repo

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
        - id: java-formatter
          name: java-formatter
          entry: style-guide/inspect-java-format-0.1.sh
          language: script
          files: '\.java$'
          stages: [commit]
        - id: golangci-lint
          name: golangci-lint
          entry: style-guide/golangci-lint-0.1.sh
          language: script
          files: '^src'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]
        - id: rubocop
          name: rubocop
          entry: style-guide/rubocop-0.1.sh
          language: script
          files: '\.rb$'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]

Update Checkstyle run path in java-ci-lint workflow to autoscaler scheduler directory
  .github/workflows/java-ci-lint.yaml
Due: none

Update path to checkstyle-result.xml in format_checkstyle.go
  src/fmt_chkstyle/format_checkstyle.go
Due: golangci-lint

Update checkstyle config path in scheduler pom.xml
  src/autoscaler/scheduler/pom.xml
Due: golangci-lint

Remove unprotected health endpoints from autoscaler scheduler configuration
  jobs/scheduler/spec
  jobs/scheduler/templates/scheduler.yml.erb
  spec/jobs/scheduler/scheduler_spec.rb
  src/autoscaler/scheduler/src/main/resources/application.yml
Due: golangci-lint, rubocop

WIP
  src/autoscaler/build-extension-file.sh
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CfHttpConfiguration.java
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/MetricsConfig.java
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/filter/HttpAuthFilter.java
  src/autoscaler/scheduler/src/main/resources/application.yml
  src/autoscaler/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/filter/HttpAuthFilterTest.java
Due: java-formatter, golangci-lint

Refactor HttpAuthFilter and tests for health server authentication
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/filter/HttpAuthFilter.java
  src/autoscaler/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/filter/HttpAuthFilterTest.java
Due: java-formatter, golangci-lint

Enables scheduler cf config with VCAP_CONFIG
  .gitignore
  src/autoscaler/build-extension-file.sh
  src/autoscaler/scheduler/default_config.json
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CloudFoundryConfigurationProcessor.java
  src/autoscaler/scheduler/src/main/resources/META-INF/spring.factories
  src/autoscaler/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/conf/CloudFoundryConfigurationProcessorTest.java
Due: java-formatter, golangci-lint

Remove terraform;
  ci/terragrunt/flake.nix
Due: none

Small docu-change;
  ci/README.md
Due: none

Add hint regarding zsh-completion;
  .envrc
Due: none

Add SSL configuration options to autoscaler scheduler default config
  src/autoscaler/scheduler/default_config.json
Due: golangci-lint

Update golang version to 1.24.2
  .final_builds/packages/golang-1-linux/index.yml
  ci/terragrunt/app-autoscaler/concourse/pipelines/api-tester/src/go.mod
  devbox.json
  devbox.lock
  packages/golang-1-linux/spec.lock
  packages/golang-1-linux/vendored-commit
  packages/golang-1-linux/version
  src/acceptance/assets/app/go_app/go.mod
  src/acceptance/go.mod
  src/autoscaler/go.mod
  src/changelog/go.mod
  src/changeloglockcleaner/go.mod
Due: golangci-lint

Add deploy-apps target to autoscaler Makefile for app deployment automation
  src/autoscaler/Makefile
Due: golangci-lint

Add database service configuration processing to CloudFoundryConfigurationProcessor
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CloudFoundryConfigurationProcessor.java
  src/autoscaler/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/conf/CloudFoundryConfigurationProcessorTest.java
Due: java-formatter, golangci-lint

Add sourcing of vars.source.sh in build-extension-file.sh to set environment variables
  src/autoscaler/build-extension-file.sh
Due: golangci-lint

Adds proper type for GUIDs in Cloud Foundry;
  devbox.lock
  src/autoscaler/api/binding_request/clean_parser/json-structure.go
  src/autoscaler/api/binding_request/legacy_parser/json-structure.go
  src/autoscaler/models/app.go
Due: golangci-lint

🚧 WiP: Start separating json-Representation from internal Data-Representation for the clean-parser;
  src/autoscaler/api/binding_request/binding-request-parser.go
  src/autoscaler/api/binding_request/clean_parser/json-structure.go
  src/autoscaler/api/binding_request/clean_parser/parser.go
Due: golangci-lint

Add sourcing of vars.source.sh in build-extension-file.sh. to set environment variables
  src/autoscaler/build-extension-file.sh
Due: golangci-lint

Refactor Makefile targets and update .gitignore to speedup mta deploys
  Makefile
  ci/autoscaler/scripts/deploy-apps.sh
  src/autoscaler/.gitignore
  src/autoscaler/Makefile
  src/autoscaler/go.sum
  src/autoscaler/mta.tpl.yaml
  src/autoscaler/testhelpers/db_test.go
Due: golangci-lint

Add Makefile_* pattern to autoscaler .gitignore
  src/autoscaler/.gitignore
Due: golangci-lint

🤖🦾🛠️ go mod tidy & make package-specs
  src/autoscaler/go.sum
Due: golangci-lint

Fixed typo in Makefile MODULES variable, changing 'metrisforwarder' to 'metricsforwarder'.
  src/autoscaler/Makefile
Due: golangci-lint

Fix null-pointer-error;
  src/autoscaler/api/binding_request/clean_parser/parser.go
Due: golangci-lint

Finish implementation of the new parser;
  src/autoscaler/api/binding_request/clean_parser/json-structure.go
  src/autoscaler/api/binding_request/clean_parser/parser.go
Due: golangci-lint

🚧 WiP: Add legacy-parser;
  src/autoscaler/api/binding_request/legacy_parser/parser.go
Due: golangci-lint

Add scaling engine URL configuration to autoscaler resources in build-extension-file script
  src/autoscaler/build-extension-file.sh
Due: golangci-lint

Enhance SSL configuration and logging for autoscaler scheduler
  src/autoscaler/scheduler/default_config.json
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/beanPostProcessor/DatasourceBeanPostProcessor.java
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CloudFoundryConfigurationProcessor.java
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/RestClientConfig.java
  src/autoscaler/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/conf/CloudFoundryConfigurationProcessorTest.java
Due: java-formatter, golangci-lint

Remove test-scheduler from .PHONY targets and update test rule in Makefile
  Makefile
Due: none

Add VCAP_APPLICATION processing to CloudFoundryConfigurationProcessor
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CloudFoundryConfigurationProcessor.java
  src/autoscaler/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/conf/CloudFoundryConfigurationProcessorTest.java
Due: java-formatter, golangci-lint

Add scheduler DB scripts to dbtasks and include scheduler changelog application in mta.tpl
  src/autoscaler/Makefile
  src/autoscaler/dbtasks/src/main/resources/.gitignore
  src/autoscaler/mta.tpl.yaml
Due: golangci-lint

Add scheduler changelog to autoscaler module command in mta.tpl.yaml
  src/autoscaler/mta.tpl.yaml
Due: golangci-lint

Renamed db_test.go to db.go in autoscaler/testhelpers directory.
  src/autoscaler/testhelpers/db.go
Due: golangci-lint

Fix format issues
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/beanPostProcessor/DatasourceBeanPostProcessor.java
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CloudFoundryConfigurationProcessor.java
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/RestClientConfig.java
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/filter/HttpAuthFilter.java
  src/autoscaler/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/conf/CloudFoundryConfigurationProcessorTest.java
  src/autoscaler/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/filter/HttpAuthFilterTest.java
Due: java-formatter, golangci-lint

Add shellcheck source directive to build-extension-file.sh for vars.source.sh script path
  src/autoscaler/build-extension-file.sh
Due: golangci-lint

Remove trailing commas from health configuration in scheduler spec tests
  spec/jobs/scheduler/scheduler_spec.rb
Due: rubocop

Update path for scheduler executable in integration tests
  src/autoscaler/integration/integration_suite_test.go
Due: golangci-lint

Remove SSL enabled flag and handle SSL context initialization with exception in RestClientConfig
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CloudFoundryConfigurationProcessor.java
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/RestClientConfig.java
Due: java-formatter, golangci-lint

Add SSL configuration processing for CF instance certificates in CloudFoundryConfigurationProcessor
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CloudFoundryConfigurationProcessor.java
Due: java-formatter, golangci-lint

Update OpenJDK JRE version to 21.+ in autoscaler mta.tpl.yaml
  src/autoscaler/mta.tpl.yaml
Due: golangci-lint

Default TLS to 1.2 to comunicate to scaling engine through the go router
  src/autoscaler/scheduler/src/main/resources/application.yml
Due: golangci-lint
