Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop

.pre-commit-config.yaml:

#  List of git-hooks, during during committing files to git repo

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
        - id: java-formatter
          name: java-formatter
          entry: style-guide/inspect-java-format-0.1.sh
          language: script
          files: '\.java$'
          stages: [commit]
        - id: golangci-lint
          name: golangci-lint
          entry: style-guide/golangci-lint-0.1.sh
          language: script
          files: '^src'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]
        - id: rubocop
          name: rubocop
          entry: style-guide/rubocop-0.1.sh
          language: script
          files: '\.rb$'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]

Updated release version to 14.2.0 in golangapiserver
  jobs/golangapiserver/spec
Due: none

created release v14.2.0
  .final_builds/jobs/golangapiserver/index.yml
  .final_builds/packages/db/index.yml
  .final_builds/packages/eventgenerator/index.yml
  .final_builds/packages/golangapiserver/index.yml
  .final_builds/packages/metricsforwarder/index.yml
  .final_builds/packages/operator/index.yml
  .final_builds/packages/scalingengine/index.yml
  .final_builds/packages/scheduler/index.yml
  releases/app-autoscaler/app-autoscaler-14.2.0.yml
  releases/app-autoscaler/index.yml
Due: none

chore(deps): automated dependency update with go get -u
  src/acceptance/assets/app/go_app/go.mod
  src/acceptance/assets/app/go_app/go.sum
  src/acceptance/go.mod
  src/acceptance/go.sum
  src/autoscaler/go.mod
  src/autoscaler/go.sum
  src/changeloglockcleaner/go.mod
  src/changeloglockcleaner/go.sum
Due: golangci-lint

🤖🦾🛠️ go mod tidy & make package-specs
  src/autoscaler/go.sum
Due: golangci-lint

update cf ops files
  ci/infrastructure/pipeline.yml
Due: none

Adds dynotrace service
  src/autoscaler/mta.tpl.yaml
Due: golangci-lint

Deploy diego cells in 2 azs
  ci/operations/scale_out_cf_for_app-autoscaler.yaml
Due: none

WIP
  ci/infrastructure/pipeline.yml
  ci/operations/scale_out_cf_for_app-autoscaler.yaml
Due: none

Merge debox
  devbox.lock
Due: none

Remove API credential routes and associated middleware from public API server
  src/autoscaler/api/publicapiserver/public_api_server.go
Due: golangci-lint

Remove unused net/http import and apiHttpClient from api_suite_test in autoscaler API
  src/autoscaler/api/cmd/api/api_suite_test.go
Due: golangci-lint

Fix lint
  src/autoscaler/api/cmd/api/api_test.go
Due: golangci-lint

Small fix
  src/autoscaler/api/cmd/api/api_suite_test.go
Due: golangci-lint

Remove Health Port configuration from metricsforwarder tests
  src/autoscaler/metricsforwarder/config/config_test.go
Due: golangci-lint

Fix lint
  src/autoscaler/api/publicapiserver/scaling_history_handler.go
  src/autoscaler/eventgenerator/server/server.go
  src/autoscaler/helpers/auth/xfcc_auth.go
Due: golangci-lint

Comment out setupMainRouter functions in eventgenerator and scalingengine servers
  src/autoscaler/eventgenerator/server/server.go
  src/autoscaler/scalingengine/server/server.go
Due: golangci-lint

created release v14.3.0
  .final_builds/jobs/golangapiserver/index.yml
  .final_builds/packages/changeloglockcleaner/index.yml
  .final_builds/packages/db/index.yml
  .final_builds/packages/eventgenerator/index.yml
  .final_builds/packages/golangapiserver/index.yml
  .final_builds/packages/metricsforwarder/index.yml
  .final_builds/packages/operator/index.yml
  .final_builds/packages/scalingengine/index.yml
  .final_builds/packages/scheduler/index.yml
  releases/app-autoscaler/app-autoscaler-14.3.0.yml
  releases/app-autoscaler/index.yml
Due: none

Updated release version to 14.3.0 in golangapiserver
  jobs/golangapiserver/spec
Due: none

Fix test
  src/autoscaler/eventgenerator/aggregator/metric_poller_test.go
  src/autoscaler/metricsforwarder/config/config_test.go
  src/autoscaler/metricsforwarder/exampleconfig/config.yml
Due: golangci-lint

Update golang version to 1.22.5
  .final_builds/packages/golang-1-linux/index.yml
  .tool-versions
  ci/terragrunt/app-autoscaler/concourse/pipelines/api-tester/src/go.mod
  packages/golang-1-linux/spec.lock
  packages/golang-1-linux/vendored-commit
  packages/golang-1-linux/version
  src/acceptance/assets/app/go_app/go.mod
  src/acceptance/go.mod
  src/autoscaler/go.mod
  src/changelog/go.mod
  src/changeloglockcleaner/go.mod
Due: golangci-lint

🤖🦾🛠️ scripts/asdf2devbox.py
  devbox.json
  devbox.lock
Due: none

Add new API paths and relocate scaling history API in golangapiserver and scalingengine packages
  packages/golangapiserver/spec
  packages/scalingengine/spec
Due: none

Refactor deployment script to use interpolated secrets from a template
  ci/autoscaler/scripts/autoscaler-secrets.yml.tpl
  ci/autoscaler/scripts/deploy-autoscaler.sh
Due: none

Update klauspost/compress module from v1.17.10 to v1.17.11 in autoscaler component
  src/autoscaler/go.mod
  src/autoscaler/go.sum
Due: golangci-lint

Add use-cf-services ops file to deploy-autoscaler script
  ci/autoscaler/scripts/deploy-autoscaler.sh
Due: none

check if producer app is bound to same autoscaler instance
  scripts/generate_test_certs.sh
  src/autoscaler/db/sqldb/binding_sqldb.go
  src/autoscaler/eventgenerator/generator/evaluator_test.go
  src/autoscaler/metricsforwarder/server/auth/auth_test.go
  src/autoscaler/metricsforwarder/server/auth/authenticator.go
  src/autoscaler/metricsforwarder/server/auth/xfcc_auth.go
  src/autoscaler/metricsforwarder/server/custom_metrics_handlers.go
  src/autoscaler/metricsforwarder/server/custom_metrics_handlers_test.go
Due: golangci-lint

wip
  scripts/generate_test_certs.sh
  src/autoscaler/db/db.go
  src/autoscaler/db/sqldb/binding_sqldb.go
  src/autoscaler/db/sqldb/binding_sqldb_test.go
  src/autoscaler/db/sqldb/factories.go
  src/autoscaler/eventgenerator/generator/evaluator_test.go
  src/autoscaler/metricsforwarder/cmd/metricsforwarder/main.go
  src/autoscaler/metricsforwarder/server/auth/auth_suite_test.go
  src/autoscaler/metricsforwarder/server/auth/auth_test.go
  src/autoscaler/metricsforwarder/server/auth/authenticator.go
  src/autoscaler/metricsforwarder/server/auth/xfcc_auth.go
  src/autoscaler/metricsforwarder/server/custom_metrics_handlers.go
  src/autoscaler/metricsforwarder/server/custom_metrics_handlers_test.go
  src/autoscaler/metricsforwarder/server/server.go
  src/autoscaler/metricsforwarder/server/server_suite_test.go
Due: golangci-lint

condigure bindingdb in metricsforwarder to authenticate neighbour app
  jobs/metricsforwarder/spec
  jobs/metricsforwarder/templates/binding_db.crt.erb
  jobs/metricsforwarder/templates/binding_db.key.erb
  jobs/metricsforwarder/templates/binding_db_ca.crt.erb
  jobs/metricsforwarder/templates/metricsforwarder.yml.erb
  spec/fixtures/metricsforwarder.yml
  spec/jobs/metricsforwarder/metricsforwarder_spec.rb
  src/autoscaler/metricsforwarder/cmd/metricsforwarder/metricsforwarder_suite_test.go
  src/autoscaler/metricsforwarder/config/config.go
  src/autoscaler/metricsforwarder/config/config_test.go
Due: golangci-lint, rubocop

allow neighbour app to send custom metrics without policy
  src/acceptance/app/custom_metric_test.go
  src/acceptance/helpers/helpers.go
  src/autoscaler/metricsforwarder/server/custom_metrics_handlers.go
  src/autoscaler/metricsforwarder/server/custom_metrics_handlers_test.go
  src/autoscaler/metricsforwarder/server/server.go
Due: golangci-lint

acceptance test
  ci/autoscaler/scripts/deploy-autoscaler.sh
  new-test-policy.json
  src/acceptance/app/app_suite_test.go
  src/acceptance/app/cf_metadata_test.go
  src/acceptance/app/custom_metric_test.go
  src/acceptance/app/dynamic_policy_test.go
  src/acceptance/app/lead_times_test.go
  src/acceptance/app/recurring_schedule_policy_test.go
  src/acceptance/app/specificdate_schedule_policy_test.go
  src/acceptance/assets/app/go_app/internal/app/custom_metrics.go
  src/acceptance/assets/app/go_app/internal/app/custom_metrics_test.go
  src/acceptance/helpers/apps.go
  src/acceptance/helpers/helpers.go
  src/autoscaler/api/broker/broker.go
  src/autoscaler/api/db/servicebroker.db.changelog.yaml
  src/autoscaler/db/db.go
  src/autoscaler/db/sqldb/binding_sqldb.go
  src/autoscaler/db/sqldb/binding_sqldb_test.go
  src/autoscaler/db/sqldb/sqldb_suite_test.go
  src/autoscaler/metricsforwarder/server/auth/auth_test.go
  src/autoscaler/metricsforwarder/server/auth/authenticator.go
  src/autoscaler/metricsforwarder/server/auth/custom_metrics_strategy.go
  src/autoscaler/metricsforwarder/server/auth/xfcc_auth.go
  src/autoscaler/models/binding_configs.go
Due: golangci-lint

allow neighbour app to send custom metrics without policy
  src/acceptance/app/custom_metric_test.go
  src/autoscaler/api/brokerserver/broker_handler_test.go
Due: golangci-lint

fix test
  src/acceptance/app/app_suite_test.go
  src/acceptance/app/custom_metric_test.go
  src/acceptance/helpers/apps.go
  src/acceptance/helpers/helpers.go
Due: golangci-lint

fix api->broker tests
  flake.lock
  src/acceptance/assets/app/go_app/internal/app/custom_metrics.go
  src/acceptance/assets/app/go_app/internal/app/custom_metrics_test.go
  src/autoscaler/api/broker/broker.go
  src/autoscaler/api/brokerserver/broker_handler_test.go
  src/autoscaler/db/db.go
  src/autoscaler/db/sqldb/binding_sqldb.go
  src/autoscaler/db/sqldb/binding_sqldb_test.go
  src/autoscaler/eventgenerator/metric/fetcher_test.go
Due: golangci-lint

fix acceptance test
  src/acceptance/app/custom_metric_test.go
Due: golangci-lint

add custom metrics strategy FK in database
  src/autoscaler/api/db/servicebroker.db.changelog.yaml
  src/autoscaler/db/sqldb/binding_sqldb_test.go
Due: golangci-lint

save binding config in database
  jobs/metricsforwarder/spec
  src/autoscaler/api/broker/broker.go
  src/autoscaler/api/brokerserver/broker_handler_test.go
  src/autoscaler/api/db/servicebroker.db.changelog.yaml
  src/autoscaler/db/db.go
  src/autoscaler/db/sqldb/binding_sqldb.go
  src/autoscaler/db/sqldb/binding_sqldb_test.go
  src/autoscaler/db/sqldb/sqldb_suite_test.go
  src/autoscaler/eventgenerator/metric/fetcher_test.go
  src/autoscaler/metricsforwarder/server/auth/custom_metrics_strategy.go
  src/autoscaler/metricsforwarder/server/auth/xfcc_auth.go
  src/autoscaler/metricsforwarder/server/server_test.go
  src/autoscaler/models/binding_configs.go
  templates/app-autoscaler.yml
Due: golangci-lint

add some logging
  src/acceptance/broker/broker_test.go
  src/autoscaler/api/broker/broker.go
  src/autoscaler/metricsforwarder/server/auth/xfcc_auth.go
Due: golangci-lint

does not run the generate of apis on binary build
  src/autoscaler/Makefile
Due: golangci-lint
