Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop

.pre-commit-config.yaml:

#  List of git-hooks, during during committing files to git repo

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
        - id: java-formatter
          name: java-formatter
          entry: style-guide/inspect-java-format-0.1.sh
          language: script
          files: '\.java$'
          stages: [commit]
        - id: golangci-lint
          name: golangci-lint
          entry: style-guide/golangci-lint-0.1.sh
          language: script
          files: '^src'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]
        - id: rubocop
          name: rubocop
          entry: style-guide/rubocop-0.1.sh
          language: script
          files: '\.rb$'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]

Update package specs
  packages/golangapiserver/spec
  packages/scalingengine/spec
Due: none

fixes sed apprearences with unix only argument
  scripts/sync-package-specs
  src/changeloglockcleaner/Makefile
Due: golangci-lint

Update gosub in bosh packages
  packages/golangapiserver/spec
  packages/scalingengine/spec
Due: none

Reapply "Update gosub in bosh packages"
  packages/golangapiserver/spec
  packages/metricsgateway/spec
  packages/metricsserver/spec
  packages/scalingengine/spec
Due: none

Clean mod vendor before mod vendor
  Makefile
  jobs/metricsforwarder/templates/metricsforwarder.yml.erb
Due: none

Revert "fixes sed apprearences with unix only argument"
  scripts/sync-package-specs
  src/changeloglockcleaner/Makefile
Due: golangci-lint

Supports syslog via tls
  src/autoscaler/metricsforwarder/forwarder/metron_emitter.go
  src/autoscaler/metricsforwarder/forwarder/syslog_emitter.go
  src/autoscaler/metricsforwarder/forwarder/syslog_emitter_test.go
Due: golangci-lint

Sets certs in the right path
  jobs/metricsforwarder/templates/metricsforwarder.yml.erb
  operations/enable-metricsforwarder-syslog.yml
Due: none

Makes sed usage compatible both with bsd and unix versions
  scripts/sync-package-specs
  src/acceptance/Makefile
  src/acceptance/assets/app/go_app/Makefile
  src/autoscaler/Makefile
  src/changelog/Makefile
Due: golangci-lint

Fix config validation
  src/autoscaler/metricsforwarder/config/config.go
  src/autoscaler/metricsforwarder/config/config_test.go
Due: golangci-lint

Change MetricsForwarder references to Emitter
  src/autoscaler/generate-fakes.go
  src/autoscaler/metricsforwarder/forwarder/deleteme
  src/autoscaler/metricsforwarder/server/custom_metrics_handlers.go
Due: golangci-lint

Revert "Update gosub in bosh packages"
  packages/golangapiserver/spec
  packages/metricsgateway/spec
  packages/metricsserver/spec
  packages/scalingengine/spec
Due: none

fix package subs
  packages/golangapiserver/spec
  packages/scalingengine/spec
Due: none

fix spec for metricforwarder
  jobs/metricsforwarder/templates/metricsforwarder.yml.erb
  operations/enable-metricsforwarder-syslog.yml
  spec/fixtures/metricsforwarder.yml
  spec/jobs/metricsforwarder/metricsforwarder_spec.rb
Due: rubocop

chore(deps): update ginkgo updates to v2.17.2
  .tool-versions
  ci/dockerfiles/autoscaler-tools/Dockerfile
  src/acceptance/assets/app/go_app/go.mod
  src/acceptance/go.mod
  src/acceptance/go.sum
  src/changeloglockcleaner/go.mod
  src/changeloglockcleaner/go.sum
Due: golangci-lint

🤖🦾🛠️ go mod tidy & make package-specs
  src/acceptance/assets/app/go_app/go.mod
  src/acceptance/assets/app/go_app/go.sum
Due: golangci-lint

configure app memory via make
  ci/autoscaler/scripts/run-acceptance-tests.sh
Due: none

remove debug statement
  ci/autoscaler/scripts/run-acceptance-tests.sh
Due: none

feat! Remove `buildin` mode (#2916)
  templates/app-autoscaler.yml
Due: none

test with 64MB test memory
  ci/autoscaler/scripts/run-acceptance-tests.sh
Due: none

test with 128MB test memory
  ci/autoscaler/scripts/run-acceptance-tests.sh
Due: none

feat(deps): Add `devbox` config (#2914)
  .envrc
  .github/workflows/asdf2devbox.yaml
  .tool-versions
  devbox.json
  devbox.lock
  local-flake/flake.nix
  renovate.json
Due: none

feat(direnv): Check if `devbox` is installed before invoking it (#2921)
  .envrc
Due: none

feat(envrc): Automatically eval bbl env # Issue
  .envrc
Due: none

chore(ci): Restore `use_buildin_mode` false until the next major version
  templates/app-autoscaler.yml
Due: none

chore(devbox): Add useful tools to devbox
  devbox.json
  devbox.lock
  local-flake/flake.nix
Due: none

Fix Linting
  Makefile
  spec/jobs/metricsforwarder/metricsforwarder_spec.rb
  src/acceptance/Makefile
  src/autoscaler/metricsforwarder/config/config.go
  src/autoscaler/metricsforwarder/forwarder/syslog_emitter.go
Due: golangci-lint, rubocop

Update app-autoscaler.yml
  templates/app-autoscaler.yml
Due: none

fix(operator): Clean up scaling cooldowns
  .envrc
Due: none

Update golang version to 1.21.5 (#2931)
  .tool-versions
  devbox.json
  devbox.lock
  src/acceptance/assets/app/go_app/go.mod
  src/acceptance/go.mod
  src/changeloglockcleaner/go.mod
Due: golangci-lint

Remove unused security group
  src/autoscaler/metricsforwarder/postgres-security-group.json
Due: golangci-lint

Delete templates/app-autoscaler.yml
  templates/app-autoscaler.yml
Due: none

Does not remove postgres tls from bosh deployment
  ci/autoscaler/scripts/deploy-autoscaler.sh
Due: none

Revert "Delete templates/app-autoscaler.yml"
  templates/app-autoscaler.yml
Due: none

Delete src/autoscaler/metricsforwarder/Makefile
  src/autoscaler/metricsforwarder/Makefile
Due: golangci-lint

add `uaac` to devbox
  devbox.json
  devbox.lock
  local-flake/Gemfile
  local-flake/Gemfile.lock
  local-flake/flake.nix
  local-flake/gemset.nix
Due: none

fixup! feat! Remove `buildin` mode (#2916)
  .github/workflows/acceptance_tests_reusable.yaml
  ci/autoscaler/scripts/common.sh
  ci/autoscaler/scripts/run-acceptance-tests.sh
  ci/autoscaler/scripts/vars.source.sh
  ci/autoscaler/tasks/register-broker.yml
  scripts/deploy_acceptance_app.sh
  src/acceptance/README.md
  src/acceptance/app/app_suite_test.go
  src/acceptance/app/custom_metric_test.go
  src/acceptance/assets/app/go_app/deploy.sh
  src/acceptance/broker/broker_suite_test.go
  src/acceptance/config/config.go
  src/acceptance/example_config/example.json
  src/acceptance/helpers/helpers.go
  src/acceptance/helpers/services.go
  src/acceptance/post_upgrade/post_upgrade_suite_test.go
  src/acceptance/pre_upgrade/pre_custom_metric_test.go
  src/acceptance/pre_upgrade/pre_upgrade_suite_test.go
  src/acceptance/run_performance/run_performance_suite_test.go
  src/acceptance/setup_performance/setup_performance_suite_test.go
  src/acceptance/setup_performance/setup_performance_test.go
Due: golangci-lint

feat(scalingengine): Support label to disable autoscaling
  src/acceptance/app/cf_metadata_test.go
  src/acceptance/app/dynamic_policy_test.go
  src/acceptance/helpers/debug.go
  src/acceptance/helpers/helpers.go
  src/autoscaler/cf/app.go
  src/autoscaler/cf/app_test.go
  src/autoscaler/cf/client_test.go
  src/autoscaler/cf/config_test.go
  src/autoscaler/cf/metadata.go
  src/autoscaler/cf/oauth_test.go
  src/autoscaler/cf/testdata/app.json
  src/autoscaler/healthendpoint/health_readiness_test.go
  src/autoscaler/scalingengine/scalingengine.go
  src/autoscaler/scalingengine/scalingengine_test.go
Due: golangci-lint
