Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop

java-formatter:
  name: java-formatter
  entry: style-guide/inspect-java-format-0.1.sh
  language: script
  stages:
  - commit

golangci-lint:
  name: golangci-lint
  entry: style-guide/golangci-lint-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

rubocop:
  name: rubocop
  entry: style-guide/rubocop-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

created release v10.0.5
  .final_builds/jobs/golangapiserver/index.yml
  .final_builds/packages/changeloglockcleaner/index.yml
  .final_builds/packages/db/index.yml
  .final_builds/packages/eventgenerator/index.yml
  .final_builds/packages/golangapiserver/index.yml
  .final_builds/packages/metricsforwarder/index.yml
  .final_builds/packages/metricsgateway/index.yml
  .final_builds/packages/metricsserver/index.yml
  .final_builds/packages/operator/index.yml
  .final_builds/packages/scalingengine/index.yml
  .final_builds/packages/scheduler/index.yml
  releases/app-autoscaler/app-autoscaler-10.0.5.yml
  releases/app-autoscaler/index.yml
Due: none

fix up dependencies from generated code
  src/acceptance/assets/app/go_app/go.sum
  src/acceptance/assets/app/go_app/internal/custommetrics/oas_cfg_gen.go
Due: golangci-lint

WIP create policy api
  api/create-policy-api.yaml
Due: none

WIP-Improving Shared_definitions and adding Policy API file
  api/delete-policy.yaml
  api/policy-api.yaml
  api/shared_definitions.yaml
Due: none

Review-> Docs -> add SVG for the scheduler API Docs
  docs/autocaler-scheduler-apisv1.drawio
  docs/images/autocaler-scheduler-apisv1.drawio.svg
  src/autoscaler/healthendpoint/server.go
Due: golangci-lint

Review -> Scheduler -> validate health port start health server on defined ports (Port 0 is not allowed)
  src/autoscaler/integration/components_test.go
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/EmbeddedTomcatConfiguration.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/HealthServerConfiguration.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/conf/HealthServerConfigurationTest.java
Due: java-formatter, golangci-lint

WIP-More Additions to Shared_definitions
  api/shared_definitions.yaml
Due: none

More Additions to Shared_definitions and completing Policy API
  api/policy-api.yaml
  api/shared_definitions.yaml
Due: none

liveness information should also be available at /health (besides /health/liveness) to avoid breaking changes
  jobs/golangapiserver/spec
  jobs/metricsforwarder/spec
  jobs/metricsgateway/spec
  jobs/metricsserver/spec
  jobs/operator/spec
  jobs/scalingengine/spec
  jobs/scheduler/spec
  src/acceptance/api/basic_auth_test.go
  src/autoscaler/healthendpoint/health_readiness_test.go
  src/autoscaler/healthendpoint/server.go
  src/autoscaler/routes/routes.go
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/rest/health/HealthRestController.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/rest/healthControllerTest/HealthEndpointWithBasicAuthTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/rest/healthControllerTest/HealthEndpointWithoutBasicAuthTest.java
Due: java-formatter, golangci-lint

WIP- Adding Application-Metric-api, policy-api & improving Shared_definitions file
  api/application-metric-api.yaml
  api/policy-api.yaml
  api/shared_definitions.yaml
Due: none

Update src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/rest/BasicAuthenticationFilter.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/rest/BasicAuthenticationFilter.java
Due: java-formatter, golangci-lint

Update src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/HealthServerConfiguration.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/HealthServerConfiguration.java
Due: java-formatter, golangci-lint

change unprotected type to Set (instead of List)
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/HealthServerConfiguration.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/rest/BasicAuthenticationFilter.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/rest/MultiPortFilter.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/conf/HealthServerConfigurationTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/rest/BasicAuthenticationFilterTest.java
Due: java-formatter, golangci-lint

API Server -> API routes documentation
  docs/autocaler-list-of-apis-v0.1.drawio
  docs/images/autocaler-list-of-apisv1.svg
Due: none

review fixes -> added /health=/health/liveness and missing info
  docs/autocaler-list-of-apis-v0.1.drawio
  docs/images/apis/autoscaler-api-server-apis.drawio.svg
  docs/images/autocaler-list-of-apisv1.svg
Due: none

Update flake;
  flake.lock
Due: none

Add comment regarding semantic versioning;
  ci/autoscaler/scripts/release-autoscaler.sh
  docs/release_process.md
Due: none

Refactor BasicAuthenticationFilter
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/HealthServerConfiguration.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/rest/BasicAuthenticationFilter.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/conf/HealthServerConfigurationTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/rest/BasicAuthenticationFilterTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/rest/healthControllerTest/HealthEndpointWithBasicAuthTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/rest/healthControllerTest/HealthEndpointWithoutBasicAuthTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/util/HealthUtils.java
Due: java-formatter, golangci-lint

WIP- changes
  api/application-metric-api.yaml
  api/policy-api.yaml
  api/shared_definitions.yaml
  docs/Public_API.rst
  docs/policy.md
Due: none

Update golang version to 1.20.5
  .final_builds/packages/golang-1-linux/index.yml
  .tool-versions
  packages/golang-1-linux/spec.lock
  packages/golang-1-linux/vendored-commit
  packages/golang-1-linux/version
Due: none

fix golangci-lint issues (depgaured, nakedret)
  .golangci.yaml
  src/autoscaler/metricsserver/collector/ws_handler.go
  src/autoscaler/testhelpers/websocket_handler.go
Due: golangci-lint

change valid endpoints to Enum types
  Makefile
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/HealthServerConfiguration.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/rest/BasicAuthenticationFilter.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/rest/BasicAuthenticationFilterTest.java
Due: java-formatter, golangci-lint

add missing java files
  Makefile
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/util/health/EndpointsEnum.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/rest/healthControllerTest/HealthEndpointMixedAuthTest.java
Due: java-formatter, golangci-lint

remove unused github-pr-resource
  ci/autoscaler/pipeline.yml
Due: none

update bosh packages
  packages/eventgenerator/spec
  packages/golangapiserver/spec
  packages/metricsforwarder/spec
  packages/metricsgateway/spec
  packages/metricsserver/spec
  packages/operator/spec
  packages/scalingengine/spec
Due: none

acceptance tests: allow overriding of component health endpoints
  src/acceptance/api/basic_auth_test.go
  src/acceptance/config/config.go
Due: golangci-lint

modify bootloder artificate name
  ci/dockerfiles/autoscaler-deploy/Dockerfile
  ci/dockerfiles/autoscaler-tools/Dockerfile
Due: none

Fix statical linking of go-binary for tests;
  src/acceptance/assets/app/go_app/Makefile
Due: golangci-lint

Add go-debugger “delve” and other go-tools;
  flake.nix
Due: none

Update loggregator-agent-release;
  operations/add-releases.yml
  operations/log-cache-syslog-server.yml
  templates/app-autoscaler-deployment.yml
Due: none

Update bpm-release;
  operations/add-releases.yml
Due: none

Update bosh-dns-aliases-release;
  operations/add-releases.yml
Due: none

Update bosh-routing-release;
  operations/add-releases.yml
Due: none

Path conditions:
  java-formatter: any of: \.java$
  golangci-lint: any of: ^src
  rubocop: any of: \.rb$
