Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop

java-formatter:
  name: java-formatter
  entry: style-guide/inspect-java-format-0.1.sh
  language: script
  stages:
  - commit

golangci-lint:
  name: golangci-lint
  entry: style-guide/golangci-lint-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

rubocop:
  name: rubocop
  entry: style-guide/rubocop-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

🤖🦾🛠️ scripts/asdf2devbox.py
  devbox.json
  devbox.lock
Due: none

chore(renovate): Also run during office hours
  renovate.json
Due: none

Add JSON tags to api config structs and implement FromJSON function
  src/autoscaler/api/config/config.go
  src/autoscaler/api/config/config_test.go
  src/autoscaler/cf/config.go
  src/autoscaler/db/db.go
  src/autoscaler/helpers/health.go
  src/autoscaler/helpers/http_server.go
  src/autoscaler/helpers/logger.go
  src/autoscaler/models/api.go
  src/autoscaler/models/ratelimit.go
  src/autoscaler/models/security.go
Due: golangci-lint

Improve gorouterproxy tests and request forwarding
  src/autoscaler/integration/gorouterproxy/gorouterproxy_test.go
  src/autoscaler/integration/gorouterproxy/main.go
Due: golangci-lint

Adds working integration test for api-scheduler when running in cf container
  src/autoscaler/api/config/config.go
  src/autoscaler/integration/components_test.go
  src/autoscaler/integration/integration_golangapi_scheduler_test.go
  src/autoscaler/integration/integration_suite_test.go
  src/autoscaler/integration/scheduler_application.template.yml
  src/autoscaler/testhelpers/certs.go
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/filter/XfccFilter.java
  src/scheduler/src/main/resources/application.yml
Due: java-formatter, golangci-lint

Fix formating
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/filter/XfccFilter.java
Due: java-formatter, golangci-lint

chore(asdf): Remove ASDF
  .github/workflows/asdf2devbox.yaml
  .github/workflows/bosh-templates.yaml
  .github/workflows/image.yaml
  .tool-versions
  ci/autoscaler/tasks/update-sdk/go_task.yml
  ci/autoscaler/tasks/update-sdk/java_task.yml
  ci/autoscaler/tasks/update-sdk/update_golang_package.sh
  ci/autoscaler/tasks/update-sdk/update_package.sh
  ci/terragrunt/.envrc
  ci/terragrunt/.tool-versions
  devbox.json
  devbox.lock
  renovate.json
  scripts/asdf-plugin-install.sh
  scripts/asdf2devbox.py
  scripts/update_vendor_packages
  src/acceptance/Makefile
  src/acceptance/assets/app/go_app/Makefile
  src/autoscaler/Makefile
  src/changelog/Makefile
  src/changeloglockcleaner/Makefile
Due: golangci-lint

Update credentials key in VCAP_SERVICES for publicapiserver-config in api_test.
  src/autoscaler/api/cmd/api/api_test.go
Due: golangci-lint

Update golang version to 1.23.1
  .final_builds/packages/golang-1-linux/index.yml
  ci/terragrunt/app-autoscaler/concourse/pipelines/api-tester/src/go.mod
  devbox.json
  devbox.lock
  packages/golang-1-linux/spec.lock
  packages/golang-1-linux/vendored-commit
  packages/golang-1-linux/version
  src/acceptance/assets/app/go_app/go.mod
  src/acceptance/go.mod
  src/autoscaler/go.mod
  src/changelog/go.mod
  src/changeloglockcleaner/go.mod
Due: golangci-lint

Fix typo
  src/autoscaler/db/db.go
Due: golangci-lint

Rename cf-server to cfserver in scheduler config and update specs accordingly
  jobs/scheduler/templates/scheduler.yml.erb
  spec/jobs/scheduler/scheduler_spec.rb
Due: rubocop

Add CFHTTPConfiguration class to configure additional HTTP connector for Tomcat in Cloud Foundry Autoscaler Scheduler
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CFHTTPConfiguration.java
Due: java-formatter, golangci-lint

Remove commented code
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CFHTTPConfiguration.java
Due: java-formatter, golangci-lint

Uses DBURL when creating stubed api json configuration
  src/autoscaler/testhelpers/cf.go
Due: golangci-lint

Remove .vscode/settings.json from scheduler module
  src/scheduler/.vscode/settings.json
Due: golangci-lint

Adds missing Remove All
  src/autoscaler/integration/integration_golangapi_eventgenerator_test.go
  src/autoscaler/integration/integration_operator_others_test.go
Due: golangci-lint

Remove SynchronizedAfterSuite cleanup block from integration tests
  src/autoscaler/integration/integration_suite_test.go
Due: golangci-lint

Remove unused logging
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/filter/XfccFilter.java
Due: java-formatter, golangci-lint

Fix typo
  src/autoscaler/cf/config.go
Due: golangci-lint

Ensure error handling for JSON conversion in config_test.go
  src/autoscaler/api/config/config_test.go
Due: golangci-lint

fixup! chore(asdf): Remove ASDF
  Makefile
Due: none

Add nosec annotation to suppress G204 warning in GoRouterProxy command execution
  src/autoscaler/integration/components_test.go
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CFHTTPConfiguration.java
Due: java-formatter, golangci-lint

add doc to `devbox-root-user`
  ci/autoscaler/tasks/update-sdk/go_task.yml
  ci/autoscaler/tasks/update-sdk/java_task.yml
Due: none

Rename CFHTTPConfiguration class to CfHttpConfiguration and update references
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CfHttpConfiguration.java
Due: java-formatter, golangci-lint

chore(nix): Remove nix
  .envrc
  flake.lock
  flake.nix
  nix/flake.nix
Due: none

Update golang version to 1.23.1
  .final_builds/packages/golang-1-linux/index.yml
  ci/terragrunt/app-autoscaler/concourse/pipelines/api-tester/src/go.mod
  devbox.json
  devbox.lock
  nix/flake.lock
  packages/golang-1-linux/spec.lock
  packages/golang-1-linux/vendored-commit
  packages/golang-1-linux/version
  src/acceptance/assets/app/go_app/go.mod
  src/acceptance/go.mod
  src/autoscaler/go.mod
  src/changelog/go.mod
  src/changeloglockcleaner/go.mod
Due: golangci-lint

Remove check on non empty xfcc space and org in scheduler xfcc filter
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/filter/XfccFilter.java
Due: java-formatter, golangci-lint

Improve policy deletion and retrieval error handling in API tests
  src/acceptance/api/api_test.go
Due: golangci-lint

Update golang version to 1.23.1 (#3520)
  .final_builds/packages/golang-1-linux/index.yml
  ci/terragrunt/app-autoscaler/concourse/pipelines/api-tester/src/go.mod
  devbox.json
  devbox.lock
  nix/flake.lock
  packages/golang-1-linux/spec.lock
  packages/golang-1-linux/vendored-commit
  packages/golang-1-linux/version
  src/acceptance/assets/app/go_app/go.mod
  src/acceptance/go.mod
  src/autoscaler/go.mod
  src/changelog/go.mod
  src/changeloglockcleaner/go.mod
Due: golangci-lint

Remove default HTTP port from scheduler spec and handle zero port configuration in CfHttpConfiguration
  jobs/scheduler/spec
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CfHttpConfiguration.java
Due: java-formatter, golangci-lint

Change logging order in scheduler xfcc filter
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/filter/XfccFilter.java
Due: java-formatter, golangci-lint

Enable test case for retrieving policy with expected 404 response
  src/acceptance/api/api_test.go
Due: golangci-lint

Fix sonarque issue in gorouter proxy test
  src/autoscaler/integration/gorouterproxy/gorouterproxy_suite_test.go
Due: golangci-lint

Update fly package from 7.12.0 to 7.12.1 across multiple architectures
  devbox.lock
Due: none

Path conditions:
  java-formatter: any of: \.java$
  golangci-lint: any of: ^src
  rubocop: any of: \.rb$
