Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop

.pre-commit-config.yaml:

#  List of git-hooks, during during committing files to git repo

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
        - id: java-formatter
          name: java-formatter
          entry: style-guide/inspect-java-format-0.1.sh
          language: script
          files: '\.java$'
          stages: [commit]
        - id: golangci-lint
          name: golangci-lint
          entry: style-guide/golangci-lint-0.1.sh
          language: script
          files: '^src'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]
        - id: rubocop
          name: rubocop
          entry: style-guide/rubocop-0.1.sh
          language: script
          files: '\.rb$'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]

WIP
  src/autoscaler/scalingengine/config/config.go
Due: golangci-lint

Updated release version to 15.4.0 in golangapiserver
  jobs/golangapiserver/spec
  src/autoscaler/api/default_info.json
Due: golangci-lint

created release v15.4.0
  .final_builds/jobs/golangapiserver/index.yml
  .final_builds/packages/changeloglockcleaner/index.yml
  .final_builds/packages/db/index.yml
  .final_builds/packages/eventgenerator/index.yml
  .final_builds/packages/golangapiserver/index.yml
  .final_builds/packages/metricsforwarder/index.yml
  .final_builds/packages/operator/index.yml
  .final_builds/packages/scalingengine/index.yml
  .final_builds/packages/scheduler/index.yml
  releases/app-autoscaler/app-autoscaler-15.4.0.yml
  releases/app-autoscaler/index.yml
Due: none

Switch to upstream cf-uaac;
  devbox.json
  devbox.lock
  nix/packages.nix
  nix/packages/uaac/Gemfile
  nix/packages/uaac/Gemfile.lock
  nix/packages/uaac/Makefile
  nix/packages/uaac/default.nix
  nix/packages/uaac/gemset.nix
Due: none

Update devbox-managed software;
  devbox.lock
Due: none

Update bosh-bootloader;
  nix/packages.nix
Due: none

Update aas-cli-plugin;
  nix/packages.nix
Due: none

Add meta-information for cloud-mta-build-tool;
  nix/packages.nix
Due: none

Update log-cache-cli-plugin;
  nix/packages.nix
Due: none

Add metedata to cf-deploy-plugin;
  nix/packages.nix
Due: none

Update fly-cli;
  devbox.json
  devbox.lock
Due: none

Revert "Switch to upstream cf-uaac;" – It caused a version-crash as it demands ruby 3.3
  devbox.json
  devbox.lock
  nix/packages.nix
  nix/packages/uaac/Gemfile
  nix/packages/uaac/Gemfile.lock
  nix/packages/uaac/Makefile
  nix/packages/uaac/default.nix
  nix/packages/uaac/gemset.nix
Due: none

Explicitly allow terraform under its busl1.1-license;
  ci/terragrunt/flake.nix
Due: none

Smaller documentation-fixes;
  ci/README.md
  ci/terragrunt/doc/internal_documentation.md
Due: none

Improve descriptions;
  nix/packages.nix
Due: none

Add hint to detailed documentation;
  ci/README.md
  ci/terragrunt/app-autoscaler/concourse/README.md
Due: none

Add fly-client to ci-terragrunt-devshell;
  ci/terragrunt/flake.nix
Due: none

Improve documentation and comment;
  ci/README.md
  ci/terragrunt/flake.nix
Due: none

Update autoscaler deployment script and eventgenerator config
  ci/autoscaler/scripts/deploy-autoscaler.sh
  operations/configure-cf-services.yml
Due: none

Remove unused tlsCert variable from loadVcapConfig function in config.go
  src/autoscaler/api/config/config.go
Due: golangci-lint

Remove unused AppMetricsDb config and refactor HTTP client variable names in tests
  src/autoscaler/api/cmd/api/api_test.go
  src/autoscaler/configutil/configutil_test.go
  src/autoscaler/eventgenerator/config/config_test.go
Due: golangci-lint

Refactor databaseNames variable scope in configutil_test
  src/autoscaler/configutil/configutil_test.go
Due: golangci-lint

Remove trailing whitespace and unused line in autoscaler config and test helper files
  src/autoscaler/configutil/cf.go
  src/autoscaler/testhelpers/health_endpoint.go
Due: golangci-lint

(feature): Enable operator in mtar deployment (#3717)
  devbox.lock
  jobs/eventgenerator/templates/eventgenerator.yml.erb
  jobs/operator/templates/operator.yml.erb
  operations/configure-cf-services.yml
  operations/use-cf-services.yml
  packages/operator/spec
  spec/jobs/eventgenerator/eventgenerator_spec.rb
  spec/jobs/operator/operator_spec.rb
  src/autoscaler/Makefile
  src/autoscaler/api/cmd/api/api_test.go
  src/autoscaler/api/config/config.go
  src/autoscaler/build-extension-file.sh
  src/autoscaler/configutil/cf.go
  src/autoscaler/configutil/configutil_test.go
  src/autoscaler/db/db.go
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_suite_test.go
  src/autoscaler/eventgenerator/config/config_test.go
  src/autoscaler/eventgenerator/default_config.json
  src/autoscaler/integration/components_test.go
  src/autoscaler/mta.tpl.yaml
  src/autoscaler/operator/cmd/operator/main.go
  src/autoscaler/operator/cmd/operator/operator_suite_test.go
  src/autoscaler/operator/cmd/operator/operator_test.go
  src/autoscaler/operator/config/config.go
  src/autoscaler/operator/config/config_test.go
  src/autoscaler/operator/config/testdata/invalid.yml
  src/autoscaler/operator/config/testdata/partial.yml
  src/autoscaler/operator/config/testdata/valid.yml
  src/autoscaler/operator/default_config.json
  src/autoscaler/operator/exampleconfig/example.yml
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_test.go
  src/autoscaler/testhelpers/health_endpoint.go
Due: golangci-lint, rubocop

Remove yaml.v3 dependency from operator config and fix LoadConfig function in autoscaler
  src/autoscaler/operator/config/config.go
Due: golangci-lint

Remove redundant validateDb function from autoscaler operator config
  src/autoscaler/operator/config/config.go
Due: golangci-lint

Moved METRICSFORWARDER_* exports and removed duplicate EVENTGENERATOR_* exports in build-extension-file.sh
  src/autoscaler/build-extension-file.sh
Due: golangci-lint

Remove committish;
  ci/autoscaler/pipeline.yml
Due: none

Update Makefile to skip tests during scheduler build and adjust mta.tpl.yaml for custom builder
  src/autoscaler/Makefile
  src/autoscaler/mta.tpl.yaml
Due: golangci-lint

Remove duplicate Makefile.mta versions from autoscaler module
  src/autoscaler/Makefile_20250520142126.mta
  src/autoscaler/Makefile_20250522165511.mta
Due: golangci-lint

Enabled autoscaler scheduler configuration and route registration in cf-services YAML
  operations/configure-cf-services.yml
  operations/use-cf-services.yml
Due: none

Add default_config.json for scheduler in autoscaler module
  src/autoscaler/scheduler/default_config.json
Due: golangci-lint

Fix initialize db with right scheduler path
  scripts/initialise_db.sh
Due: none

Update scheduler host configuration and routes in autoscaler extension script
  src/autoscaler/build-extension-file.sh
Due: golangci-lint

Update google-format-ci script to target java files in src/autoscaler/scheduler directory
  style-guide/google-format-ci-v0.1.sh
Due: none

Add OpenJDK JRE version 17+ configuration to autoscaler mta.tpl.yaml
  src/autoscaler/mta.tpl.yaml
Due: golangci-lint

Updated initialise_db.sh to use env for bash, set stricter bash options, and improved variable quoting and script readability. Added error handling and cleanup for liquibase log file.
  scripts/initialise_db.sh
Due: none
