Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop

.pre-commit-config.yaml:

#  List of git-hooks, during during committing files to git repo

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
        - id: java-formatter
          name: java-formatter
          entry: style-guide/inspect-java-format-0.1.sh
          language: script
          files: '\.java$'
          stages: [commit]
        - id: golangci-lint
          name: golangci-lint
          entry: style-guide/golangci-lint-0.1.sh
          language: script
          files: '^src'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]
        - id: rubocop
          name: rubocop
          entry: style-guide/rubocop-0.1.sh
          language: script
          files: '\.rb$'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]

Make golangci-lint happy;
  src/autoscaler/api/broker/broker.go
  src/autoscaler/api/broker/broker_suite_test.go
  src/autoscaler/api/broker/broker_test.go
  src/autoscaler/api/policyvalidator/policy_validator.go
  src/autoscaler/api/publicapiserver/public_api_handler.go
  src/autoscaler/db/sqldb/binding_sqldb.go
  src/autoscaler/db/sqldb/policy_sqldb.go
  src/autoscaler/models/api.go
  src/autoscaler/models/app_scaling_config.go
  src/autoscaler/models/app_scaling_config_test.go
  src/autoscaler/models/binding_configs.go
  src/autoscaler/models/binding_configs_test.go
  src/autoscaler/models/policy.go
  src/autoscaler/models/policy_test.go
Due: golangci-lint

Update sonar exclusions and enhance VCAP config loading tests
  .sonarcloud.properties
  src/autoscaler/configutil/cf.go
  src/autoscaler/eventgenerator/config/config_test.go
  src/autoscaler/scalingengine/config/config_test.go
Due: golangci-lint

Refactor VCAP configuration logic and update EventGenerator config to conditionally apply common settings only when running on CF
  src/autoscaler/configutil/cf.go
  src/autoscaler/eventgenerator/config/config.go
  src/autoscaler/eventgenerator/config/config_test.go
Due: golangci-lint

Change fatal logging to error and standardize database connection error messages in autoscaler components
  src/autoscaler/db/sqldb/factories.go
  src/autoscaler/startup/database.go
Due: golangci-lint

Fix lints
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_suite_test.go
  src/autoscaler/eventgenerator/cmd/eventgenerator/main.go
  src/autoscaler/integration/components_test.go
  src/autoscaler/operator/cmd/operator/main.go
  src/autoscaler/scalingengine/cmd/scalingengine/main.go
  src/autoscaler/scalingengine/config/config.go
  src/autoscaler/startup/cf.go
  src/autoscaler/startup/database.go
  src/autoscaler/startup/server.go
  src/autoscaler/startup/startup.go
Due: golangci-lint

🧹 Clean-up of some todo-notes;
  src/autoscaler/api/broker/broker.go
  src/autoscaler/api/publicapiserver/public_api_handler.go
  src/autoscaler/api/publicapiserver/public_api_handler_test.go
  src/autoscaler/db/sqldb/scalingengine_sqldb_test.go
  src/autoscaler/metricsforwarder/cmd/metricsforwarder/metricsforwarder_test.go
  src/autoscaler/models/api.go
  src/autoscaler/models/app_scaling_config_test.go
  src/autoscaler/models/binding_configs.go
  src/autoscaler/models/binding_configs_test.go
Due: golangci-lint

🔧 Fix CustomMetricsStrategy-parsing for metricsforwarder;
  src/autoscaler/api/broker/broker.go
  src/autoscaler/db/sqldb/binding_sqldb.go
  src/autoscaler/models/policy.go
Due: golangci-lint

Adds test;
  src/autoscaler/api/broker/broker_suite_test.go
  src/autoscaler/api/broker/broker_test.go
Due: golangci-lint

🚧 Work in progress: Add more tests;
  src/autoscaler/api/broker/broker_test.go
Due: golangci-lint

Refactor LoadVcapConfig to conditionally apply VCAP config for CF environments
  src/autoscaler/scalingengine/config/config.go
Due: golangci-lint

Fix sonar issue
  src/autoscaler/operator/cmd/operator/main.go
Due: golangci-lint

Fix scalingengine mta deploy
  src/autoscaler/mta.tpl.yaml
  src/autoscaler/scalingengine/config/config.go
Due: golangci-lint

Fix error in Makefile;
  src/autoscaler/Makefile
Due: golangci-lint

🔧 Fix more tests;
  src/autoscaler/api/broker/broker.go
  src/autoscaler/api/broker/broker_test.go
Due: golangci-lint

🥧 Make the linter happy;
  src/autoscaler/api/broker/broker.go
  src/autoscaler/api/broker/broker_test.go
Due: golangci-lint

🧹 Clean-up;
  src/autoscaler/db/sqldb/binding_sqldb.go
  src/autoscaler/models/api.go
  src/autoscaler/models/app.go
  src/autoscaler/models/policy.go
Due: golangci-lint

🔧 Fix test;
  src/autoscaler/db/sqldb/binding_sqldb.go
  src/autoscaler/db/sqldb/binding_sqldb_test.go
  src/autoscaler/models/api.go
  src/autoscaler/models/policy.go
Due: golangci-lint

Remove parts that belong rather to a different PR.
  schema/json/Readme.md
  schema/json/app-scaling-configuration.json
  schema/json/binding-configuration.json
  schema/json/policy-configuration.json
  schema/json/scaling-policy.json
  schema/json/shared_definitions.json
  src/autoscaler/models/app.go
Due: golangci-lint

Revert "Temporarily remove the package binding_request to do that in a separate PR;"
  src/autoscaler/api/binding_request/autoscaler-policy.json
  src/autoscaler/api/binding_request/binding-configuration.json
  src/autoscaler/api/binding_request/binding-request-parser.go
  src/autoscaler/api/binding_request/binding-request-parser_suite_test.go
  src/autoscaler/api/binding_request/binding-request-parser_test.go
  src/autoscaler/api/binding_request/binding-request.json
  src/autoscaler/api/binding_request/clean_parser/json-structure.go
  src/autoscaler/api/binding_request/clean_parser/parser.go
  src/autoscaler/api/binding_request/combined_parser/parser.go
  src/autoscaler/api/binding_request/legacy-binding-request.json
  src/autoscaler/api/binding_request/legacy_parser/json-structure.go
  src/autoscaler/api/binding_request/legacy_parser/parser.go
  src/autoscaler/api/binding_request/shared_definitions.json
Due: golangci-lint

Revert "Remove parts that belong rather to a different PR."
  schema/json/Readme.md
  schema/json/app-scaling-configuration.json
  schema/json/binding-configuration.json
  schema/json/policy-configuration.json
  schema/json/scaling-policy.json
  schema/json/shared_definitions.json
  src/autoscaler/models/app.go
Due: golangci-lint

Allow customization of log level in apply-changelog.sh and set default LOG_LEVEL to INFO in mta.tpl.yaml
  src/autoscaler/dbtasks/src/main/resources/bin/apply-changelog.sh
  src/autoscaler/mta.tpl.yaml
Due: golangci-lint

Verify basic auth conf for autoscaler scheduler health endpoint
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/filter/HttpAuthFilter.java
Due: java-formatter, golangci-lint

Removed changelog component and related functionality from Makefile and CI pipeline, switched to automated release notes generation, and cleaned up associated files and scripts.
  Makefile
  ci/autoscaler/pipeline.yml
  ci/autoscaler/scripts/release-autoscaler.sh
  src/changelog/.gitignore
  src/changelog/Makefile
  src/changelog/display/output.go
  src/changelog/display/output_test.go
  src/changelog/github/github.go
  src/changelog/go.mod
  src/changelog/go.sum
  src/changelog/main.go
  src/changelog/util/command.go
  src/changelog/util/git.go
  src/changelog/util/git_test.go
Due: golangci-lint

fix sceduler health Filter
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/HealthServerProperties.java
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/filter/HttpAuthFilter.java
  src/autoscaler/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/filter/HttpAuthFilterTest.java
Due: java-formatter, golangci-lint

chore(deps): Switch to maintain go yaml fork
  packages/eventgenerator/spec
  packages/golangapiserver/spec
  packages/metricsforwarder/spec
  packages/operator/spec
  packages/scalingengine/spec
  src/autoscaler/api/cmd/api/api_suite_test.go
  src/autoscaler/cf/config_test.go
  src/autoscaler/configutil/cf.go
  src/autoscaler/db/db_test.go
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_suite_test.go
  src/autoscaler/go.mod
  src/autoscaler/go.sum
  src/autoscaler/helpers/file.go
  src/autoscaler/helpers/health_test.go
  src/autoscaler/integration/components_test.go
  src/autoscaler/metricsforwarder/cmd/metricsforwarder/metricsforwarder_suite_test.go
  src/autoscaler/operator/cmd/operator/operator_suite_test.go
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_suite_test.go
Due: golangci-lint

# Issue
  src/acceptance/assets/app/go_app/go.mod
  src/acceptance/assets/app/go_app/go.sum
  src/acceptance/assets/app/go_app/internal/app/app.go
  src/acceptance/assets/app/go_app/internal/app/app_suite_test.go
  src/acceptance/assets/app/go_app/internal/app/cpu.go
  src/acceptance/assets/app/go_app/internal/app/custom_metrics.go
  src/acceptance/assets/app/go_app/internal/app/disk.go
  src/acceptance/assets/app/go_app/internal/app/memory.go
  src/acceptance/assets/app/go_app/internal/app/responsetime.go
  src/acceptance/assets/app/go_app/main.go
Due: golangci-lint

# Issue
  src/acceptance/assets/app/go_app/go.mod
  src/acceptance/assets/app/go_app/go.sum
  src/acceptance/assets/app/go_app/internal/app/app.go
  src/acceptance/assets/app/go_app/internal/app/app_suite_test.go
  src/acceptance/assets/app/go_app/internal/app/app_test.go
  src/acceptance/assets/app/go_app/internal/app/cpu.go
  src/acceptance/assets/app/go_app/internal/app/cpu_test.go
  src/acceptance/assets/app/go_app/internal/app/custom_metrics.go
  src/acceptance/assets/app/go_app/internal/app/custom_metrics_test.go
  src/acceptance/assets/app/go_app/internal/app/disk.go
  src/acceptance/assets/app/go_app/internal/app/disk_test.go
  src/acceptance/assets/app/go_app/internal/app/memory.go
  src/acceptance/assets/app/go_app/internal/app/memory_test.go
  src/acceptance/assets/app/go_app/internal/app/responsetime.go
  src/acceptance/assets/app/go_app/internal/app/responsetime_test.go
  src/acceptance/assets/app/go_app/main.go
Due: golangci-lint

🔧 Fix schemas;
  schema/json/binding-configuration.json
  schema/json/policy-configuration.json
Due: none

chore: Overcommit memory in CI CF env
  ci/operations/scale_out_cf_for_app-autoscaler.yaml
Due: none

chore(deps): Switch to maintain go yaml fork (#3951)
  packages/eventgenerator/spec
  packages/golangapiserver/spec
  packages/metricsforwarder/spec
  packages/operator/spec
  packages/scalingengine/spec
  src/autoscaler/api/cmd/api/api_suite_test.go
  src/autoscaler/cf/config_test.go
  src/autoscaler/configutil/cf.go
  src/autoscaler/db/db_test.go
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_suite_test.go
  src/autoscaler/go.mod
  src/autoscaler/go.sum
  src/autoscaler/helpers/file.go
  src/autoscaler/helpers/health_test.go
  src/autoscaler/integration/components_test.go
  src/autoscaler/metricsforwarder/cmd/metricsforwarder/metricsforwarder_suite_test.go
  src/autoscaler/operator/cmd/operator/operator_suite_test.go
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_suite_test.go
Due: golangci-lint

Introduce new schema-naming-convention and remove legacy-schema;
  schema/json/app-scaling-configuration.schema.json
  schema/json/binding-configuration.schema.json
  schema/json/policy-configuration.legacy-schema.json
  schema/json/policy-configuration.schema.json
  schema/json/scaling-policy.legacy-schema.json
  schema/json/scaling-policy.schema.json
  src/autoscaler/api/binding_request/app-scaling-configuration.schema.json
  src/autoscaler/api/binding_request/autoscaler-policy.json
  src/autoscaler/api/binding_request/binding-configuration.json
  src/autoscaler/api/binding_request/binding-configuration.schema.json
  src/autoscaler/api/binding_request/binding-request.json
  src/autoscaler/api/binding_request/legacy-binding-request.json
  src/autoscaler/api/binding_request/policy-configuration.legacy-schema.json
  src/autoscaler/api/binding_request/policy-configuration.schema.json
  src/autoscaler/api/binding_request/scaling-policy.legacy-schema.json
  src/autoscaler/api/binding_request/scaling-policy.schema.json
Due: golangci-lint

Faktor out schema (to different PR);
  schema/json/app-scaling-configuration.schema.json
  schema/json/binding-configuration.schema.json
  schema/json/policy-configuration.schema.json
  schema/json/scaling-policy.schema.json
  src/autoscaler/api/binding_request/app-scaling-configuration.schema.json
  src/autoscaler/api/binding_request/binding-configuration.schema.json
  src/autoscaler/api/binding_request/binding-request-parser.go
  src/autoscaler/api/binding_request/binding-request-parser_suite_test.go
  src/autoscaler/api/binding_request/binding-request-parser_test.go
  src/autoscaler/api/binding_request/clean_parser/json-structure.go
  src/autoscaler/api/binding_request/clean_parser/parser.go
  src/autoscaler/api/binding_request/combined_parser/parser.go
  src/autoscaler/api/binding_request/legacy_parser/json-structure.go
  src/autoscaler/api/binding_request/legacy_parser/parser.go
  src/autoscaler/api/binding_request/policy-configuration.legacy-schema.json
  src/autoscaler/api/binding_request/policy-configuration.schema.json
  src/autoscaler/api/binding_request/scaling-policy.legacy-schema.json
  src/autoscaler/api/binding_request/scaling-policy.schema.json
  src/autoscaler/api/binding_request/shared_definitions.json
Due: golangci-lint

Revert "Faktor out schema (to different PR);"
  schema/json/app-scaling-configuration.schema.json
  schema/json/binding-configuration.schema.json
  schema/json/policy-configuration.schema.json
  schema/json/scaling-policy.schema.json
  src/autoscaler/api/binding_request/app-scaling-configuration.schema.json
  src/autoscaler/api/binding_request/binding-configuration.schema.json
  src/autoscaler/api/binding_request/binding-request-parser.go
  src/autoscaler/api/binding_request/binding-request-parser_suite_test.go
  src/autoscaler/api/binding_request/binding-request-parser_test.go
  src/autoscaler/api/binding_request/clean_parser/json-structure.go
  src/autoscaler/api/binding_request/clean_parser/parser.go
  src/autoscaler/api/binding_request/combined_parser/parser.go
  src/autoscaler/api/binding_request/legacy_parser/json-structure.go
  src/autoscaler/api/binding_request/legacy_parser/parser.go
  src/autoscaler/api/binding_request/policy-configuration.legacy-schema.json
  src/autoscaler/api/binding_request/policy-configuration.schema.json
  src/autoscaler/api/binding_request/scaling-policy.legacy-schema.json
  src/autoscaler/api/binding_request/scaling-policy.schema.json
  src/autoscaler/api/binding_request/shared_definitions.json
Due: golangci-lint

Test draft changelog
  .github/release.yml
  ci/autoscaler/pipeline.yml
  ci/autoscaler/scripts/release-autoscaler.sh
Due: none

Add release.yml to define changelog categories for GitHub releases
  .github/release.yml
Due: none

Enable upgrade-test pass requirement and set DEBUG to false for dummy-release-autoscaler task in autoscaler pipeline
  ci/autoscaler/pipeline.yml
Due: none

Refactor release-autoscaler.sh to use PR labels for version determination
  ci/autoscaler/scripts/release-autoscaler.sh
Due: none
