Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop

.pre-commit-config.yaml:

#  List of git-hooks, during during committing files to git repo

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
        - id: java-formatter
          name: java-formatter
          entry: style-guide/inspect-java-format-0.1.sh
          language: script
          files: '\.java$'
          stages: [commit]
        - id: golangci-lint
          name: golangci-lint
          entry: style-guide/golangci-lint-0.1.sh
          language: script
          files: '^src'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]
        - id: rubocop
          name: rubocop
          entry: style-guide/rubocop-0.1.sh
          language: script
          files: '\.rb$'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]

Add health endpoint configuration to scheduler's default_config.json
  src/autoscaler/scheduler/default_config.json
Due: golangci-lint

Change cf-login target to use autoscaler-dir instead of acceptance-dir in Makefile
  Makefile
Due: none

Enhance HttpAuthFilter logging and bypass filter for non-health requests without X-Forwarded-Proto
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/filter/HttpAuthFilter.java
Due: java-formatter, golangci-lint

Update HttpAuthFilter to skip filter for missing X-Forwarded-Client-Cert instead of X-Forwarded-Proto
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/filter/HttpAuthFilter.java
Due: java-formatter, golangci-lint

Remove redundant X-Forwarded-Client-Cert check in HttpAuthFilter
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/filter/HttpAuthFilter.java
Due: java-formatter, golangci-lint

Removed tables_postgres.sql and updated quartz_tables_postgres.sql to reflect Quartz table schema changes.
  src/autoscaler/scheduler/db/quartz_tables_postgres.sql
  src/autoscaler/scheduler/src/main/resources/tables_postgres.sql
Due: golangci-lint

Updated Quartz schema SQL files for MySQL and PostgreSQL to use VARCHAR2 datatype instead of VARCHAR.
  src/autoscaler/scheduler/db/quartz_tables_mysql.sql
  src/autoscaler/scheduler/db/quartz_tables_postgres.sql
Due: golangci-lint

Remove unused logging
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CloudFoundryConfigurationProcessor.java
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/filter/HttpAuthFilter.java
Due: java-formatter, golangci-lint

Remove TODO comment about PORT env variable in CfHttpConfiguration
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CfHttpConfiguration.java
Due: java-formatter, golangci-lint

Remove TODO comments from DatasourceBeanPostProcessor
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/beanPostProcessor/DatasourceBeanPostProcessor.java
Due: java-formatter, golangci-lint

Refactor cloud foundrt configuration processor
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CloudFoundryConfigurationProcessor.java
Due: java-formatter, golangci-lint

Revert "Updated Quartz schema SQL files for MySQL and PostgreSQL to use VARCHAR2 datatype instead of VARCHAR."
  src/autoscaler/scheduler/db/quartz_tables_mysql.sql
  src/autoscaler/scheduler/db/quartz_tables_postgres.sql
Due: golangci-lint

Fix scheduler broken test
  src/autoscaler/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/filter/HttpAuthFilterTest.java
Due: java-formatter, golangci-lint

Updated SonarCloud exclusions to ignore SQL files for copy-paste detection.
  .sonarcloud.properties
Due: none

Refactor application.yml to use environment variables for database and health server credentials
  src/autoscaler/scheduler/src/main/resources/application.yml
Due: golangci-lint

Fix format
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CloudFoundryConfigurationProcessor.java
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/filter/HttpAuthFilter.java
  src/autoscaler/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/conf/CloudFoundryConfigurationProcessorTest.java
Due: java-formatter, golangci-lint

Update CloudFoundryConfigurationProcessorTest to handle different SSL and client cert configurations
  src/autoscaler/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/conf/CloudFoundryConfigurationProcessorTest.java
Due: java-formatter, golangci-lint

Update CloudFoundryConfigurationProcessorTest to adjust JSON string alignments in tt push est cases
  src/autoscaler/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/conf/CloudFoundryConfigurationProcessorTest.java
Due: java-formatter, golangci-lint

Exclude 'CloudFoundryConfigurationProcessorTest.java' from Java formatting check in CI script
  style-guide/google-format-ci-v0.1.sh
Due: none

Improve database configuration and fix health endpoint test in autoscaler module
  src/autoscaler/configutil/cf.go
  src/autoscaler/testhelpers/health_endpoint.go
Due: golangci-lint

Add scalingengine module to autoscaler Makefile defaults
  src/autoscaler/Makefile
Due: golangci-lint

Set dynamic versioning for mta-deploy and specify MTAR_FILENAME in Makefile
  ci/autoscaler/scripts/deploy-apps.sh
  src/autoscaler/Makefile
Due: golangci-lint

Increase memory and disk limits for multiapps-controller and Cloud Foundry components
  ci/infrastructure/scripts/deploy-multiapps-controller.sh
  ci/operations/scale_out_cf_for_app-autoscaler.yaml
Due: none

Increase memory allocation for multiapps-controller deployment to 4G
  ci/infrastructure/scripts/deploy-multiapps-controller.sh
Due: none

Set dynamic versioning for mta-deploy and specify MTAR_FILENAME in Makefilet pu
  ci/autoscaler/scripts/deploy-apps.sh
  src/autoscaler/Makefile
Due: golangci-lint

Make JAVA_BIN configurable and improve error handling in apply-api-changelog.sh
  src/autoscaler/dbtasks/src/main/resources/bin/apply-api-changelog.sh
  src/autoscaler/dbtasks/src/main/resources/bin/apply-changelog.sh
Due: golangci-lint

Fixed incorrect variable reference in apply-changelog.sh error messaget push
  src/autoscaler/dbtasks/src/main/resources/bin/apply-changelog.sh
Due: golangci-lint

Updated release version to 15.5.0 in golangapiserver
  jobs/golangapiserver/spec
  src/autoscaler/api/default_info.json
Due: golangci-lint

created release v15.5.0
  .final_builds/jobs/eventgenerator/index.yml
  .final_builds/jobs/golangapiserver/index.yml
  .final_builds/jobs/operator/index.yml
  .final_builds/packages/db/index.yml
  .final_builds/packages/eventgenerator/index.yml
  .final_builds/packages/golangapiserver/index.yml
  .final_builds/packages/metricsforwarder/index.yml
  .final_builds/packages/operator/index.yml
  .final_builds/packages/scalingengine/index.yml
  .final_builds/packages/scheduler/index.yml
  releases/app-autoscaler/app-autoscaler-15.5.0.yml
  releases/app-autoscaler/index.yml
Due: none

Revert ssl changes in rest client, always require ssl
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/RestClientConfig.java
Due: java-formatter, golangci-lint

Make JAVA_BIN configurable (#3840)
  src/autoscaler/dbtasks/src/main/resources/bin/apply-api-changelog.sh
  src/autoscaler/dbtasks/src/main/resources/bin/apply-changelog.sh
Due: golangci-lint

Add pending task for migration - docs
  docs/cf-migration.md
Due: none

Remove .claude from .gitignore and clean up comments in HttpAuthFilter.java
  .gitignore
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/filter/HttpAuthFilter.java
Due: java-formatter, golangci-lint

Remove autoscaler module pom.xml file
  src/autoscaler/pom.xml
Due: golangci-lint

Fix shellcheck altert
  scripts/initialise_db.sh
  src/autoscaler/build-extension-file.sh
Due: golangci-lint

Refactor documentation
  docs/cf-migration.md
Due: none

Enable Event Generator in Autoscaler to receive API calls and register route for CF Event Generator service
  operations/configure-cf-services.yml
Due: none

Add pending task for migration (#3842)
  docs/cf-migration.md
Due: none
