Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop

java-formatter:
  name: java-formatter
  entry: style-guide/inspect-java-format-0.1.sh
  language: script
  stages:
  - commit

golangci-lint:
  name: golangci-lint
  entry: style-guide/golangci-lint-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

rubocop:
  name: rubocop
  entry: style-guide/rubocop-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

Add TLS support to Postgres deployment and introduce related variables
  ci/infrastructure/scripts/deploy-postgres.sh
  ci/operations/set-postgres-tls.yml
Due: none

Increase connection limit for pgadmin in Postgres configuration
  ci/operations/add-multiapps-databases-to-postgres.yml
Due: none

fix: set operator default config
  src/autoscaler/operator/config/config.go
Due: golangci-lint

🔧 Fix: Set log-level for text-sinks.
  src/autoscaler/helpers/logger.go
Due: golangci-lint

operator-> set scaling database cut off duration to 10 days
  src/autoscaler/operator/config/config.go
  src/autoscaler/operator/config/config_test.go
Due: golangci-lint

Set log-level of created logger instead of global default-logger;
  src/autoscaler/helpers/logger.go
Due: golangci-lint

🚧 Work in progress: 🧐 cloud-debugging;
  src/autoscaler/helpers/logger.go
Due: golangci-lint

Apply suggestions from code review
  schema/json/policy-configuration.legacy-schema.json
  src/autoscaler/api/publicapiserver/public_api_handler_test.go
Due: golangci-lint

Apply suggestions from code review
  schema/json/policy-configuration.legacy-schema.json
Due: none

Bring back old test for additional attributes;
  src/autoscaler/api/publicapiserver/public_api_handler_test.go
Due: golangci-lint

operator-> set scaling database cut off duration to 10 days (#3970)
  src/autoscaler/operator/config/config.go
  src/autoscaler/operator/config/config_test.go
Due: golangci-lint

Rename files according to review-finding;
  jobs/golangapiserver/templates/apiserver.yml.erb
  schema/json/policy-configuration.schema.json
  schema/json/scaling-policy.schema.json
  src/autoscaler/api/broker/broker_suite_test.go
  src/autoscaler/api/brokerserver/broker_server_suite_test.go
  src/autoscaler/api/cmd/api/api_suite_test.go
  src/autoscaler/api/default_config.json
  src/autoscaler/api/policyvalidator/policy-configuration.schema.json
  src/autoscaler/api/policyvalidator/policy_validator_test.go
  src/autoscaler/api/policyvalidator/scaling-policy.schema.json
  src/autoscaler/api/publicapiserver/publicapiserver_suite_test.go
  src/autoscaler/integration/components_test.go
Due: golangci-lint

debug: ignore changelog generation
  ci/autoscaler/scripts/release-autoscaler.sh
Due: none

Use again latest stemcell;
  templates/app-autoscaler.yml
Due: none

Introduces a new text-logger on the shoulders of slog;
  src/autoscaler/helpers/logger.go
  src/autoscaler/helpers/text_writer.go
Due: golangci-lint

Add draft check before deleting release in release-autoscaler.sh
  Makefile
  ci/autoscaler/scripts/release-autoscaler.sh
Due: none

Update mta.tpl.yaml
  src/autoscaler/mta.tpl.yaml
Due: golangci-lint

Removed changelog component (#3949)
  Makefile
  ci/autoscaler/pipeline.yml
  ci/autoscaler/scripts/release-autoscaler.sh
  src/changelog/.gitignore
  src/changelog/Makefile
  src/changelog/display/output.go
  src/changelog/display/output_test.go
  src/changelog/github/github.go
  src/changelog/go.mod
  src/changelog/go.sum
  src/changelog/main.go
  src/changelog/util/command.go
  src/changelog/util/git.go
  src/changelog/util/git_test.go
Due: golangci-lint

Add tests!
  src/autoscaler/helpers/logger.go
  src/autoscaler/helpers/text_writer_sink.go
  src/autoscaler/helpers/text_writer_sink_test.go
Due: golangci-lint

Apply lints and introduce explaining comment;
  src/autoscaler/helpers/text_writer_sink.go
  src/autoscaler/helpers/text_writer_sink_test.go
Due: golangci-lint

Remove nanoseconds-precision from slog-based log-entries and fix test;
  src/autoscaler/helpers/text_writer_sink.go
  src/autoscaler/helpers/text_writer_sink_test.go
Due: golangci-lint

added acceptance test for scheduler health endpoint with basic auth
  ci/autoscaler/scripts/acceptance-tests-config.sh
  src/acceptance/api/basic_auth_test.go
  src/acceptance/config/config.go
Due: golangci-lint

fix scheduler health endpoint to read correct properties
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CfServerConfiguration.java
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/filter/HttpAuthFilter.java
  src/autoscaler/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/filter/HttpAuthFilterTest.java
Due: java-formatter, golangci-lint

Revert of multiple commits in preparation of a switch of the approach.
  src/autoscaler/helpers/logger.go
  src/autoscaler/helpers/text_writer_sink.go
  src/autoscaler/helpers/text_writer_sink_test.go
Due: golangci-lint

🔧 Fix: Respect the configured minimum-logging-level.
  src/autoscaler/helpers/logger.go
Due: golangci-lint

Use slog to print out redacted json-entries;
  src/autoscaler/helpers/logger.go
  src/autoscaler/helpers/redacting_writer_with_url_creds_sink.go
  src/autoscaler/helpers/redacting_writer_with_url_creds_sink_test.go
  src/autoscaler/helpers/time_logger_format.go
  src/autoscaler/helpers/time_logger_format_test.go
Due: golangci-lint

🔧 Fix tests;
  src/autoscaler/helpers/helpers_suite_test.go
Due: golangci-lint

test /health endpoint with basic authentication
  ci/autoscaler/scripts/acceptance-tests-config.sh
  src/acceptance/api/basic_auth_test.go
  src/acceptance/config/config.go
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CfHttpConfiguration.java
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/filter/HttpAuthFilter.java
  src/autoscaler/scheduler/src/main/resources/application.yml
  src/autoscaler/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/health/SchedulerHealthEndpointTest.java
  src/autoscaler/scheduler/src/test/resources/application-HealthAuth.yml
Due: java-formatter, golangci-lint

consider health configs from VCAP_Services and load in enviornment
  src/autoscaler/integration/scheduler_application.template.yml
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CloudFoundryConfigurationProcessor.java
Due: java-formatter, golangci-lint

Add pattern to redact passwords within URLs!
  src/autoscaler/helpers/logger.go
Due: golangci-lint

Remove superfluous import and files;
  src/autoscaler/helpers/helpers_suite_test.go
  src/autoscaler/helpers/json_redacter_with_url_creds.go
  src/autoscaler/helpers/json_redacter_with_url_creds_test.go
Due: golangci-lint

simplify CloudFOundryPostProcessor
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CloudFoundryConfigurationProcessor.java
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/filter/HttpAuthFilter.java
  src/autoscaler/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/conf/CloudFoundryConfigurationProcessorTest.java
Due: java-formatter, golangci-lint

🚧 Work in progress: Factor out binding-request-parsing.
  src/autoscaler/api/broker/binding_request_parser/parser.go
  src/autoscaler/api/broker/broker.go
Due: golangci-lint

add required property in bosh based scheduler config
  jobs/scheduler/templates/scheduler.yml.erb
Due: none

fix(scheduler): Read Health Credentials Correctly (#3948)
  jobs/scheduler/templates/scheduler.yml.erb
  src/autoscaler/integration/scheduler_application.template.yml
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CfHttpConfiguration.java
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CfServerConfiguration.java
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CloudFoundryConfigurationProcessor.java
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/filter/HttpAuthFilter.java
  src/autoscaler/scheduler/src/main/resources/application.yml
  src/autoscaler/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/conf/CloudFoundryConfigurationProcessorTest.java
  src/autoscaler/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/filter/HttpAuthFilterTest.java
  src/autoscaler/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/health/SchedulerHealthEndpointTest.java
  src/autoscaler/scheduler/src/test/resources/application-HealthAuth.yml
Due: java-formatter, golangci-lint

test
  src/autoscaler/scheduler/README.md
Due: golangci-lint

chore: pause Renovate updates
  renovate.json
Due: none

created release v15.9.0
  .final_builds/jobs/golangapiserver/index.yml
  .final_builds/jobs/scheduler/index.yml
  .final_builds/packages/changeloglockcleaner/index.yml
  .final_builds/packages/db/index.yml
  .final_builds/packages/eventgenerator/index.yml
  .final_builds/packages/golangapiserver/index.yml
  .final_builds/packages/metricsforwarder/index.yml
  .final_builds/packages/operator/index.yml
  .final_builds/packages/scalingengine/index.yml
  .final_builds/packages/scheduler/index.yml
  releases/app-autoscaler/app-autoscaler-15.9.0.yml
  releases/app-autoscaler/index.yml
Due: none

Updated release version to 15.9.0 in golangapiserver
  jobs/golangapiserver/spec
  src/autoscaler/api/default_info.json
Due: golangci-lint

Path conditions:
  java-formatter: any of: \.java$
  golangci-lint: any of: ^src
  rubocop: any of: \.rb$
