Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop

.pre-commit-config.yaml:

#  List of git-hooks, during during committing files to git repo

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
        - id: java-formatter
          name: java-formatter
          entry: style-guide/inspect-java-format-0.1.sh
          language: script
          files: '\.java$'
          stages: [commit]
        - id: golangci-lint
          name: golangci-lint
          entry: style-guide/golangci-lint-0.1.sh
          language: script
          files: '^src'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]
        - id: rubocop
          name: rubocop
          entry: style-guide/rubocop-0.1.sh
          language: script
          files: '\.rb$'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]

WIP: Integration test for api - scheduler cf http server endpoint
  src/autoscaler/integration/components_test.go
  src/autoscaler/integration/gorouterproxy/gorouterproxy_suite_test.go
  src/autoscaler/integration/gorouterproxy/gorouterproxy_test.go
  src/autoscaler/integration/gorouterproxy/main.go
  src/autoscaler/integration/integration_golangapi_scheduler_test.go
  src/autoscaler/integration/integration_suite_test.go
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CFHTTPConfiguration.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CFServerConfig.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CFServerConfiguration.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/filter/XfccFilter.java
  src/scheduler/src/main/resources/application.yml
Due: java-formatter, golangci-lint

Updated VSCode settings and added HTTP configuration for scheduler
  jobs/scalingengine/spec
  jobs/scheduler/templates/scheduler.yml.erb
  operations/use-cf-services.yml
  src/autoscaler/api/cmd/api/api_test.go
  src/autoscaler/api/publicapiserver/public_api_server.go
  src/autoscaler/build-extension-file.sh
  src/autoscaler/helpers/auth/xfcc_auth.go
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_test.go
  src/autoscaler/scalingengine/server/server_test.go
  src/autoscaler/testhelpers/certs.go
  src/scheduler/.vscode/settings.json
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CFHTTPConfiguration.java
  src/scheduler/src/main/resources/application.yml
Due: java-formatter, golangci-lint

Update GoRouterProxy command initialization and add cfserver config to scheduler template
  src/autoscaler/integration/components_test.go
  src/autoscaler/integration/scheduler_application.template.yml
Due: golangci-lint

WIP: Add SchedulerCFServer component and refactor integration tests
  src/autoscaler/integration/components_test.go
  src/autoscaler/integration/integration_golangapi_eventgenerator_test.go
  src/autoscaler/integration/integration_golangapi_scalingengine_test.go
  src/autoscaler/integration/integration_golangapi_scheduler_test.go
  src/autoscaler/integration/integration_logcache_eventgenerator_scalingengine_test.go
  src/autoscaler/integration/integration_operator_others_test.go
  src/autoscaler/integration/integration_scheduler_scalingengine_test.go
  src/autoscaler/integration/integration_suite_test.go
  src/autoscaler/integration/scheduler_application.template.yml
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CFHTTPConfiguration.java
  src/scheduler/src/main/resources/application.yml
Due: java-formatter, golangci-lint

Update scheduler port descriptions in spec to distinguish between HTTPS and HTTP ports
  jobs/scheduler/spec
Due: none

Fix more linting errors
  Makefile
  src/autoscaler/integration/gorouterproxy/gorouterproxy_test.go
  src/autoscaler/integration/gorouterproxy/main.go
Due: golangci-lint

Refactor Golang API server configuration and tests
  src/autoscaler/integration/components_test.go
  src/autoscaler/integration/integration_golangapi_eventgenerator_test.go
  src/autoscaler/integration/integration_golangapi_scalingengine_test.go
  src/autoscaler/integration/integration_golangapi_scheduler_test.go
  src/autoscaler/integration/integration_operator_others_test.go
Due: golangci-lint

🤖🦾🛠️ scripts/asdf2devbox.py
  devbox.json
Due: none

Add scheduler's HTTP port configuration and update references in templates and specs
  jobs/scheduler/spec
  jobs/scheduler/templates/scheduler.yml.erb
  spec/jobs/scheduler/scheduler_spec.rb
Due: rubocop

Refactor Golang API server test configuration and remove hardcoded paths
  src/autoscaler/integration/components_test.go
Due: golangci-lint

Fix go linting
  src/autoscaler/helpers/auth/xfcc_auth.go
  src/autoscaler/integration/components_test.go
Due: golangci-lint

chore(deps): update google.golang.org/genproto digest to 29210b9 (#3472)
  src/autoscaler/go.mod
  src/autoscaler/go.sum
Due: golangci-lint

feat: replace` swagger-cli` with `redocly` for OpenAPI validation
  .github/workflows/openapi-specs-check.yaml
  devbox.json
Due: none

chore(deps): update github/codeql-action digest to 17a820b (#3471)
  .github/workflows/codeql-analysis.yml
Due: none

chore: remove self-hosted image input and add devbox installation steps
  .github/workflows/acceptance_tests_reusable.yaml
Due: none

Add build-gorouterproxy target to Makefile and include in build-all target
  Makefile
Due: none

Remove echo statement from check-format target in scheduler Makefile
  src/scheduler/Makefile
Due: golangci-lint

Update GitHub Actions workflow and Devbox configuration for Java linting
  .github/workflows/java-ci-lint.yaml
  devbox.json
  src/scheduler/Makefile
Due: golangci-lint

Simplify Java CI lint workflow by using container and removing devbox setup
  .github/workflows/java-ci-lint.yaml
Due: none

Update GitHub Actions and dependencies
  .github/workflows/acceptance_tests_reusable.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/java-ci-lint.yaml
  .github/workflows/openapi-specs-check.yaml
  src/autoscaler/go.mod
  src/autoscaler/go.sum
Due: golangci-lint

Add makefile start scheduler task
  Makefile
  src/scheduler/Makefile
Due: golangci-lint

Small fix on gorouter proxy
  src/autoscaler/integration/gorouterproxy/main.go
Due: golangci-lint

fix(deps): adapt to `brokerapi` module changes from v11 to v12
  src/autoscaler/api/broker/broker.go
  src/autoscaler/api/broker/broker_suite_test.go
  src/autoscaler/api/broker/broker_test.go
  src/autoscaler/api/brokerserver/broker_handler_test.go
  src/autoscaler/api/brokerserver/broker_server.go
  src/autoscaler/api/brokerserver/broker_server_suite_test.go
  src/autoscaler/api/brokerserver/broker_server_test.go
  src/autoscaler/api/cmd/api/api_test.go
  src/autoscaler/go.sum
  src/autoscaler/integration/integration_suite_test.go
  src/autoscaler/testhelpers/chi.go
Due: golangci-lint

feat(mta): Ensure apps are able to be staged in air gapped environments
  src/autoscaler/Makefile
  src/autoscaler/mta.tpl.yaml
Due: golangci-lint

feat(mta): Ensure apps are able to be staged in air gapped environments (#3490)
  src/autoscaler/Makefile
  src/autoscaler/mta.tpl.yaml
Due: golangci-lint

fix(ci): Fix shellcheck findings
  .github/workflows/tidy-go-mod.yaml
  .github/workflows/update-all-golang-dependencies.yaml
Due: none

chore(devbox): Bump CLI plugin to latest
  nix/flake.lock
  nix/packages.nix
Due: none

Updated release version to 15.0.2 in golangapiserver
  jobs/golangapiserver/spec
  src/autoscaler/api/default_info.json
Due: golangci-lint

created release v15.0.2
  .final_builds/jobs/golangapiserver/index.yml
  .final_builds/packages/changeloglockcleaner/index.yml
  .final_builds/packages/db/index.yml
  .final_builds/packages/eventgenerator/index.yml
  .final_builds/packages/golangapiserver/index.yml
  .final_builds/packages/metricsforwarder/index.yml
  .final_builds/packages/operator/index.yml
  .final_builds/packages/scalingengine/index.yml
  .final_builds/packages/scheduler/index.yml
  releases/app-autoscaler/app-autoscaler-15.0.2.yml
  releases/app-autoscaler/index.yml
Due: none

chore(renovate): disable Go version updates in devbox
  renovate.json
Due: none

Add .DS_Store to .gitignore to exclude macOS folder metadata files
  .gitignore
Due: none

Add removal of scheduler target directory in clean-scheduler make target
  Makefile
Due: none

Uses ginkgo from devbox for autoscaler tasks
  src/autoscaler/Makefile
Due: golangci-lint

Update Makefile to include build-gorouterproxy in integration target
  Makefile
  src/autoscaler/Makefile
Due: golangci-lint

Refactor VCAP configuration reader to remove error handling
  src/autoscaler/api/cmd/api/main.go
  src/autoscaler/configutil/cf.go
  src/autoscaler/configutil/configutil_test.go
  src/autoscaler/helpers/logger.go
  src/autoscaler/metricsforwarder/cmd/metricsforwarder/main.go
Due: golangci-lint

Add JSON encoding support and fix public API server config retrieval in autoscaler API config
  src/autoscaler/api/config/config.go
Due: golangci-lint

Add Scheduler TLS configuration setup in API config loading
  src/autoscaler/api/config/config.go
  src/autoscaler/api/config/config_test.go
Due: golangci-lint

Refactors GetDbVcapServices into testhelpers for further reusage
  src/autoscaler/configutil/configutil_test.go
  src/autoscaler/testhelpers/cf.go
Due: golangci-lint

Update golang version to 1.23.1
  .final_builds/packages/golang-1-linux/index.yml
  .tool-versions
  ci/terragrunt/app-autoscaler/concourse/pipelines/api-tester/src/go.mod
  packages/golang-1-linux/spec.lock
  packages/golang-1-linux/vendored-commit
  packages/golang-1-linux/version
  src/acceptance/assets/app/go_app/go.mod
  src/acceptance/go.mod
  src/autoscaler/go.mod
  src/changelog/go.mod
  src/changeloglockcleaner/go.mod
Due: golangci-lint
