Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop

.pre-commit-config.yaml:

#  List of git-hooks, during during committing files to git repo

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
        - id: java-formatter
          name: java-formatter
          entry: style-guide/inspect-java-format-0.1.sh
          language: script
          files: '\.java$'
          stages: [commit]
        - id: golangci-lint
          name: golangci-lint
          entry: style-guide/golangci-lint-0.1.sh
          language: script
          files: '^src'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]
        - id: rubocop
          name: rubocop
          entry: style-guide/rubocop-0.1.sh
          language: script
          files: '\.rb$'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]

restrict egress traffic exclusively to the internal PostgreSQL IP, inline security group JSON configuration
  ci/infrastructure/assets/multiapps-postgres-security-group.json
  ci/infrastructure/scripts/deploy-multiapps-controller.sh
Due: none

fix phony name
  ci/Makefile
Due: none

remove useless makefile
  ci/infrastructure/Makefile
Due: none

😵 dont run script in debug mode 😵
  ci/infrastructure/scripts/deploy-multiapps-controller.sh
Due: none

add info comment which explains why the trusted certs of the containers are modified
  ci/operations/add-trusted-certs.yaml
Due: none

WIP
  packages/eventgenerator/spec
  packages/golangapiserver/spec
  packages/metricsforwarder/spec
  packages/operator/spec
  packages/scalingengine/spec
  src/acceptance/assets/app/go_app/Makefile
  src/autoscaler/Makefile
  src/autoscaler/go.mod
  src/autoscaler/go.sum
  src/autoscaler/helpers/cf.go
  src/autoscaler/metricsforwarder/cmd/metricsforwarder/main.go
  src/autoscaler/metricsforwarder/cmd/metricsforwarder/metricsforwarder_test.go
  src/autoscaler/metricsforwarder/config/config.go
  src/autoscaler/metricsforwarder/config/config_test.go
  src/autoscaler/mta.yaml
Due: golangci-lint

Revert "change branch for testing"
  ci/infrastructure/pipeline.yml
Due: none

delete some newlines
  ci/infrastructure/pipeline.yml
Due: none

Update go-chi/chi to v5.1.0 and add mitchellh/mapstructure v1.1.2 in autoscaler module
  packages/metricsforwarder/spec
  src/autoscaler/go.mod
  src/autoscaler/go.sum
Due: golangci-lint

Refactor error variable names and update associated tests in metricsforwarder config
  src/autoscaler/metricsforwarder/config/config.go
  src/autoscaler/metricsforwarder/config/config_test.go
Due: golangci-lint

Add nosec comment to bypass G101 security warning in metricsforwarder config test
  src/autoscaler/metricsforwarder/config/config_test.go
Due: golangci-lint

feat(infrastructure): Bring `multiapps-controller` to CF (#2988)
  ci/Makefile
  ci/autoscaler/scripts/deploy-autoscaler.sh
  ci/infrastructure/pipeline.yml
  ci/infrastructure/scripts/deploy-multiapps-controller.sh
  ci/infrastructure/scripts/deploy-postgres.sh
  ci/infrastructure/scripts/deploy-prometheus.sh
  ci/infrastructure/scripts/utils.source.sh
  ci/infrastructure/scripts/vars.source.sh
  ci/infrastructure/tasks/deploy-multiapps-controller.yml
  ci/infrastructure/tasks/deploy-postgres.yml
  ci/operations/add-multiapps-databases-to-postgres.yml
  ci/operations/add-trusted-certs.yaml
  ci/operations/set-postgres-disk.yml
Due: none

Remove package-lock.json and package.json from autoscaler module
  src/autoscaler/package-lock.json
  src/autoscaler/package.json
Due: golangci-lint

Change deployment directory and use mta-deploy in deploy-apps.sh
  ci/autoscaler/scripts/deploy-apps.sh
  src/autoscaler/metricsforwarder/Makefile
Due: golangci-lint

Get more up-to-date development-environment-config from other branch;
  .editorconfig
  devbox.json
  devbox.lock
  nix/packages.nix
Due: none

Separate targets for config-creation and for running acceptance-tests;
  Makefile
  ci/autoscaler/scripts/acceptance-tests-config.sh
  ci/autoscaler/scripts/run-acceptance-tests.sh
  src/acceptance/Makefile
Due: golangci-lint

Fix accidentally committed typing-error;
  src/acceptance/Makefile
Due: golangci-lint

✏️ Re-format file;
  src/acceptance/bin/test
Due: golangci-lint

🔧 Fix Makefiles;
  .editorconfig
  Makefile
  ci/autoscaler/scripts/acceptance-tests-config.sh
  ci/autoscaler/scripts/run-acceptance-tests.sh
  src/acceptance/Makefile
Due: golangci-lint

🔧 `test-autoscaler` in ./src/autoscaler/Makefile respects now the make-parameter `TEST`.
  Makefile
  src/autoscaler/Makefile
Due: golangci-lint

Refactor Makefile and deployment scripts for MTA deployment
  Makefile
  ci/autoscaler/scripts/deploy-apps.sh
  src/autoscaler/Makefile
Due: golangci-lint

Add echo statements to org and space targeting functions in common.sh
  ci/autoscaler/scripts/common.sh
Due: none

Add MBT installation and update CF plugins in autoscaler-tools Dockerfile
  ci/dockerfiles/autoscaler-tools/Dockerfile
Due: none

Add example.mtaext and mta.yaml for autoscaler module
  src/autoscaler/example.mtaext
  src/autoscaler/mta.yaml
Due: golangci-lint

Add mta_archives/ to .gitignore in autoscaler module
  src/autoscaler/.gitignore
Due: golangci-lint

Add environment variables for Metrics Forwarder app name and hostname in autoscaler Makefile
  src/autoscaler/Makefile
Due: golangci-lint

Remove METRICSFORWARDER_HOSTNAME variable and usage from Makefile
  src/autoscaler/Makefile
Due: golangci-lint

chore(scheduler): Remove usage of Java KeyStore (JKS)
  Makefile
  devbox.json
  devbox.lock
  jobs/scheduler/spec
  jobs/scheduler/templates/bpm-pre-start.erb
  jobs/scheduler/templates/install_crt_keystore.sh
  jobs/scheduler/templates/scheduler.yml.erb
  scripts/generate_test_certs.sh
  src/autoscaler/integration/scheduler_application.template.yml
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/RestClientConfig.java
  src/scheduler/src/main/resources/application.yml
Due: java-formatter, golangci-lint

Update src/autoscaler/Makefile
  src/autoscaler/Makefile
Due: golangci-lint

Update src/autoscaler/mta.yaml
  src/autoscaler/mta.yaml
Due: golangci-lint

Adds route registrar to postgres
  ci/autoscaler/pipeline.yml
  ci/autoscaler/set-pipeline.sh
  operations/disable-postgres-tls-config.yml
  operations/enable-nats-tls.yml
  templates/app-autoscaler.yml
Due: none

Uses deploment name as default cf space
  ci/autoscaler/scripts/vars.source.sh
Due: none

Work in review-suggestions;
  Makefile
  ci/autoscaler/scripts/acceptance-tests-config.sh
Due: none

🔧 Fix admin-parameter in acceptance_conf.yaml-generation;
  ci/autoscaler/scripts/acceptance-tests-config.sh
  ci/autoscaler/scripts/run-acceptance-tests.sh
Due: none

Work in review-comment;
  ci/autoscaler/scripts/run-acceptance-tests.sh
Due: none

remove commented out code
  scripts/generate_test_certs.sh
Due: none

chore(scheduler): Remove usage of Java KeyStore (JKS) (#3127)
  Makefile
  devbox.json
  devbox.lock
  jobs/scheduler/spec
  jobs/scheduler/templates/bpm-pre-start.erb
  jobs/scheduler/templates/install_crt_keystore.sh
  jobs/scheduler/templates/scheduler.yml.erb
  scripts/generate_test_certs.sh
  src/autoscaler/integration/scheduler_application.template.yml
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/RestClientConfig.java
  src/scheduler/src/main/resources/application.yml
Due: java-formatter, golangci-lint

Update deployment scripts and configurations for Autoscaler
  ci/autoscaler/scripts/deploy-autoscaler.sh
  operations/enable-nats-tls.yml
  operations/use-cf-services.yml
  src/autoscaler/metricsforwarder/Makefile
  templates/app-autoscaler.yml
Due: golangci-lint

Add PostgreSQL latest version to devbox configuration
  devbox.json
  devbox.lock
Due: none

Update with main
  ci/autoscaler/pipeline.yml
  src/autoscaler/Makefile
  src/autoscaler/mta.yaml
Due: golangci-lint
