Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop

.pre-commit-config.yaml:

#  List of git-hooks, during during committing files to git repo

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
        - id: java-formatter
          name: java-formatter
          entry: style-guide/inspect-java-format-0.1.sh
          language: script
          files: '\.java$'
          stages: [commit]
        - id: golangci-lint
          name: golangci-lint
          entry: style-guide/golangci-lint-0.1.sh
          language: script
          files: '^src'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]
        - id: rubocop
          name: rubocop
          entry: style-guide/rubocop-0.1.sh
          language: script
          files: '\.rb$'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]

Refactor httpclient_test to use MkdirTemp and improve file existence checks (#3461)
  src/autoscaler/helpers/httpclient_test.go
Due: golangci-lint

Update java version to 21.0.6
  config/blobs.yml
  packages/openjdk-21/spec
  packages/openjdk-21/version
Due: none

Fix failing case in publicapi test suite
  .gitignore
  src/autoscaler/api/publicapiserver/middleware_test.go
  src/autoscaler/api/publicapiserver/public_api_server_test.go
  src/autoscaler/api/publicapiserver/publicapiserver_suite_test.go
  src/autoscaler/helpers/httpclient.go
Due: golangci-lint

Update golang version to 1.23.0
  .final_builds/packages/golang-1-linux/index.yml
  .tool-versions
  ci/terragrunt/app-autoscaler/concourse/pipelines/api-tester/src/go.mod
  packages/golang-1-linux/spec.lock
  packages/golang-1-linux/vendored-commit
  packages/golang-1-linux/version
  src/acceptance/assets/app/go_app/go.mod
  src/acceptance/go.mod
  src/autoscaler/go.mod
  src/changelog/go.mod
  src/changeloglockcleaner/go.mod
Due: golangci-lint

chore: remove self-hosted image input and add devbox installation steps
  .github/workflows/acceptance_tests_reusable.yaml
Due: none

🤖🦾🛠️ scripts/asdf2devbox.py
  devbox.json
  devbox.lock
Due: none

feat: add cf-deploy-plugin to devbox
  devbox.json
  nix/packages.nix
Due: none

fix: continue deletion of non-existent application records on error
  src/autoscaler/operator/applicationsyncer.go
  src/autoscaler/operator/applicationsyncer_test.go
Due: golangci-lint

fix: remove 'labeled' type from pull request triggers in acceptance tests workflow
  .github/workflows/acceptance_tests_broker.yaml
Due: none

feat: replace` swagger-cli` with `redocly` for OpenAPI validation
  .github/workflows/openapi-specs-check.yaml
  Makefile
  devbox.json
  devbox.lock
  flake.nix
Due: none

chore(deps): automated dependency update with go get -u
  packages/eventgenerator/spec
  packages/golangapiserver/spec
  packages/metricsforwarder/spec
  packages/operator/spec
  packages/scalingengine/spec
  src/acceptance/assets/app/go_app/go.mod
  src/acceptance/assets/app/go_app/go.sum
  src/acceptance/go.mod
  src/acceptance/go.sum
  src/autoscaler/go.mod
  src/autoscaler/go.sum
  src/changelog/go.mod
  src/changelog/go.sum
  src/changeloglockcleaner/go.mod
  src/changeloglockcleaner/go.sum
Due: golangci-lint

debug path var
  .github/workflows/openapi-specs-check.yaml
Due: none

Update GitHub Actions workflow and Devbox configuration for Java linting
  .github/workflows/java-ci-lint.yaml
  devbox.json
  devbox.lock
  src/scheduler/Makefile
Due: golangci-lint

Remove echo statement from check-format target in scheduler Makefile
  src/scheduler/Makefile
Due: golangci-lint

Update GitHub Actions workflow and Devbox configuration for Java linting (#3478)
  .github/workflows/java-ci-lint.yaml
  devbox.json
  devbox.lock
  src/scheduler/Makefile
Due: golangci-lint

created release v15.0.1
  .final_builds/jobs/golangapiserver/index.yml
  .final_builds/packages/changeloglockcleaner/index.yml
  .final_builds/packages/db/index.yml
  .final_builds/packages/eventgenerator/index.yml
  .final_builds/packages/golangapiserver/index.yml
  .final_builds/packages/metricsforwarder/index.yml
  .final_builds/packages/openjdk-21/index.yml
  .final_builds/packages/operator/index.yml
  .final_builds/packages/scalingengine/index.yml
  .final_builds/packages/scheduler/index.yml
  releases/app-autoscaler/app-autoscaler-15.0.1.yml
  releases/app-autoscaler/index.yml
Due: none

Updated release version to 15.0.1 in golangapiserver
  jobs/golangapiserver/spec
  src/autoscaler/api/default_info.json
Due: golangci-lint

Adds cf_Server config for scalingengine
  .gitignore
  jobs/scalingengine/spec
  jobs/scheduler/spec
  jobs/scheduler/templates/scheduler.yml.erb
  operations/use-cf-services.yml
  spec/jobs/scheduler/scheduler_spec.rb
  src/autoscaler/api/cmd/api/api_test.go
  src/autoscaler/api/publicapiserver/public_api_server.go
  src/autoscaler/build-extension-file.sh
  src/autoscaler/helpers/auth/xfcc_auth.go
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_test.go
  src/autoscaler/scalingengine/server/server_test.go
  src/autoscaler/testhelpers/certs.go
  src/scheduler/.vscode/settings.json
  src/scheduler/pom.xml
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CFServerConfig.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CFServerConfiguration.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/filter/XfccFilter.java
  src/scheduler/src/main/resources/application.yml
Due: java-formatter, golangci-lint, rubocop

Update CFServerConfiguration property prefix to camelCase
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CFServerConfiguration.java
Due: java-formatter, golangci-lint

Refactor configuration keys and update tests for cfServer in scheduler component
  jobs/scheduler/templates/scheduler.yml.erb
  spec/jobs/scheduler/scheduler_spec.rb
  src/scheduler/src/main/resources/application.yml
Due: golangci-lint, rubocop

Fix function parameter and update GoRouterProxy command arguments
  src/autoscaler/integration/components_test.go
  src/autoscaler/integration/integration_golangapi_scheduler_test.go
  src/autoscaler/integration/integration_suite_test.go
Due: golangci-lint

Remove validOrgGuid validation and refactor property names in application.yml
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CFServerConfig.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CFServerConfiguration.java
  src/scheduler/src/main/resources/application.yml
Due: java-formatter, golangci-lint

Refactor XFCC auth middleware and update gorouterproxy tests
  src/autoscaler/helpers/auth/xfcc_auth.go
  src/autoscaler/integration/gorouterproxy/gorouterproxy_test.go
Due: golangci-lint

Exclude 'vendor' and 'integration' directories from binaries search in Makefile
  src/autoscaler/Makefile
Due: golangci-lint

Increase max_connections to 1000 for PostgreSQL in Makefile
  Makefile
Due: none

Enhance Makefile to pass GINKGO_OPTS in test-autoscaler-suite and run Postgres container detached with corrected max_connections config
  Makefile
Due: none

Refactor XFCCAuthMiddleware and improve error handling
  src/autoscaler/helpers/auth/xfcc_auth.go
Due: golangci-lint

Remove cf_server.port configuration from scheduler spec
  jobs/scheduler/spec
Due: none

Add build-gorouterproxy target and update tests for gorouterproxy
  src/autoscaler/Makefile
  src/autoscaler/integration/components_test.go
  src/autoscaler/integration/gorouterproxy/gorouterproxy_test.go
  src/autoscaler/integration/gorouterproxy/main.go
  src/autoscaler/integration/integration_golangapi_scheduler_test.go
  src/autoscaler/integration/integration_suite_test.go
Due: golangci-lint

Add gorouter CA and client certificate generation to test scripts; update gorouterproxy to handle TLS and XFCC header; extend testhelpers with localhost SANs in certs.
  scripts/generate_test_certs.sh
  src/autoscaler/integration/gorouterproxy/gorouterproxy_test.go
  src/autoscaler/integration/gorouterproxy/main.go
  src/autoscaler/testhelpers/certs.go
Due: golangci-lint

Refactor configuration property names and update scheduler YAML
  jobs/scheduler/templates/scheduler.yml.erb
  src/scheduler/.vscode/launch.json
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CFServerConfig.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CFServerConfiguration.java
  src/scheduler/src/main/resources/application.yml
Due: java-formatter, golangci-lint
