Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop

java-formatter:
  name: java-formatter
  entry: style-guide/inspect-java-format-0.1.sh
  language: script
  stages:
  - commit

golangci-lint:
  name: golangci-lint
  entry: style-guide/golangci-lint-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

rubocop:
  name: rubocop
  entry: style-guide/rubocop-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

Fix flaky test
  src/autoscaler/api/config/config_test.go
Due: golangci-lint

Fix scheduler template spec
  spec/jobs/scheduler/scheduler_spec.rb
Due: rubocop

Remove unused PostConstruct import from XfccFilter in scheduler module
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/filter/XfccFilter.java
Due: java-formatter, golangci-lint

Remove httpcore dependency from scheduler module's pom.xml
  src/scheduler/pom.xml
Due: golangci-lint

Update credhub-cli from 2.9.29 to 2.9.42 and specify version for temurin-bin-21
  devbox.lock
Due: none

chore(scheduler): Remove actuator
  devbox.lock
  src/scheduler/pom.xml
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/SchedulerApplication.java
Due: java-formatter, golangci-lint

Uses global mta builder for all module (#3426)
  src/autoscaler/mta.tpl.yaml
Due: golangci-lint

chore(scheduler): Remove actuator
  src/scheduler/pom.xml
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/SchedulerApplication.java
Due: java-formatter, golangci-lint

Fix diff with main branch
  src/autoscaler/api/publicapiserver/public_api_handler_test.go
Due: golangci-lint

Improves scheduler cf_server property structure
  jobs/scheduler/spec
  jobs/scheduler/templates/scheduler.yml.erb
  spec/jobs/scheduler/scheduler_spec.rb
Due: rubocop

created release v15.0.3
  .final_builds/jobs/golangapiserver/index.yml
  .final_builds/packages/changeloglockcleaner/index.yml
  .final_builds/packages/db/index.yml
  .final_builds/packages/eventgenerator/index.yml
  .final_builds/packages/golangapiserver/index.yml
  .final_builds/packages/metricsforwarder/index.yml
  .final_builds/packages/operator/index.yml
  .final_builds/packages/scalingengine/index.yml
  .final_builds/packages/scheduler/index.yml
  releases/app-autoscaler/app-autoscaler-15.0.3.yml
  releases/app-autoscaler/index.yml
Due: none

Updated release version to 15.0.3 in golangapiserver
  jobs/golangapiserver/spec
  src/autoscaler/api/default_info.json
Due: golangci-lint

review-commits
  src/autoscaler/integration/gorouterproxy/Readme.md
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CfHttpConfiguration.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/filter/HttpAuthFilter.java
Due: java-formatter, golangci-lint

scheduler-> add unit tests for filtering logic
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/filter/HttpAuthFilter.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/filter/HttpAuthFilterTest.java
Due: java-formatter, golangci-lint

Removes cf configutil from helper logger
  src/autoscaler/api/cmd/api/main.go
  src/autoscaler/api/config/config.go
  src/autoscaler/api/config/config_test.go
  src/autoscaler/configutil/cf.go
  src/autoscaler/configutil/configutil_test.go
  src/autoscaler/helpers/logger.go
  src/autoscaler/metricsforwarder/cmd/metricsforwarder/main.go
  src/autoscaler/metricsforwarder/config/config_test.go
Due: golangci-lint

Remove redundant devbox dependencies
  devbox.json
Due: none

Remove build-gorouterproxy from build-all target in Makefile
  Makefile
Due: none

Fix java format
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CfHttpConfiguration.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/filter/HttpAuthFilter.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/filter/HttpAuthFilterTest.java
Due: java-formatter, golangci-lint

Amends Abbreviation in java class name
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/filter/HttpAuthFilterTest.java
Due: java-formatter, golangci-lint

Update devbox lock
  devbox.lock
Due: none

Update devbox.lock
  devbox.lock
Due: none

Remove unused dependencies from eventgenerator, operator, and scalingengine specs
  packages/eventgenerator/spec
  packages/operator/spec
  packages/scalingengine/spec
Due: none

Fix missing quote in json tag for TLSClientCerts in ScalingEngineConfig
  src/autoscaler/api/config/config.go
Due: golangci-lint

Fix tabulation
  src/scheduler/pom.xml
Due: golangci-lint

Add ScalingEngine TLS configuration
  src/autoscaler/api/config/config.go
  src/autoscaler/api/config/config_test.go
Due: golangci-lint

Add TLS client cert configuration for ScalingEngine in api component
  src/autoscaler/api/config/config.go
  src/autoscaler/api/config/config_test.go
Due: golangci-lint

WIP: Configure publicapi-mta
  .github/workflows/acceptance_tests_reusable.yaml
  Makefile
  ci/autoscaler/scripts/deploy-apps.sh
  devbox.json
  devbox.lock
  operations/use-cf-services.yml
  src/acceptance/cleanup.sh
  src/autoscaler/.gitignore
  src/autoscaler/api/config/config.go
  src/autoscaler/api/default_catalog.json.tpl
  src/autoscaler/api/default_config.json
  src/autoscaler/build-extension-file.sh
  src/autoscaler/mta.tpl.yaml
  src/db/Makefile
Due: golangci-lint

Add TLS client cert configuration for ScalingEngine in api component (#3555)
  src/autoscaler/api/config/config.go
  src/autoscaler/api/config/config_test.go
Due: golangci-lint

Optionally allow seconds in start_time and end_time in recurring schedules
  src/autoscaler/api/policyvalidator/policy_json.schema.json
  src/autoscaler/api/policyvalidator/policy_validator.go
  src/autoscaler/api/policyvalidator/policy_validator_test.go
Due: golangci-lint

Fix typo
  operations/use-cf-services.yml
Due: none

Update devbox
  devbox.lock
Due: none

Add cleanup-autoscaler-deployments target to Makefile
  Makefile
Due: none

Remove Makefile from src/db directory
  src/db/Makefile
Due: golangci-lint

Add commons-lang3 dependency to src/db/pom.xml
  src/db/pom.xml
Due: golangci-lint

Remove commons-lang3 dependency from src/db pom.xml
  src/db/pom.xml
Due: golangci-lint

chore(devbox): Update `go-tools`
  devbox.json
  devbox.lock
Due: none

chore(lint): Fix some lint issues
  .github/workflows/linters.yaml
  src/autoscaler/healthendpoint/health_readiness.go
Due: golangci-lint

Path conditions:
  java-formatter: any of: \.java$
  golangci-lint: any of: ^src
  rubocop: any of: \.rb$
