Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop

java-formatter:
  name: java-formatter
  entry: style-guide/inspect-java-format-0.1.sh
  language: script
  stages:
  - commit

golangci-lint:
  name: golangci-lint
  entry: style-guide/golangci-lint-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

rubocop:
  name: rubocop
  entry: style-guide/rubocop-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

Adds xfcc cf endpoint support to scaling engine
  ci/autoscaler/scripts/deploy-autoscaler.sh
  operations/use-cf-services.yml
  packages/scalingengine/spec
  src/autoscaler/api/brokerserver/broker_server.go
  src/autoscaler/api/brokerserver/broker_server_suite_test.go
  src/autoscaler/api/cmd/api/api_test.go
  src/autoscaler/api/cmd/api/main.go
  src/autoscaler/api/publicapiserver/public_api_server.go
  src/autoscaler/api/publicapiserver/public_api_server_test.go
  src/autoscaler/api/publicapiserver/publicapiserver_suite_test.go
  src/autoscaler/build-extension-file.sh
  src/autoscaler/generate-fakes.go
  src/autoscaler/helpers/auth/xfcc_auth.go
  src/autoscaler/helpers/auth/xfcc_auth_test.go
  src/autoscaler/routes/routes.go
  src/autoscaler/routes/routes_test.go
  src/autoscaler/scalingengine/cmd/scalingengine/main.go
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_suite_test.go
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_test.go
  src/autoscaler/scalingengine/config/config.go
  src/autoscaler/scalingengine/config/config_test.go
  src/autoscaler/scalingengine/server/server.go
  src/autoscaler/scalingengine/server/server_test.go
  src/autoscaler/testhelpers/certs.go
Due: golangci-lint

Update jobs/scalingengine/spec
  jobs/scalingengine/spec
Due: none

Remove debug println
  src/autoscaler/helpers/auth/xfcc_auth.go
Due: golangci-lint

Remove pending test
  src/autoscaler/api/cmd/api/api_test.go
Due: golangci-lint

Adds cf_Server config for scalingengine
  jobs/scalingengine/spec
  jobs/scalingengine/templates/scalingengine.yml.erb
  spec/jobs/scalingengine/scalingengine_spec.rb
  src/autoscaler/helpers/http_server.go
  src/autoscaler/models/api.go
  src/autoscaler/scalingengine/config/config.go
  src/autoscaler/scalingengine/config/config_test.go
  src/autoscaler/scalingengine/config/testdata/valid.yml
Due: golangci-lint, rubocop

Removes subrouter in api server
  src/autoscaler/api/publicapiserver/public_api_server.go
Due: golangci-lint

(feat) Add XFCC authenticated scaling engine endpoint (#3320)
  ci/autoscaler/scripts/deploy-autoscaler.sh
  jobs/scalingengine/spec
  jobs/scalingengine/templates/scalingengine.yml.erb
  operations/use-cf-services.yml
  packages/scalingengine/spec
  spec/jobs/scalingengine/scalingengine_spec.rb
  src/autoscaler/api/brokerserver/broker_server.go
  src/autoscaler/api/brokerserver/broker_server_suite_test.go
  src/autoscaler/api/cmd/api/api_test.go
  src/autoscaler/api/cmd/api/main.go
  src/autoscaler/api/publicapiserver/public_api_server.go
  src/autoscaler/api/publicapiserver/public_api_server_test.go
  src/autoscaler/api/publicapiserver/publicapiserver_suite_test.go
  src/autoscaler/build-extension-file.sh
  src/autoscaler/generate-fakes.go
  src/autoscaler/helpers/auth/xfcc_auth.go
  src/autoscaler/helpers/auth/xfcc_auth_test.go
  src/autoscaler/helpers/http_server.go
  src/autoscaler/models/api.go
  src/autoscaler/routes/routes.go
  src/autoscaler/routes/routes_test.go
  src/autoscaler/scalingengine/cmd/scalingengine/main.go
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_suite_test.go
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_test.go
  src/autoscaler/scalingengine/config/config.go
  src/autoscaler/scalingengine/config/config_test.go
  src/autoscaler/scalingengine/config/testdata/valid.yml
  src/autoscaler/scalingengine/server/server.go
  src/autoscaler/scalingengine/server/server_test.go
  src/autoscaler/testhelpers/certs.go
Due: golangci-lint, rubocop

Update default build destination to /tmp/build in autoscaler Makefile
  src/autoscaler/Makefile
Due: golangci-lint

Improve MTAR build process in Makefile
  src/autoscaler/Makefile
Due: golangci-lint

Change deployment path in Makefile for autoscaler to use relative DEST path
  src/autoscaler/Makefile
Due: golangci-lint

Rollback changes in mta release
  src/autoscaler/Makefile
Due: golangci-lint

Rollback changes in mta release (#3370)
  src/autoscaler/Makefile
Due: golangci-lint

Add TF_VAR_parent_dns_zone to autoscaler job env in pipeline.yml
  ci/infrastructure/pipeline.yml
Due: none

Add TF_VAR_parent_dns_zone to autoscaler job env in pipeline.yml (#3373)
  ci/infrastructure/pipeline.yml
Due: none

Updated release version to 14.5.0 in golangapiserver
  jobs/golangapiserver/spec
  src/autoscaler/api/default_info.json
Due: golangci-lint

created release v14.5.0
  .final_builds/jobs/eventgenerator/index.yml
  .final_builds/jobs/golangapiserver/index.yml
  .final_builds/jobs/metricsforwarder/index.yml
  .final_builds/jobs/operator/index.yml
  .final_builds/jobs/scalingengine/index.yml
  .final_builds/jobs/scheduler/index.yml
  .final_builds/packages/changeloglockcleaner/index.yml
  .final_builds/packages/db/index.yml
  .final_builds/packages/eventgenerator/index.yml
  .final_builds/packages/golangapiserver/index.yml
  .final_builds/packages/metricsforwarder/index.yml
  .final_builds/packages/operator/index.yml
  .final_builds/packages/scalingengine/index.yml
  .final_builds/packages/scheduler/index.yml
  releases/app-autoscaler/app-autoscaler-14.5.0.yml
  releases/app-autoscaler/index.yml
Due: none

Fix case sensitivity in URLPath parameters for aggregated metric histories route
  src/autoscaler/routes/routes_test.go
Due: golangci-lint

Fix typo
  src/autoscaler/api/publicapiserver/public_api_handler.go
Due: golangci-lint

Fix issue with routes
  src/autoscaler/api/publicapiserver/public_api_handler.go
  src/autoscaler/routes/routes.go
Due: golangci-lint

WIP
  Makefile
  jobs/eventgenerator/spec
  jobs/eventgenerator/templates/eventgenerator.yml.erb
  operations/use-cf-services.yml
  packages/eventgenerator/spec
  spec/jobs/eventgenerator/eventgenerator_spec.rb
  src/autoscaler/build-extension-file.sh
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_suite_test.go
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_test.go
  src/autoscaler/eventgenerator/cmd/eventgenerator/main.go
  src/autoscaler/eventgenerator/config/config.go
  src/autoscaler/eventgenerator/config/config_test.go
  src/autoscaler/eventgenerator/server/server.go
  src/autoscaler/eventgenerator/server/server_test.go
  src/autoscaler/routes/routes.go
  src/autoscaler/routes/routes_test.go
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_suite_test.go
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_test.go
  src/autoscaler/scalingengine/server/server_test.go
  src/autoscaler/testhelpers/certs.go
Due: golangci-lint, rubocop

Adds cf_Server config for scalingengine
  jobs/scalingengine/spec
Due: none

Adds xfcc cf endpoint support to scaling engine
  src/autoscaler/api/cmd/api/api_test.go
  src/autoscaler/api/publicapiserver/public_api_server.go
  src/autoscaler/helpers/auth/xfcc_auth.go
Due: golangci-lint

Remove log message
  src/autoscaler/api/publicapiserver/public_api_handler.go
Due: golangci-lint

Fix lint
  src/autoscaler/eventgenerator/config/config.go
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_suite_test.go
Due: golangci-lint

Refactor eventgenerator tests and improve liveness endpoint test clarity
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_test.go
Due: golangci-lint

Refactor variable naming in server creation for clarity
  src/autoscaler/eventgenerator/server/server.go
Due: golangci-lint

Remove EventgeneratorServer interface from server.go
  src/autoscaler/eventgenerator/server/server.go
Due: golangci-lint

fix(ci): workaround skipped jobs being considered successful
  .github/workflows/acceptance_tests_reusable.yaml
Due: none

fix(ci): disable fail-fast in acceptance tests workflow
  .github/workflows/acceptance_tests_reusable.yaml
Due: none

AttachPolicy custom metrics strategy DeletePolicy custom metrics strategy
  src/acceptance/api/api_test.go
  src/acceptance/helpers/helpers.go
  src/autoscaler/api/broker/broker.go
  src/autoscaler/api/broker/broker_test.go
  src/autoscaler/api/policyvalidator/policy_json.schema.json
  src/autoscaler/api/publicapiserver/public_api_handler.go
  src/autoscaler/api/publicapiserver/public_api_handler_test.go
  src/autoscaler/db/db.go
  src/autoscaler/db/sqldb/binding_sqldb.go
  src/autoscaler/db/sqldb/binding_sqldb_test.go
  src/autoscaler/models/api.go
Due: golangci-lint

add schema validation for custom metrics strategy
  src/autoscaler/api/broker/broker.go
  src/autoscaler/api/brokerserver/broker_handler_test.go
  src/autoscaler/api/policyvalidator/policy_json.schema.json
  src/autoscaler/api/policyvalidator/policy_validator.go
  src/autoscaler/api/policyvalidator/policy_validator_test.go
  src/autoscaler/api/publicapiserver/public_api_handler.go
  src/autoscaler/api/publicapiserver/public_api_handler_test.go
  src/autoscaler/db/sqldb/binding_sqldb.go
Due: golangci-lint

add public apis endpoints via restclient document openapi spec about binding configuration simplify, clean, refactor
  api/application-metric-api.openapi.yaml
  api/policy-api.openapi.yaml
  docs/public-api.restclient
  src/acceptance/api/api_test.go
  src/acceptance/assets/app/go_app/deploy.sh
  src/autoscaler/api/broker/broker.go
  src/autoscaler/api/broker/broker_test.go
  src/autoscaler/api/publicapiserver/public_api_handler.go
  src/autoscaler/api/publicapiserver/public_api_handler_test.go
  src/autoscaler/models/api.go
  src/autoscaler/models/binding_configs.go
  src/autoscaler/models/binding_configs_test.go
  src/autoscaler/models/policy.go
Due: golangci-lint

GetScalingPolicy now get custom metrics configurations GetScalingPolicy => with refactor update custom metrics for mysql
  src/acceptance/api/api_test.go
  src/autoscaler/api/broker/broker.go
  src/autoscaler/api/broker/broker_test.go
  src/autoscaler/api/brokerserver/broker_handler_test.go
  src/autoscaler/api/publicapiserver/public_api_handler.go
  src/autoscaler/api/publicapiserver/public_api_handler_test.go
  src/autoscaler/db/db.go
  src/autoscaler/db/sqldb/binding_sqldb.go
  src/autoscaler/db/sqldb/binding_sqldb_test.go
  src/autoscaler/models/binding_configs.go
  src/autoscaler/models/binding_configs_test.go
  src/autoscaler/models/policy.go
Due: golangci-lint

Path conditions:
  java-formatter: any of: \.java$
  golangci-lint: any of: ^src
  rubocop: any of: \.rb$
