Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop

java-formatter:
  name: java-formatter
  entry: style-guide/inspect-java-format-0.1.sh
  language: script
  stages:
  - commit

golangci-lint:
  name: golangci-lint
  entry: style-guide/golangci-lint-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

rubocop:
  name: rubocop
  entry: style-guide/rubocop-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

🕵️
  src/acceptance/app/dynamic_policy_test.go
Due: golangci-lint

🕵️
  src/acceptance/app/dynamic_policy_test.go
  src/autoscaler/eventgenerator/client/log_cache_client.go
  src/autoscaler/eventgenerator/client/log_cache_client_test.go
Due: golangci-lint

query via promQL for throughput and responsetime
  src/acceptance/app/dynamic_policy_test.go
  src/autoscaler/envelopeprocessor/envelope_processor.go
  src/autoscaler/envelopeprocessor/envelopeprocessor_test.go
  src/autoscaler/eventgenerator/aggregator/metric_poller.go
  src/autoscaler/eventgenerator/client/log_cache_client.go
  src/autoscaler/eventgenerator/client/log_cache_client_test.go
Due: golangci-lint

remove focus
  src/acceptance/app/dynamic_policy_test.go
Due: golangci-lint

extract different retrieval paths into own functions
  src/autoscaler/eventgenerator/client/log_cache_client.go
Due: golangci-lint

fix tests and improve logging
  src/autoscaler/eventgenerator/client/log_cache_client.go
  src/autoscaler/eventgenerator/client/metric_server_client.go
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_test.go
Due: golangci-lint

reduce amount of requests a bit
  src/acceptance/app/dynamic_policy_test.go
Due: golangci-lint

improve logging
  src/autoscaler/eventgenerator/client/log_cache_client.go
Due: golangci-lint

make tests a bit stricter
  src/acceptance/app/dynamic_policy_test.go
Due: golangci-lint

try scaling policy that only downscales if value is in a certain range
  src/acceptance/app/dynamic_policy_test.go
  src/acceptance/helpers/helpers.go
Due: golangci-lint

improve test names
  src/autoscaler/eventgenerator/client/log_cache_client_test.go
Due: golangci-lint

fix linter finding
  src/acceptance/helpers/helpers.go
Due: golangci-lint

fix stricter scale-in tests
  src/acceptance/app/dynamic_policy_test.go
  src/acceptance/helpers/helpers.go
Due: golangci-lint

remove unused params in func-signature
  src/autoscaler/eventgenerator/client/log_cache_client.go
Due: golangci-lint

move collectioninterval to logcacheclient, was completely unused in envelopeprocessor 👀
  src/autoscaler/envelopeprocessor/envelope_processor.go
  src/autoscaler/envelopeprocessor/envelopeprocessor_test.go
  src/autoscaler/eventgenerator/client/log_cache_client.go
  src/autoscaler/eventgenerator/client/log_cache_client_test.go
  src/autoscaler/eventgenerator/client/metric_client_factory.go
  src/autoscaler/eventgenerator/client/metric_client_factory_test.go
Due: golangci-lint

improve sample
  src/acceptance/helpers/helpers.go
Due: golangci-lint

CI pipeline is super flaky, run it from scratch one more time 😭
  src/acceptance/helpers/helpers.go
Due: golangci-lint

fix(eventgenerator): use PromQL API for metric types `throughput` and `responsetime` (#2890)
  src/acceptance/app/dynamic_policy_test.go
  src/acceptance/helpers/helpers.go
  src/autoscaler/envelopeprocessor/envelope_processor.go
  src/autoscaler/envelopeprocessor/envelopeprocessor_test.go
  src/autoscaler/eventgenerator/aggregator/metric_poller.go
  src/autoscaler/eventgenerator/client/log_cache_client.go
  src/autoscaler/eventgenerator/client/log_cache_client_test.go
  src/autoscaler/eventgenerator/client/metric_client_factory.go
  src/autoscaler/eventgenerator/client/metric_client_factory_test.go
  src/autoscaler/eventgenerator/client/metric_server_client.go
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_test.go
Due: golangci-lint

chore(deps): automated dependency update with go get -u
  src/acceptance/assets/app/go_app/go.mod
  src/acceptance/assets/app/go_app/go.sum
  src/acceptance/go.mod
  src/acceptance/go.sum
  src/autoscaler/go.mod
  src/autoscaler/go.sum
  src/changelog/go.mod
  src/changelog/go.sum
Due: golangci-lint

chore(ci): Switch to `ubuntu22`
  .github/workflows/bosh-templates.yaml
  .github/workflows/linters.yaml
Due: none

Revert "chore(deps): update ubuntu docker tag to v24"
  ci/dockerfiles/autoscaler-tools/Dockerfile
Due: none

Revert "chore(deps): update ubuntu docker tag to v24" (#2911)
  ci/dockerfiles/autoscaler-tools/Dockerfile
Due: none

remove smoke label from memory test
  src/acceptance/app/dynamic_policy_test.go
Due: golangci-lint

remove debug statement
  ci/autoscaler/scripts/run-acceptance-tests.sh
Due: none

feat! Remove `buildin` mode
  .github/workflows/acceptance_tests_buildin.yaml
  .github/workflows/acceptance_tests_buildin_close.yaml
  .github/workflows/acceptance_tests_reusable.yaml
  Makefile
  ci/autoscaler/pipeline.yml
  ci/autoscaler/scripts/common.sh
  ci/autoscaler/scripts/deploy-autoscaler.sh
  ci/autoscaler/scripts/vars.source.sh
  ci/autoscaler/set-pipeline.sh
  example/operation/use_buildin_mode.yml
  jobs/golangapiserver/spec
  jobs/golangapiserver/templates/apiserver.yml.erb
  operations/use_buildin_mode.yml
  spec/fixtures/apiserver.yml
  spec/jobs/golangapiserver/apiserver_spec.rb
  src/autoscaler/api/cmd/api/api_suite_test.go
  src/autoscaler/api/cmd/api/api_test.go
  src/autoscaler/api/cmd/api/main.go
  src/autoscaler/api/config/config.go
  src/autoscaler/api/config/config_test.go
  src/autoscaler/api/config/testdata/invalid_config.yml
  src/autoscaler/api/config/testdata/valid_config.yml
  src/autoscaler/api/exampleconfig/config.yml
  src/autoscaler/api/publicapiserver/middleware.go
  src/autoscaler/api/publicapiserver/middleware_test.go
  src/autoscaler/api/publicapiserver/public_api_handler.go
  src/autoscaler/api/publicapiserver/public_api_handler_test.go
  src/autoscaler/api/publicapiserver/public_api_server.go
  src/autoscaler/api/publicapiserver/public_api_server_test.go
  src/autoscaler/api/publicapiserver/publicapiserver_suite_test.go
  src/autoscaler/integration/components_test.go
  src/autoscaler/integration/integration_golangapi_eventgenerator_test.go
  src/autoscaler/integration/integration_golangapi_scalingengine_test.go
  src/autoscaler/integration/integration_golangapi_scheduler_test.go
  src/autoscaler/integration/integration_operator_others_test.go
  src/autoscaler/routes/routes.go
  templates/app-autoscaler-deployment.yml
  templates/app-autoscaler.yml
Due: golangci-lint, rubocop

feat! Remove `buildin` mode (#2916)
  .github/workflows/acceptance_tests_buildin.yaml
  .github/workflows/acceptance_tests_buildin_close.yaml
  .github/workflows/acceptance_tests_reusable.yaml
  Makefile
  ci/autoscaler/pipeline.yml
  ci/autoscaler/scripts/common.sh
  ci/autoscaler/scripts/deploy-autoscaler.sh
  ci/autoscaler/scripts/vars.source.sh
  ci/autoscaler/set-pipeline.sh
  example/operation/use_buildin_mode.yml
  jobs/golangapiserver/spec
  jobs/golangapiserver/templates/apiserver.yml.erb
  operations/use_buildin_mode.yml
  spec/fixtures/apiserver.yml
  spec/jobs/golangapiserver/apiserver_spec.rb
  src/autoscaler/api/cmd/api/api_suite_test.go
  src/autoscaler/api/cmd/api/api_test.go
  src/autoscaler/api/cmd/api/main.go
  src/autoscaler/api/config/config.go
  src/autoscaler/api/config/config_test.go
  src/autoscaler/api/config/testdata/invalid_config.yml
  src/autoscaler/api/config/testdata/valid_config.yml
  src/autoscaler/api/exampleconfig/config.yml
  src/autoscaler/api/publicapiserver/middleware.go
  src/autoscaler/api/publicapiserver/middleware_test.go
  src/autoscaler/api/publicapiserver/public_api_handler.go
  src/autoscaler/api/publicapiserver/public_api_handler_test.go
  src/autoscaler/api/publicapiserver/public_api_server.go
  src/autoscaler/api/publicapiserver/public_api_server_test.go
  src/autoscaler/api/publicapiserver/publicapiserver_suite_test.go
  src/autoscaler/integration/components_test.go
  src/autoscaler/integration/integration_golangapi_eventgenerator_test.go
  src/autoscaler/integration/integration_golangapi_scalingengine_test.go
  src/autoscaler/integration/integration_golangapi_scheduler_test.go
  src/autoscaler/integration/integration_operator_others_test.go
  src/autoscaler/routes/routes.go
  templates/app-autoscaler-deployment.yml
  templates/app-autoscaler.yml
Due: golangci-lint, rubocop

fix(deps): Rollback `concourse` version
  .tool-versions
  renovate.json
Due: none

feat(deps): Add `devbox` config
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .envrc
  .github/workflows/asdf2devbox.yaml
  devbox.json
  devbox.lock
  local-flake/flake.lock
  local-flake/flake.nix
  scripts/asdf2devbox.py
Due: none

🤖🦾🛠️ scripts/asdf2devbox.py
  devbox.json
  devbox.lock
Due: none

feat(deps): Add `devbox` config (#2914)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .envrc
  .github/workflows/asdf2devbox.yaml
  .tool-versions
  devbox.json
  devbox.lock
  local-flake/flake.lock
  local-flake/flake.nix
  renovate.json
  scripts/asdf2devbox.py
Due: none

feat(direnv): Checks if `devbox` is installed before invoking it
  .envrc
Due: none

fix(flake): Reuse `local-flake` package definitions in main flake
  flake.lock
  flake.nix
Due: none

feat(direnv): Check if `devbox` is installed before invoking it (#2921)
  .envrc
  flake.lock
  flake.nix
Due: none

feat(envrc): Automatically eval bbl env # Issue
  .envrc
Due: none

fix(ci): Add ops file to ensure that each deployment gets its own loggregator shard
  ci/autoscaler/pipeline.yml
  operations/append-deployment-name-to-loggregator-nozzle-shard-id.yml
Due: none

chore(ci): Restore `use_buildin_mode` false until the next major version
  templates/app-autoscaler.yml
Due: none

chore(devbox): Add useful tools to devbox
  devbox.json
  devbox.lock
  local-flake/flake.nix
Due: none

Path conditions:
  java-formatter: any of: \.java$
  golangci-lint: any of: ^src
  rubocop: any of: \.rb$
