Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop

.pre-commit-config.yaml:

#  List of git-hooks, during during committing files to git repo

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
        - id: java-formatter
          name: java-formatter
          entry: style-guide/inspect-java-format-0.1.sh
          language: script
          files: '\.java$'
          stages: [commit]
        - id: golangci-lint
          name: golangci-lint
          entry: style-guide/golangci-lint-0.1.sh
          language: script
          files: '^src'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]
        - id: rubocop
          name: rubocop
          entry: style-guide/rubocop-0.1.sh
          language: script
          files: '\.rb$'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]

Adds cf_Server config for scalingengine
  jobs/scalingengine/spec
  src/autoscaler/scalingengine/config/config.go
  src/autoscaler/scalingengine/config/config_test.go
Due: golangci-lint

Adds xfcc cf endpoint support to scaling engine
  operations/use-cf-services.yml
  src/autoscaler/api/cmd/api/api_test.go
  src/autoscaler/api/publicapiserver/public_api_server.go
  src/autoscaler/build-extension-file.sh
  src/autoscaler/helpers/auth/xfcc_auth.go
  src/autoscaler/routes/routes.go
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_test.go
  src/autoscaler/scalingengine/config/config.go
  src/autoscaler/scalingengine/config/config_test.go
  src/autoscaler/scalingengine/server/server_test.go
  src/autoscaler/testhelpers/certs.go
Due: golangci-lint

Remove debug println
  src/autoscaler/helpers/auth/xfcc_auth.go
Due: golangci-lint

wip
  src/scheduler/.vscode/settings.json
  src/scheduler/src/main/resources/application.yml
Due: golangci-lint

WIP
  jobs/scheduler/spec
  jobs/scheduler/templates/scheduler.yml.erb
  spec/jobs/scheduler/scheduler_spec.rb
Due: rubocop

Fix warning
  operations/use-cf-services.yml
Due: none

Remove validOrgGuid validation and refactor property names in application.yml
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CFServerConfig.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CFServerConfiguration.java
  src/scheduler/src/main/resources/application.yml
Due: java-formatter, golangci-lint

Refactor configuration property names and update scheduler YAML
  jobs/scheduler/templates/scheduler.yml.erb
  src/scheduler/.vscode/launch.json
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CFServerConfig.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CFServerConfiguration.java
  src/scheduler/src/main/resources/application.yml
Due: java-formatter, golangci-lint

Update CFServerConfiguration property prefix to camelCase
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CFServerConfiguration.java
Due: java-formatter, golangci-lint

Refactor configuration keys and update tests for cfServer in scheduler component
  jobs/scheduler/templates/scheduler.yml.erb
  spec/jobs/scheduler/scheduler_spec.rb
  src/scheduler/src/main/resources/application.yml
Due: golangci-lint, rubocop

Add .trunk to .gitignore for Devbox configuration.
  src/autoscaler/routes/routes.go
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/filter/XfccFilter.java
Due: java-formatter, golangci-lint

Initial implementation of CF ServeR
  src/scheduler/.vscode/settings.json
  src/scheduler/pom.xml
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CFServerConfig.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CFServerConfiguration.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/filter/XfccFilter.java
  src/scheduler/src/main/resources/application.yml
Due: java-formatter, golangci-lint

Add .trunk to .gitignore for Devbox configuration.
  .gitignore
Due: none

Updated VSCode settings and added HTTP configuration for scheduler
  jobs/scalingengine/spec
  jobs/scheduler/templates/scheduler.yml.erb
  operations/use-cf-services.yml
  src/autoscaler/api/cmd/api/api_test.go
  src/autoscaler/api/publicapiserver/public_api_server.go
  src/autoscaler/build-extension-file.sh
  src/autoscaler/helpers/auth/xfcc_auth.go
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_test.go
  src/autoscaler/scalingengine/server/server_test.go
  src/autoscaler/testhelpers/certs.go
  src/scheduler/.vscode/settings.json
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CFHTTPConfiguration.java
  src/scheduler/src/main/resources/application.yml
Due: java-formatter, golangci-lint

created release v14.7.0
  .final_builds/jobs/golangapiserver/index.yml
  .final_builds/packages/db/index.yml
  .final_builds/packages/eventgenerator/index.yml
  .final_builds/packages/golangapiserver/index.yml
  .final_builds/packages/metricsforwarder/index.yml
  .final_builds/packages/operator/index.yml
  .final_builds/packages/scalingengine/index.yml
  .final_builds/packages/scheduler/index.yml
  releases/app-autoscaler/app-autoscaler-14.7.0.yml
  releases/app-autoscaler/index.yml
Due: none

Updated release version to 14.7.0 in golangapiserver
  jobs/golangapiserver/spec
  src/autoscaler/api/default_info.json
Due: golangci-lint

WIP: Integration test for api - scheduler cf http server endpoint
  src/autoscaler/go.mod
  src/autoscaler/integration/components_test.go
  src/autoscaler/integration/gorouterproxy/gorouterproxy_suite_test.go
  src/autoscaler/integration/gorouterproxy/gorouterproxy_test.go
  src/autoscaler/integration/gorouterproxy/main.go
  src/autoscaler/integration/integration_golangapi_scheduler_test.go
  src/autoscaler/integration/integration_suite_test.go
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CFHTTPConfiguration.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CFServerConfig.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/CFServerConfiguration.java
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/filter/XfccFilter.java
  src/scheduler/src/main/resources/application.yml
Due: java-formatter, golangci-lint

🤖🦾🛠️ go mod tidy & make package-specs
  src/autoscaler/go.mod
Due: golangci-lint

Fix: submit custom metrics via mTLS for lead time test
  src/acceptance/app/custom_metric_test.go
  src/acceptance/app/lead_times_test.go
  src/acceptance/helpers/helpers.go
Due: golangci-lint

Test custom metrics with basic auth (binding secret)
  src/acceptance/app/custom_metric_test.go
  src/acceptance/helpers/helpers.go
Due: golangci-lint

broker: set credentialType default to x509 - breaking change
  jobs/golangapiserver/spec
  spec/jobs/golangapiserver/apiserver_spec.rb
Due: rubocop

review fixes
  src/acceptance/app/custom_metric_test.go
Due: golangci-lint

Check – before creating an index for the app-metrics – if it is already there.
  src/autoscaler/eventgenerator/db/dataaggregator.db.changelog.yml
Due: golangci-lint

use mTLS for custom metrics remove acceptance-tests-config make target
  Makefile
  ci/autoscaler/scripts/acceptance-tests-config.source.sh
  ci/autoscaler/scripts/run-acceptance-tests.sh
  ci/autoscaler/scripts/vars.source.sh
  devbox.json
  devbox.lock
  src/acceptance/app/custom_metric_test.go
  src/acceptance/helpers/apps.go
  src/acceptance/run_performance/run_performance_test.go
Due: golangci-lint

fix(api): add admin user access test for policy retrieval
  src/acceptance/api/api_test.go
  src/autoscaler/api/publicapiserver/middleware.go
  src/autoscaler/api/publicapiserver/middleware_test.go
  src/autoscaler/api/publicapiserver/publicapiserver_suite_test.go
  src/autoscaler/cf/oauth.go
Due: golangci-lint

generate test config
  Makefile
  ci/autoscaler/scripts/run-acceptance-tests.sh
  devbox.json
  devbox.lock
Due: none

generate test config before running performance test
  Makefile
  ci/autoscaler/scripts/acceptance-tests-config.sh
  ci/autoscaler/scripts/run-acceptance-tests.sh
Due: none

Updated release version to 15.0.0 in golangapiserver
  jobs/golangapiserver/spec
  src/autoscaler/api/default_info.json
Due: golangci-lint

created release v15.0.0
  .final_builds/jobs/golangapiserver/index.yml
  .final_builds/packages/db/index.yml
  .final_builds/packages/eventgenerator/index.yml
  .final_builds/packages/golangapiserver/index.yml
  .final_builds/packages/metricsforwarder/index.yml
  .final_builds/packages/operator/index.yml
  .final_builds/packages/scalingengine/index.yml
  .final_builds/packages/scheduler/index.yml
  releases/app-autoscaler/app-autoscaler-15.0.0.yml
  releases/app-autoscaler/index.yml
Due: none

↑❄ Update flake-inputs and debox-inputs;
  .gitignore
  devbox.lock
  flake.lock
Due: none

☕ Include Java-LSP-implementation;
  devbox.json
  devbox.lock
Due: none

chore(scheduler): Replace deprectated Mockito annotations
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/dao/ActiveScheduleDaoImplFailureTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/quartz/AppScalingScheduleJobTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/rest/ScheduleRestControllerTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/rest/ScheduleSyncRestControllerTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/service/ScheduleJobManagerTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/service/ScheduleManagerTest.java
Due: java-formatter, golangci-lint

Add waiting-time to ensure the db cought up;
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/rest/ScheduleRestControllerCreateScheduleAndNofifyScalingEngineTest.java
Due: java-formatter, golangci-lint

Make compliant with java-style-guide;
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/rest/ScheduleRestControllerCreateScheduleAndNofifyScalingEngineTest.java
  style-guide/google-format-ci-v0.1.sh
Due: java-formatter, golangci-lint

Switch to bash in github-action;
  .github/workflows/java-ci-lint.yaml
Due: none

Update devbox.lock
  devbox.lock
Due: none

Update java version to 21.0.6
  config/blobs.yml
  packages/openjdk-21/spec
  packages/openjdk-21/version
Due: none

Refactor httpclient_test to use MkdirTemp and improve file existence checks
  src/autoscaler/helpers/httpclient_test.go
Due: golangci-lint
