Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop

.pre-commit-config.yaml:

#  List of git-hooks, during during committing files to git repo

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
        - id: java-formatter
          name: java-formatter
          entry: style-guide/inspect-java-format-0.1.sh
          language: script
          files: '\.java$'
          stages: [commit]
        - id: golangci-lint
          name: golangci-lint
          entry: style-guide/golangci-lint-0.1.sh
          language: script
          files: '^src'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]
        - id: rubocop
          name: rubocop
          entry: style-guide/rubocop-0.1.sh
          language: script
          files: '\.rb$'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]

Updates flakes and adds dev-tools;
  flake.lock
  flake.nix
Due: none

Converges everything by default in the common manifest;
  templates/app-autoscaler.yml
Due: none

Adds converge-option to all attributes of the example-manifest;
  templates/app-autoscaler-deployment.yml
Due: none

Updated release version to 11.2.1 in golangapiserver
  jobs/golangapiserver/spec
Due: none

created release v11.2.1
  .final_builds/jobs/golangapiserver/index.yml
  .final_builds/packages/changeloglockcleaner/index.yml
  .final_builds/packages/db/index.yml
  .final_builds/packages/eventgenerator/index.yml
  .final_builds/packages/golangapiserver/index.yml
  .final_builds/packages/metricsforwarder/index.yml
  .final_builds/packages/metricsgateway/index.yml
  .final_builds/packages/metricsserver/index.yml
  .final_builds/packages/operator/index.yml
  .final_builds/packages/scalingengine/index.yml
  .final_builds/packages/scheduler/index.yml
  releases/app-autoscaler/app-autoscaler-11.2.1.yml
  releases/app-autoscaler/index.yml
Due: none

Update golang version to 1.21.4
  .final_builds/packages/golang-1-linux/index.yml
  .tool-versions
  ci/terragrunt/app-autoscaler/concourse/pipelines/api-tester/src/go.mod
  packages/golang-1-linux/spec.lock
  packages/golang-1-linux/vendored-commit
  packages/golang-1-linux/version
  src/acceptance/assets/app/go_app/go.mod
  src/acceptance/go.mod
  src/autoscaler/go.mod
  src/changelog/go.mod
  src/changeloglockcleaner/go.mod
Due: golangci-lint

WIP - adapt scheduler
  jobs/metricsforwarder/spec
  jobs/metricsforwarder/templates/metricsforwarder.crt.erb
  jobs/metricsforwarder/templates/metricsforwarder.key.erb
  jobs/metricsforwarder/templates/metricsforwarder.yml.erb
  jobs/metricsforwarder/templates/metricsforwarder_ca.crt.erb
  jobs/scheduler/spec
  jobs/scheduler/templates/healthendpoint.crt.erb
  jobs/scheduler/templates/healthendpoint.key.erb
  jobs/scheduler/templates/healthendpoint_ca.crt.erb
  jobs/scheduler/templates/scheduler.yml.erb
  spec/jobs/common/health_endpoint_spec.rb
  src/autoscaler/integration/components_test.go
  src/autoscaler/integration/scheduler_application.template.yml
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/MetricsConfig.java
  src/scheduler/src/main/resources/application.yml
Due: java-formatter, golangci-lint, rubocop

fixup! Unify HTTP server creation
  jobs/metricsforwarder/templates/metricsforwarder.crt.erb
  jobs/metricsforwarder/templates/metricsforwarder.key.erb
  jobs/metricsforwarder/templates/metricsforwarder_ca.crt.erb
  jobs/metricsforwarder/templates/metricsforwarder_server.crt.erb
  jobs/metricsforwarder/templates/metricsforwarder_server.key.erb
Due: none

fixup! WIP - adapt scheduler
  .tool-versions
  jobs/scheduler/templates/scheduler.yml.erb
Due: none

👷🏼 🚧 WIP: Try to detect error in the workflow and fix it;
  .github/workflows/dependency-update.go-mod-tidy_and_make-package-specs.yaml
Due: none

Fixes
  .github/workflows/dependency-update.go-mod-tidy_and_make-package-specs.yaml
  Makefile
  scripts/sync-package-specs
  src/autoscaler/Makefile
Due: golangci-lint

Remove `scripts/update`
  .github/workflows/tidy-go-mod.yaml
  scripts/update
Due: none

Remove `scripts/update` (#2341)
  .github/workflows/tidy-go-mod.yaml
  scripts/update
Due: none

Fix `*-release` make targets
  Makefile
Due: none

Fix `*-release` make targets (#2345)
  Makefile
Due: none

Updated release version to 11.3.0 in golangapiserver
  jobs/golangapiserver/spec
Due: none

created release v11.3.0
  .final_builds/jobs/eventgenerator/index.yml
  .final_builds/jobs/golangapiserver/index.yml
  .final_builds/jobs/metricsforwarder/index.yml
  .final_builds/jobs/metricsgateway/index.yml
  .final_builds/jobs/metricsserver/index.yml
  .final_builds/jobs/operator/index.yml
  .final_builds/jobs/scalingengine/index.yml
  .final_builds/jobs/scheduler/index.yml
  .final_builds/packages/changeloglockcleaner/index.yml
  .final_builds/packages/db/index.yml
  .final_builds/packages/eventgenerator/index.yml
  .final_builds/packages/golangapiserver/index.yml
  .final_builds/packages/metricsforwarder/index.yml
  .final_builds/packages/metricsgateway/index.yml
  .final_builds/packages/metricsserver/index.yml
  .final_builds/packages/operator/index.yml
  .final_builds/packages/scalingengine/index.yml
  .final_builds/packages/scheduler/index.yml
  releases/app-autoscaler/app-autoscaler-11.3.0.yml
  releases/app-autoscaler/index.yml
Due: none

Correctly ignore scaling events on apps without a scaling policy
  src/autoscaler/scalingengine/scalingengine.go
  src/autoscaler/scalingengine/scalingengine_test.go
Due: golangci-lint

acceptance tests: allow overriding of component health endpoints (#1653)
  src/acceptance/api/basic_auth_test.go
  src/acceptance/config/config.go
Due: golangci-lint

Correctly ignore scaling events on apps without a scaling policy (#2346)
  src/autoscaler/scalingengine/scalingengine.go
  src/autoscaler/scalingengine/scalingengine_test.go
Due: golangci-lint

Try to fix `memoryused` acceptance test
  .editorconfig
  .vscode/extensions.json
  src/acceptance/app/dynamic_policy_test.go
  src/acceptance/helpers/debug.go
Due: golangci-lint

Try to fix `memoryused` acceptance test (#2360)
  .editorconfig
  .vscode/extensions.json
  src/acceptance/app/dynamic_policy_test.go
  src/acceptance/helpers/debug.go
Due: golangci-lint

Update golang version to 1.20.7
  .final_builds/packages/golang-1-linux/index.yml
  .tool-versions
  packages/golang-1-linux/spec.lock
  packages/golang-1-linux/vendored-commit
  packages/golang-1-linux/version
Due: none

Update golang version to 1.20.7 (#2005)
  .final_builds/packages/golang-1-linux/index.yml
  .tool-versions
  packages/golang-1-linux/spec.lock
  packages/golang-1-linux/vendored-commit
  packages/golang-1-linux/version
Due: none

switch to ogen config
  src/acceptance/assets/app/go_app/go.mod
  src/acceptance/assets/app/go_app/go.sum
  src/acceptance/assets/app/go_app/internal/generate.go
  src/acceptance/assets/app/go_app/internal/ogen-config.yaml
  src/autoscaler/go.mod
  src/autoscaler/go.sum
  src/autoscaler/helpers/apis/generate.go
  src/autoscaler/helpers/apis/ogen-config.yaml
Due: golangci-lint

Handle new `NoResourceFoundException`
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/rest/ControllerExceptionHandler.java
Due: java-formatter, golangci-lint

fix(scalingengine): Correctly set scaling type in history
  src/autoscaler/scalingengine/server/scaling_history_handler.go
  src/autoscaler/scalingengine/server/scaling_history_handler_test.go
Due: golangci-lint

bump cf-deployment-concourse-tasks to v15
  ci/infrastructure/pipeline.yml
Due: none

fix(manifest): Do not set passwords to autoconverge
  templates/app-autoscaler.yml
Due: none

fix(manifest): Do not set passwords to autoconverge (#2391)
  templates/app-autoscaler.yml
Due: none

fix(scalingengine): Correctly set scaling type in history (#2389)
  src/autoscaler/scalingengine/server/scaling_history_handler.go
  src/autoscaler/scalingengine/server/scaling_history_handler_test.go
Due: golangci-lint

Updated release version to 11.4.0 in golangapiserver
  jobs/golangapiserver/spec
Due: none

created release v11.4.0
  .final_builds/jobs/golangapiserver/index.yml
  .final_builds/packages/changeloglockcleaner/index.yml
  .final_builds/packages/db/index.yml
  .final_builds/packages/eventgenerator/index.yml
  .final_builds/packages/golangapiserver/index.yml
  .final_builds/packages/metricsforwarder/index.yml
  .final_builds/packages/metricsgateway/index.yml
  .final_builds/packages/metricsserver/index.yml
  .final_builds/packages/operator/index.yml
  .final_builds/packages/scalingengine/index.yml
  .final_builds/packages/scheduler/index.yml
  releases/app-autoscaler/app-autoscaler-11.4.0.yml
  releases/app-autoscaler/index.yml
Due: none

Update golang version to 1.21.5
  .final_builds/packages/golang-1-linux/index.yml
  .tool-versions
  ci/terragrunt/app-autoscaler/concourse/pipelines/api-tester/src/go.mod
  packages/golang-1-linux/spec.lock
  packages/golang-1-linux/vendored-commit
  packages/golang-1-linux/version
  src/acceptance/assets/app/go_app/go.mod
  src/acceptance/go.mod
  src/autoscaler/go.mod
  src/changelog/go.mod
  src/changeloglockcleaner/go.mod
Due: golangci-lint

replace panic with console output and unlock mutex
  src/autoscaler/helpers/json_redacter_with_url_creds.go
  src/autoscaler/helpers/redacting_writer_with_url_creds_sink.go
  src/autoscaler/helpers/time_logger_format.go
Due: golangci-lint
