Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop

.pre-commit-config.yaml:

#  List of git-hooks, during during committing files to git repo

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
        - id: java-formatter
          name: java-formatter
          entry: style-guide/inspect-java-format-0.1.sh
          language: script
          files: '\.java$'
          stages: [commit]
        - id: golangci-lint
          name: golangci-lint
          entry: style-guide/golangci-lint-0.1.sh
          language: script
          files: '^src'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]
        - id: rubocop
          name: rubocop
          entry: style-guide/rubocop-0.1.sh
          language: script
          files: '\.rb$'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]

Fix spec lint
  spec/jobs/eventgenerator/eventgenerator_spec.rb
  spec/jobs/operator/operator_spec.rb
  spec/jobs/scalingengine/scalingengine_spec.rb
Due: rubocop

Accept credential type in binding request
  src/autoscaler/api/broker/broker.go
  src/autoscaler/api/brokerserver/broker_handler_test.go
  src/autoscaler/models/custom_metrics.go
Due: golangci-lint

Adds output for api acceptances tests
  src/acceptance/api/basic_auth_test.go
Due: golangci-lint

Remove empty lines
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_test.go
Due: golangci-lint

add credential type as default in bosh configuration
  jobs/golangapiserver/spec
  jobs/golangapiserver/templates/apiserver.yml.erb
  src/autoscaler/api/broker/broker.go
  src/autoscaler/api/brokerserver/broker_server_suite_test.go
  src/autoscaler/api/config/config.go
Due: golangci-lint

Fix to build from modify cf jar
  ci/infrastructure/scripts/deploy-multiapps-controller.sh
Due: none

restore accidentally deleted template test
  spec/jobs/metricsforwarder/metricsforwarder_spec.rb
Due: rubocop

Fix missing util import
  spec/jobs/golangapiserver/apiserver_spec.rb
  spec/jobs/metricsforwarder/metricsforwarder_spec.rb
  spec/jobs/scalingengine/scalingengine_spec.rb
Due: rubocop

add missing relative requires
  spec/jobs/operator/operator_spec.rb
  spec/jobs/scheduler/scheduler_spec.rb
Due: rubocop

fix(tests): restore `metricsforwarder` template test (#3046)
  spec/jobs/golangapiserver/apiserver_spec.rb
  spec/jobs/metricsforwarder/metricsforwarder_spec.rb
  spec/jobs/operator/operator_spec.rb
  spec/jobs/scalingengine/scalingengine_spec.rb
  spec/jobs/scheduler/scheduler_spec.rb
Due: rubocop

Uses envconfig package to get port from environment variable
  src/autoscaler/go.mod
  src/autoscaler/go.sum
  src/autoscaler/helpers/http_server.go
  src/autoscaler/metricsforwarder/config/config.go
  src/autoscaler/metricsforwarder/config/config_test.go
Due: golangci-lint

Refactor: give priority to env variables over yaml configs
  src/autoscaler/metricsforwarder/config/config.go
Due: golangci-lint

Add missing tools;
  devbox.json
  devbox.lock
  flake.nix
Due: none

WIP
  src/autoscaler/.gitignore
  src/autoscaler/Makefile
  src/autoscaler/go.mod
  src/autoscaler/go.sum
  src/autoscaler/metricsforwarder/config/config.go
  src/autoscaler/mta.yaml
  src/autoscaler/package-lock.json
  src/autoscaler/package.json
Due: golangci-lint

Change build-cf tasks to cf-build to avoid conflicts
  src/autoscaler/Makefile
  src/autoscaler/metricsforwarder/Makefile
  src/autoscaler/mta.yaml
Due: golangci-lint

fix integration test
  spec/fixtures/apiserver.yml
  spec/jobs/golangapiserver/apiserver_spec.rb
  src/autoscaler/integration/components_test.go
Due: golangci-lint, rubocop

Update git ignore to try issue with telescope
  src/autoscaler/metricsforwarder/.gitignore
Due: golangci-lint

Update golang version to 1.22.0
  .final_builds/packages/golang-1-linux/index.yml
  .tool-versions
  ci/terragrunt/app-autoscaler/concourse/pipelines/api-tester/src/go.mod
  go.work
  packages/golang-1-linux/spec.lock
  packages/golang-1-linux/vendored-commit
  packages/golang-1-linux/version
  src/acceptance/assets/app/go_app/go.mod
  src/acceptance/go.mod
  src/autoscaler/go.mod
  src/changelog/go.mod
  src/changeloglockcleaner/go.mod
Due: golangci-lint

🤖🦾🛠️ scripts/asdf2devbox.py
  devbox.json
  devbox.lock
Due: none

fix linters issue
  spec/jobs/golangapiserver/apiserver_spec.rb
  src/acceptance/app/custom_metric_test.go
  src/autoscaler/api/broker/broker.go
Due: golangci-lint, rubocop

chore(direnv): Set `BBL_STATE_DIRECTORY` if possible
  .envrc
Due: none

WIP
  src/acceptance/assets/app/go_app/Makefile
  src/autoscaler/Makefile
  src/autoscaler/go.sum
  src/autoscaler/helpers/cf.go
  src/autoscaler/metricsforwarder/cmd/metricsforwarder/main.go
  src/autoscaler/metricsforwarder/cmd/metricsforwarder/metricsforwarder_test.go
  src/autoscaler/metricsforwarder/config/config.go
  src/autoscaler/metricsforwarder/config/config_test.go
  src/autoscaler/mta.yaml
Due: golangci-lint

Refactor health server
  src/autoscaler/healthendpoint/server.go
  src/autoscaler/helpers/basic_auth.go
Due: golangci-lint

WIP: Uses basic auth instead of mtls for components
  src/autoscaler/api/cmd/api/api_suite_test.go
  src/autoscaler/api/cmd/api/api_test.go
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_test.go
  src/autoscaler/helpers/http_server.go
  src/autoscaler/testhelpers/clients.go
Due: golangci-lint

chore(template): Remove unused `metric_scraper_ca`
  templates/app-autoscaler.yml
Due: none

Update golang version to 1.22.1
  .final_builds/packages/golang-1-linux/index.yml
  .tool-versions
  ci/terragrunt/app-autoscaler/concourse/pipelines/api-tester/src/go.mod
  go.work
  packages/golang-1-linux/spec.lock
  packages/golang-1-linux/vendored-commit
  packages/golang-1-linux/version
  src/acceptance/assets/app/go_app/go.mod
  src/acceptance/go.mod
  src/autoscaler/go.mod
  src/changelog/go.mod
  src/changeloglockcleaner/go.mod
Due: golangci-lint

Fixes unnecessary trailing newline
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_suite_test.go
Due: golangci-lint

: Sets eventgenerator healthenpoint on server port
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_suite_test.go
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_test.go
  src/autoscaler/eventgenerator/cmd/eventgenerator/main.go
  src/autoscaler/eventgenerator/server/server.go
  src/autoscaler/eventgenerator/server/server_suite_test.go
  src/autoscaler/metricsforwarder/cmd/metricsforwarder/main.go
  src/autoscaler/testhelpers/db.go
Due: golangci-lint

Uses texthelper client for eventgenerator test
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_test.go
Due: golangci-lint

Fix Lint warning
  spec/jobs/golangapiserver/apiserver_spec.rb
Due: rubocop

Remove blank line
  src/autoscaler/operator/cmd/operator/main.go
Due: golangci-lint

Set jobs and specs to not use the healthendpoint port
  jobs/eventgenerator/spec
  jobs/eventgenerator/templates/eventgenerator.yml.erb
  jobs/operator/spec
  jobs/operator/templates/healthendpoint.crt.erb
  jobs/operator/templates/healthendpoint.key.erb
  jobs/operator/templates/healthendpoint_ca.crt.erb
  jobs/operator/templates/operator.yml.erb
  jobs/scalingengine/spec
  jobs/scalingengine/templates/healthendpoint.crt.erb
  jobs/scalingengine/templates/healthendpoint.key.erb
  jobs/scalingengine/templates/healthendpoint_ca.crt.erb
  jobs/scalingengine/templates/scalingengine.yml.erb
  spec/jobs/common/health_endpoint_spec.rb
  spec/jobs/eventgenerator/eventgenerator_spec.rb
  spec/jobs/operator/operator_spec.rb
  spec/jobs/scalingengine/scalingengine_spec.rb
Due: rubocop

Sets publicapiserver healthenpoint on server port
  src/autoscaler/api/cmd/api/api_test.go
  src/autoscaler/api/cmd/api/main.go
  src/autoscaler/api/publicapiserver/public_api_server.go
  src/autoscaler/api/publicapiserver/public_api_server_test.go
  src/autoscaler/api/publicapiserver/publicapiserver_suite_test.go
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_test.go
  src/autoscaler/scalingengine/server/server.go
Due: golangci-lint
