Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop

java-formatter:
  name: java-formatter
  entry: style-guide/inspect-java-format-0.1.sh
  language: script
  stages:
  - commit

golangci-lint:
  name: golangci-lint
  entry: style-guide/golangci-lint-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

rubocop:
  name: rubocop
  entry: style-guide/rubocop-0.1.sh
  language: script
  pass_filenames: false
  stages:
  - commit

Remove unused serverUrl variable from metricsforwarder server test suite.
  src/autoscaler/metricsforwarder/server/server_suite_test.go
Due: golangci-lint

Remove mta-build from build-all target in Makefile
  Makefile
Due: none

Updated release version to 14.4.1 in golangapiserver
  jobs/golangapiserver/spec
Due: none

created release v14.4.1
  .final_builds/jobs/golangapiserver/index.yml
  .final_builds/packages/db/index.yml
  .final_builds/packages/eventgenerator/index.yml
  .final_builds/packages/golangapiserver/index.yml
  .final_builds/packages/metricsforwarder/index.yml
  .final_builds/packages/operator/index.yml
  .final_builds/packages/scalingengine/index.yml
  .final_builds/packages/scheduler/index.yml
  releases/app-autoscaler/app-autoscaler-14.4.1.yml
  releases/app-autoscaler/index.yml
Due: none

Fix lints
  src/autoscaler/api/brokerserver/broker_server.go
  src/autoscaler/api/cmd/api/api_test.go
  src/autoscaler/api/config/config.go
  src/autoscaler/api/publicapiserver/public_api_server.go
  src/autoscaler/api/publicapiserver/public_api_server_test.go
  src/autoscaler/configutil/cf.go
  src/autoscaler/metricsforwarder/server/server_suite_test.go
Due: golangci-lint

Replace ioutil package with os and io packages, handle errors on HTTP response writing, and annotate potential security issue with
  src/autoscaler/api/cmd/api/api_test.go
  src/autoscaler/api/publicapiserver/public_api_server_test.go
  src/autoscaler/configutil/configutil_test.go
Due: golangci-lint

Remove metricsforwarder_host variable from deploy-autoscaler.sh manifest creation function
  ci/autoscaler/scripts/deploy-autoscaler.sh
Due: none

Update default METRICSFORWARDER_HOST name in build-extension-file script
  src/autoscaler/build-extension-file.sh
Due: golangci-lint

Remove eventgenerator Makefile and associated fetch-config task
  src/autoscaler/eventgenerator/Makefile
Due: golangci-lint

fix-NPE for custom metrics strategy at db level
  src/autoscaler/api/broker/broker_test.go
  src/autoscaler/db/sqldb/binding_sqldb.go
  src/autoscaler/db/sqldb/binding_sqldb_test.go
  src/autoscaler/db/sqldb/sqldb_suite_test.go
Due: golangci-lint

Updated Metrics Forwarder health check to use basic_auth configuration.
  src/autoscaler/build-extension-file.sh
  src/autoscaler/metricsforwarder/default_config.json
Due: golangci-lint

Add metrics forwarder host configuration to apiserver job in CF services
  operations/use-cf-services.yml
Due: none

add missing binding db connection details for mysql database
  operations/cf-mysql-db.yml
Due: none

Adds cf_Server config for scalingengine
  jobs/scalingengine/spec
  jobs/scalingengine/templates/scalingengine.yml.erb
  spec/jobs/scalingengine/scalingengine_spec.rb
  src/autoscaler/helpers/http_server.go
  src/autoscaler/models/api.go
  src/autoscaler/scalingengine/config/config.go
  src/autoscaler/scalingengine/config/config_test.go
  src/autoscaler/scalingengine/config/testdata/valid.yml
Due: golangci-lint, rubocop

fix- instance params returns binding params
  src/acceptance/broker/broker_test.go
  src/autoscaler/api/broker/broker.go
  src/autoscaler/api/brokerserver/broker_handler_test.go
Due: golangci-lint

allow only bound_app strategy
  src/acceptance/broker/broker_test.go
  src/autoscaler/api/broker/broker.go
  src/autoscaler/api/brokerserver/broker_handler_test.go
  src/autoscaler/models/binding_configs.go
Due: golangci-lint

created release v14.4.2
  .final_builds/jobs/golangapiserver/index.yml
  .final_builds/packages/db/index.yml
  .final_builds/packages/eventgenerator/index.yml
  .final_builds/packages/golangapiserver/index.yml
  .final_builds/packages/metricsforwarder/index.yml
  .final_builds/packages/operator/index.yml
  .final_builds/packages/scalingengine/index.yml
  .final_builds/packages/scheduler/index.yml
  releases/app-autoscaler/app-autoscaler-14.4.2.yml
  releases/app-autoscaler/index.yml
Due: none

Updated release version to 14.4.2 in golangapiserver
  jobs/golangapiserver/spec
Due: none

chore(ci): Simplify acceptance tests
  .github/actions/pending-check/action.yaml
  .github/actions/pending-check/pending_check.sh
  .github/workflows/acceptance_tests_broker.yaml
  .github/workflows/acceptance_tests_mta.yaml
  .github/workflows/acceptance_tests_reusable.yaml
Due: none

Remove unused setupMainRouter function from eventgenerator server code
  src/autoscaler/eventgenerator/server/server.go
Due: golangci-lint

Remove unused Setup method from PublicApiServer
  src/autoscaler/api/publicapiserver/public_api_server.go
Due: golangci-lint

Refactor policydb to database in autoscaler configuration and resource names
  src/autoscaler/build-extension-file.sh
  src/autoscaler/mta.tpl.yaml
Due: golangci-lint

Remove debug log statement for health server creation in main.go
  src/autoscaler/api/cmd/api/main.go
Due: golangci-lint

Updated autoscaler module to use 'database' instead of 'policydb' in mta.tpl.yaml
  src/autoscaler/mta.tpl.yaml
Due: golangci-lint

WIP
  src/autoscaler/api/brokerserver/broker_server.go
  src/autoscaler/api/brokerserver/broker_server_suite_test.go
  src/autoscaler/api/cmd/api/api_test.go
  src/autoscaler/api/cmd/api/main.go
  src/autoscaler/api/publicapiserver/public_api_server.go
  src/autoscaler/api/publicapiserver/public_api_server_test.go
  src/autoscaler/api/publicapiserver/publicapiserver_suite_test.go
  src/autoscaler/generate-fakes.go
  src/autoscaler/helpers/auth/xfcc_auth.go
  src/autoscaler/helpers/auth/xfcc_auth_test.go
  src/autoscaler/routes/routes.go
  src/autoscaler/routes/routes_test.go
  src/autoscaler/scalingengine/cmd/scalingengine/main.go
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_suite_test.go
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_test.go
  src/autoscaler/scalingengine/config/config.go
  src/autoscaler/scalingengine/config/config_test.go
  src/autoscaler/scalingengine/server/server.go
  src/autoscaler/scalingengine/server/server_test.go
  src/autoscaler/testhelpers/certs.go
Due: golangci-lint

Add generate-openapi-generated-clients-and-servers as a dependency for the integration target in Makefile
  Makefile
Due: none

Add generate-openapi-generated-clients-and-servers as a dependency for the integration target in Makefile (#3321)
  Makefile
Due: none

chore(ci): remove continue-on-error from acceptance tests workflow
  .github/workflows/acceptance_tests_reusable.yaml
Due: none

chore(logcache fetcher): Info -> Debug logs
  src/autoscaler/eventgenerator/metric/fetcher.go
Due: golangci-lint

review comments
  src/autoscaler/eventgenerator/metric/fetcher.go
Due: golangci-lint

further review comments
  src/autoscaler/eventgenerator/metric/fetcher.go
Due: golangci-lint

refactor(fetcher): update log level for PromQL API result and adjust REST API query log message
  src/autoscaler/eventgenerator/metric/fetcher.go
Due: golangci-lint

chore(logcache fetcher): Don't print full logcache REST API results
  src/autoscaler/eventgenerator/metric/fetcher.go
Due: golangci-lint

chore(ci): Remove `labeled` trigger
  .github/workflows/acceptance_tests_mta.yaml
Due: none

fix(db): set correct dbms short name `postgresql`
  src/autoscaler/eventgenerator/db/dataaggregator.db.changelog.yml
Due: golangci-lint

fix(config): update certificate paths to use `file:` prefix in scheduler configuration
  jobs/scheduler/templates/scheduler.yml.erb
  src/autoscaler/integration/scheduler_application.template.yml
  src/scheduler/src/main/resources/application.yml
Due: golangci-lint

Path conditions:
  java-formatter: any of: \.java$
  golangci-lint: any of: ^src
  rubocop: any of: \.rb$
