Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop

.pre-commit-config.yaml:

#  List of git-hooks, during during committing files to git repo

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
        - id: java-formatter
          name: java-formatter
          entry: style-guide/inspect-java-format-0.1.sh
          language: script
          files: '\.java$'
          stages: [commit]
        - id: golangci-lint
          name: golangci-lint
          entry: style-guide/golangci-lint-0.1.sh
          language: script
          files: '^src'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]
        - id: rubocop
          name: rubocop
          entry: style-guide/rubocop-0.1.sh
          language: script
          files: '\.rb$'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]

Delete OSSF score scard
  .github/workflows/scorecard.yml
Due: none

Regenerate `Gemfile.lock`
  Gemfile.lock
  devbox.json
  devbox.lock
Due: none

chore(ruby): Directly call `standardrb`
  Makefile
  devbox.json
  devbox.lock
Due: none

chore: adapt package rename
  packages/golangapiserver/spec
  src/autoscaler/api/broker/broker.go
  src/autoscaler/api/broker/broker_suite_test.go
  src/autoscaler/api/broker/broker_test.go
  src/autoscaler/api/brokerserver/broker_handler_test.go
  src/autoscaler/api/brokerserver/broker_server.go
  src/autoscaler/api/brokerserver/broker_server_suite_test.go
  src/autoscaler/go.mod
  src/autoscaler/go.sum
Due: golangci-lint

WIP2
  Makefile
  ci/autoscaler/scripts/deploy-autoscaler.sh
  ci/autoscaler/scripts/undeploy-apps.sh
  src/autoscaler/Makefile
  src/autoscaler/api/config/config.go
  src/autoscaler/api/config/config_test.go
  src/autoscaler/api/schedulerclient/client.go
  src/autoscaler/build-extension-file.sh
  src/autoscaler/dbtasks/.gitignore
  src/autoscaler/dbtasks/README.md
  src/autoscaler/dbtasks/pom.xml
  src/autoscaler/dbtasks/src/main/java/org/cloudfoundry/autoscaler/Application.java
  src/autoscaler/dbtasks/src/main/resources/.gitignore
  src/autoscaler/dbtasks/src/main/resources/bin/apply-api-changelog.sh
  src/autoscaler/helpers/auth/xfcc_auth.go
  src/autoscaler/metricsforwarder/server/auth/xfcc_auth.go
  src/autoscaler/mta.tpl.yaml
  src/autoscaler/testhelpers/certs.go
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/filter/HttpAuthFilter.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/filter/HttpAuthFilterTest.java
Due: java-formatter, golangci-lint

WIP
  jobs/scalingengine/spec
  jobs/scalingengine/templates/scalingengine.yml.erb
  spec/jobs/scalingengine/scalingengine_spec.rb
  src/autoscaler/testhelpers/certs.go
Due: golangci-lint, rubocop

WIP
  operations/use-cf-services.yml
Due: none

Add shellcheck exception and create CERTS_DIR in apply-api-changelog.sh
  src/autoscaler/dbtasks/src/main/resources/bin/apply-api-changelog.sh
Due: golangci-lint

Enable a previously focused test case for scaling out in the AutoScaler Public API acceptance tests.
  src/acceptance/api/api_test.go
Due: golangci-lint

Remove empty line from devbox.lock file
  devbox.lock
Due: none

Implement support for catalog configuration via user-provided service in autoscaler API
  src/autoscaler/api/config/config.go
Due: golangci-lint

Remove unused logs
  src/autoscaler/api/schedulerclient/client.go
Due: golangci-lint

Remove unused docs
  src/autoscaler/dbtasks/README.md
Due: golangci-lint

Cleanup mta
  src/autoscaler/mta.tpl.yaml
Due: golangci-lint

Update todo description
  src/autoscaler/metricsforwarder/server/auth/xfcc_auth.go
Due: golangci-lint

remove comment
  src/autoscaler/mta.tpl.yaml
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/filter/HttpAuthFilter.java
Due: java-formatter, golangci-lint

Update oha from 0.6.5 to 1.8.0 across multiple architectures
  devbox.lock
Due: none

Remove WIP label check step from acceptance_tests_reusable workflow
  .github/workflows/acceptance_tests_reusable.yaml
Due: none

chore: adapt to changes in `github.com/cenkalti/backoff/v5`
  packages/eventgenerator/spec
  src/autoscaler/eventgenerator/generator/appEvaluationManager.go
  src/autoscaler/eventgenerator/generator/evaluator_test.go
  src/autoscaler/go.sum
Due: golangci-lint

Moved CPU threshold case handling to else block in deploy-autoscaler.sh and added CPU_LOWER_THRESHOLD to build-extension-file.sh
  ci/autoscaler/scripts/deploy-autoscaler.sh
  src/autoscaler/build-extension-file.sh
Due: golangci-lint

Add ENABLE_MTAR environment variable to deploy apps step in acceptance_tests_reusable workflow
  .github/workflows/acceptance_tests_reusable.yaml
Due: none

Refactor deploy-autoscaler.sh to use cf_target function and remove redundant cf target command
  ci/autoscaler/scripts/deploy-autoscaler.sh
Due: none

Remove use-cf-services.yml from acceptance tests MTA workflow configuration
  .github/workflows/acceptance_tests_mta.yaml
Due: none

Update Python version from 3.12.5 to 3.13.2 in devbox.lock
  devbox.lock
Due: none

chore: `make -C nix/packages/uaac`
  devbox.lock
  nix/packages/uaac/gemset.nix
Due: none

chore(ci): trigger post-processing on more updates
  .github/workflows/dependency-updates-post-processing.yaml
Due: none

Add step to register autoscaler in acceptance_tests_reusable workflow
  .github/workflows/acceptance_tests_reusable.yaml
Due: none

Fix failing test in scheduler
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/filter/HttpAuthFilterTest.java
Due: java-formatter, golangci-lint

created release v15.1.0
  .final_builds/jobs/golangapiserver/index.yml
  .final_builds/jobs/scheduler/index.yml
  .final_builds/packages/changeloglockcleaner/index.yml
  .final_builds/packages/db/index.yml
  .final_builds/packages/eventgenerator/index.yml
  .final_builds/packages/golangapiserver/index.yml
  .final_builds/packages/metricsforwarder/index.yml
  .final_builds/packages/operator/index.yml
  .final_builds/packages/scalingengine/index.yml
  .final_builds/packages/scheduler/index.yml
  releases/app-autoscaler/app-autoscaler-15.1.0.yml
  releases/app-autoscaler/index.yml
Due: none

Updated release version to 15.1.0 in golangapiserver
  jobs/golangapiserver/spec
  src/autoscaler/api/default_info.json
Due: golangci-lint

Fix sonaque
  .sonarcloud.properties
  spec/jobs/eventgenerator/eventgenerator_spec.rb
  spec/jobs/scalingengine/scalingengine_spec.rb
Due: rubocop

Debug register broker
  ci/autoscaler/scripts/register-broker.sh
Due: none

Fix integration test
  src/autoscaler/api/config/config.go
  src/autoscaler/integration/gorouterproxy/gorouterproxy_test.go
  src/autoscaler/integration/gorouterproxy/main.go
  src/autoscaler/integration/integration_golangapi_scheduler_test.go
  src/autoscaler/testhelpers/certs.go
Due: golangci-lint

Update apply api changelog to run for all cases
  src/autoscaler/dbtasks/src/main/resources/bin/apply-api-changelog.sh
Due: golangci-lint

Remove debug mode and redundant logout in register-broker script
  ci/autoscaler/scripts/register-broker.sh
Due: none

Split and ops file for configuring cf services into 2
  ci/autoscaler/pipeline.yml
  ci/autoscaler/scripts/deploy-autoscaler.sh
  operations/configure-cf-services.yml
  operations/use-cf-services.yml
Due: none

Uncomment TLS CA cert configuration for Scaling Engine and Event Generator in autoscaler API
  src/autoscaler/api/config/config.go
  src/autoscaler/api/config/config_test.go
Due: golangci-lint
