Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop

.pre-commit-config.yaml:

#  List of git-hooks, during during committing files to git repo

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
        - id: java-formatter
          name: java-formatter
          entry: style-guide/inspect-java-format-0.1.sh
          language: script
          files: '\.java$'
          stages: [commit]
        - id: golangci-lint
          name: golangci-lint
          entry: style-guide/golangci-lint-0.1.sh
          language: script
          files: '^src'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]
        - id: rubocop
          name: rubocop
          entry: style-guide/rubocop-0.1.sh
          language: script
          files: '\.rb$'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]

Updated release version to 15.6.0 in golangapiserver
  jobs/golangapiserver/spec
  src/autoscaler/api/default_info.json
Due: golangci-lint

Fix tests;
  src/autoscaler/api/broker/broker.go
  src/autoscaler/api/brokerserver/broker_handler_test.go
  src/autoscaler/models/api.go
Due: golangci-lint

Daily re-deployment of the multiapps-controller
  ci/infrastructure/pipeline.yml
Due: none

Adds to-do-item;
  src/autoscaler/api/publicapiserver/public_api_handler.go
Due: golangci-lint

Stabilize type `BindingConfig`
  src/autoscaler/models/binding_configs.go
  src/autoscaler/models/binding_configs_test.go
  src/autoscaler/models/binding_parameters.go
  src/autoscaler/models/policy.go
Due: golangci-lint

Add deserialisation for BindingParameters;
  src/autoscaler/models/binding_parameters.go
Due: golangci-lint

Add tests for BindingParameters;
  src/autoscaler/models/binding_configs.go
  src/autoscaler/models/binding_parameters_test.go
Due: golangci-lint

Different error-fixes
  src/autoscaler/models/binding_configs.go
  src/autoscaler/models/binding_parameters.go
  src/autoscaler/models/binding_parameters_test.go
Due: golangci-lint

Temporarily remove the package binding_request to do that in a separate PR;
  src/autoscaler/api/binding_request/autoscaler-policy.json
  src/autoscaler/api/binding_request/binding-configuration.json
  src/autoscaler/api/binding_request/binding-request-parser.go
  src/autoscaler/api/binding_request/binding-request-parser_suite_test.go
  src/autoscaler/api/binding_request/binding-request-parser_test.go
  src/autoscaler/api/binding_request/binding-request.json
  src/autoscaler/api/binding_request/clean_parser/json-structure.go
  src/autoscaler/api/binding_request/clean_parser/parser.go
  src/autoscaler/api/binding_request/combined_parser/parser.go
  src/autoscaler/api/binding_request/legacy-binding-request.json
  src/autoscaler/api/binding_request/legacy_parser/json-structure.go
  src/autoscaler/api/binding_request/legacy_parser/parser.go
  src/autoscaler/api/binding_request/shared_definitions.json
Due: golangci-lint

Revert "Temporarily remove the package binding_request to do that in a separate PR;"
  src/autoscaler/api/binding_request/autoscaler-policy.json
  src/autoscaler/api/binding_request/binding-configuration.json
  src/autoscaler/api/binding_request/binding-request-parser.go
  src/autoscaler/api/binding_request/binding-request-parser_suite_test.go
  src/autoscaler/api/binding_request/binding-request-parser_test.go
  src/autoscaler/api/binding_request/binding-request.json
  src/autoscaler/api/binding_request/clean_parser/json-structure.go
  src/autoscaler/api/binding_request/clean_parser/parser.go
  src/autoscaler/api/binding_request/combined_parser/parser.go
  src/autoscaler/api/binding_request/legacy-binding-request.json
  src/autoscaler/api/binding_request/legacy_parser/json-structure.go
  src/autoscaler/api/binding_request/legacy_parser/parser.go
  src/autoscaler/api/binding_request/shared_definitions.json
Due: golangci-lint

Revert "Daily re-deployment of the multiapps-controller"
  ci/infrastructure/pipeline.yml
Due: none

Use the 5:30-UTC-trigger for the deploy-service;
  ci/infrastructure/pipeline.yml
Due: none

Fix errors in tests;
  src/autoscaler/api/broker/broker.go
  src/autoscaler/api/broker/broker_test.go
  src/autoscaler/db/db.go
  src/autoscaler/db/sqldb/binding_sqldb.go
  src/autoscaler/models/api.go
  src/autoscaler/models/binding_configs.go
Due: golangci-lint

Multiple improvements and fixes
  src/autoscaler/api/broker/broker.go
  src/autoscaler/api/publicapiserver/public_api_handler.go
  src/autoscaler/api/publicapiserver/public_api_handler_test.go
  src/autoscaler/db/db.go
  src/autoscaler/db/sqldb/binding_sqldb.go
  src/autoscaler/db/sqldb/binding_sqldb_test.go
  src/autoscaler/metricsforwarder/server/auth/auth_test.go
  src/autoscaler/metricsforwarder/server/custom_metrics_handlers.go
  src/autoscaler/metricsforwarder/server/custom_metrics_handlers_test.go
  src/autoscaler/models/binding_configs.go
  src/autoscaler/models/binding_parameters.go
Due: golangci-lint

Prepare new domain-language-terms „ScalingPolicy“ and „PolicyDefinition“
  schema/json/Readme.md
  schema/json/autoscaler-policy.json
  schema/json/binding-configuration.json
  src/autoscaler/api/broker/broker.go
  src/autoscaler/api/broker/broker_suite_test.go
  src/autoscaler/api/brokerserver/broker_handler_test.go
  src/autoscaler/api/plancheck/plan_checker.go
  src/autoscaler/api/plancheck/plan_checker_test.go
  src/autoscaler/api/policyvalidator/policy_validator.go
  src/autoscaler/api/policyvalidator/policy_validator_test.go
  src/autoscaler/api/publicapiserver/public_api_handler.go
  src/autoscaler/api/publicapiserver/public_api_handler_test.go
  src/autoscaler/api/publicapiserver/public_api_server_test.go
  src/autoscaler/api/schedulerclient/client.go
  src/autoscaler/api/schedulerclient/client_test.go
  src/autoscaler/db/db.go
  src/autoscaler/db/sqldb/policy_sqldb.go
  src/autoscaler/db/sqldb/policy_sqldb_test.go
  src/autoscaler/db/sqldb/sqldb_suite_test.go
  src/autoscaler/eventgenerator/aggregator/aggregator_test.go
  src/autoscaler/eventgenerator/aggregator/app_manager_test.go
  src/autoscaler/eventgenerator/generator/appEvaluationManager_test.go
  src/autoscaler/integration/integration_logcache_eventgenerator_scalingengine_test.go
  src/autoscaler/integration/integration_suite_test.go
  src/autoscaler/metricsforwarder/manager/policyManager_test.go
  src/autoscaler/metricsforwarder/server/custom_metrics_handlers_test.go
  src/autoscaler/metricsforwarder/server/server_test.go
  src/autoscaler/models/api.go
  src/autoscaler/models/binding_parameters.go
  src/autoscaler/models/binding_parameters_test.go
  src/autoscaler/models/policy.go
  src/autoscaler/models/policy_test.go
  src/autoscaler/scalingengine/scalingengine_test.go
Due: golangci-lint

remove unused methods
  src/autoscaler/envelopeprocessor/envelope_processor.go
Due: golangci-lint

optimize imports
  src/autoscaler/envelopeprocessor/envelope_processor.go
Due: golangci-lint

refactor(envelope-processor): remove unused code (#3888)
  src/autoscaler/envelopeprocessor/envelope_processor.go
Due: golangci-lint

Updated release version to 15.6.1 in golangapiserver
  jobs/golangapiserver/spec
  src/autoscaler/api/default_info.json
Due: golangci-lint

created release v15.6.1
  .final_builds/jobs/golangapiserver/index.yml
  .final_builds/packages/db/index.yml
  .final_builds/packages/eventgenerator/index.yml
  .final_builds/packages/golangapiserver/index.yml
  .final_builds/packages/metricsforwarder/index.yml
  .final_builds/packages/operator/index.yml
  .final_builds/packages/scalingengine/index.yml
  .final_builds/packages/scheduler/index.yml
  releases/app-autoscaler/app-autoscaler-15.6.1.yml
  releases/app-autoscaler/index.yml
Due: none

feat(fips): Enable FIPS 140-3 mode
  devbox.json
  src/autoscaler/mta.tpl.yaml
Due: golangci-lint

feat(fips): Enable FIPS 140-3 mode
  devbox.json
  src/autoscaler/Makefile
  src/autoscaler/mta.tpl.yaml
Due: golangci-lint

feat(fips): Add FIPS mode assertion to ensure compliance
  src/autoscaler/api/cmd/api/main.go
  src/autoscaler/eventgenerator/cmd/eventgenerator/main.go
  src/autoscaler/helpers/fips.go
  src/autoscaler/metricsforwarder/cmd/metricsforwarder/main.go
  src/autoscaler/operator/cmd/operator/main.go
  src/autoscaler/scalingengine/cmd/scalingengine/main.go
Due: golangci-lint

feat(fips): Enable FIPS 140-3 mode in Golang micro services (#3892)
  devbox.json
  src/autoscaler/Makefile
  src/autoscaler/api/cmd/api/main.go
  src/autoscaler/eventgenerator/cmd/eventgenerator/main.go
  src/autoscaler/helpers/fips.go
  src/autoscaler/metricsforwarder/cmd/metricsforwarder/main.go
  src/autoscaler/mta.tpl.yaml
  src/autoscaler/operator/cmd/operator/main.go
  src/autoscaler/scalingengine/cmd/scalingengine/main.go
Due: golangci-lint

Updated release version to 15.7.0 in golangapiserver
  jobs/golangapiserver/spec
  src/autoscaler/api/default_info.json
Due: golangci-lint

created release v15.7.0
  .final_builds/jobs/golangapiserver/index.yml
  .final_builds/packages/db/index.yml
  .final_builds/packages/eventgenerator/index.yml
  .final_builds/packages/golangapiserver/index.yml
  .final_builds/packages/metricsforwarder/index.yml
  .final_builds/packages/operator/index.yml
  .final_builds/packages/scalingengine/index.yml
  .final_builds/packages/scheduler/index.yml
  releases/app-autoscaler/app-autoscaler-15.7.0.yml
  releases/app-autoscaler/index.yml
Due: none

feat(fips): Add Bouncy Castle FIPS dependencies and initialize FIPS mode in SchedulerApplication
  src/autoscaler/scheduler/pom.xml
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/SchedulerApplication.java
  src/autoscaler/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/DataSourceConfig.java
Due: java-formatter, golangci-lint

Adds sed
  devbox.json
  devbox.lock
Due: none

🤖🦾🛠️ go mod tidy & make package-specs
  packages/golangapiserver/spec
Due: none

feat(cf): add custom HTTP user agent for Cloud Foundry client requests
  src/autoscaler/cf/client.go
  src/autoscaler/cf/oauth.go
  src/autoscaler/cf/retriever.go
  src/autoscaler/cf/user_agent.go
  src/autoscaler/cf/user_agent_integration_test.go
  src/autoscaler/cf/user_agent_simple_test.go
  src/autoscaler/cf/user_agent_test.go
Due: golangci-lint

🚧 Work in progress: Renaming according to new terms;
  src/autoscaler/api/broker/broker.go
  src/autoscaler/api/broker/broker_suite_test.go
  src/autoscaler/api/broker/broker_test.go
  src/autoscaler/api/publicapiserver/public_api_handler.go
  src/autoscaler/models/app_scaling_config.go
  src/autoscaler/models/app_scaling_config_test.go
  src/autoscaler/models/binding_configs.go
  src/autoscaler/models/policy.go
  src/autoscaler/models/policy_test.go
Due: golangci-lint

🚧 Work in progress 2: Renaming according to new terms;
  schema/json/binding-configuration.json
  schema/json/policy-configuration.json
  schema/json/scaling-policy.json
  src/autoscaler/api/broker/broker.go
  src/autoscaler/api/broker/testdata/policy-with-configs.json
  src/autoscaler/models/api.go
  src/autoscaler/models/binding_configs.go
  src/autoscaler/models/binding_configs_test.go
  src/autoscaler/models/policy.go
Due: golangci-lint

Finish renamings in “models” and make tests there work again;
  schema/json/app-scaling-configuration.json
  src/autoscaler/api/broker/broker.go
  src/autoscaler/models/app_scaling_config.go
  src/autoscaler/models/app_scaling_config_test.go
  src/autoscaler/models/binding_configs.go
  src/autoscaler/models/binding_configs_test.go
  src/autoscaler/models/policy.go
Due: golangci-lint

chore(tests): remove PostgreSQL 12 from test matrix
  .github/workflows/postgres.yaml
Due: none

feat(cf): add custom HTTP user agent for Cloud Foundry client requests (#3897)
  src/autoscaler/cf/client.go
  src/autoscaler/cf/oauth.go
  src/autoscaler/cf/retriever.go
  src/autoscaler/cf/user_agent.go
  src/autoscaler/cf/user_agent_integration_test.go
  src/autoscaler/cf/user_agent_simple_test.go
  src/autoscaler/cf/user_agent_test.go
Due: golangci-lint

chore(deps): update dependency golangci-lint to v2 ; Conflicts: ; devbox.json
  devbox.json
  devbox.lock
Due: none

`golangci-lint migrate`
  .golangci.yaml
Due: none
