Repository cloudfoundry/app-autoscaler-release: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-formatter, golangci-lint, rubocop

.pre-commit-config.yaml:

#  List of git-hooks, during during committing files to git repo

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
        - id: java-formatter
          name: java-formatter
          entry: style-guide/inspect-java-format-0.1.sh
          language: script
          files: '\.java$'
          stages: [commit]
        - id: golangci-lint
          name: golangci-lint
          entry: style-guide/golangci-lint-0.1.sh
          language: script
          files: '^src'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]
        - id: rubocop
          name: rubocop
          entry: style-guide/rubocop-0.1.sh
          language: script
          files: '\.rb$'
          pass_filenames: false #https://github.com/pre-commit/pre-commit/issues/836
          stages: [ commit ]

Scheduler consumes scaling engine
  jobs/scalingengine/templates/scalingengine_ca.crt.erb
  jobs/scalingengine/templates/scalingengine_server.crt.erb
  jobs/scalingengine/templates/scalingengine_server.key.erb
  jobs/scheduler/spec
  jobs/scheduler/templates/scheduler.yml.erb
  src/scheduler/src/main/java/org/cloudfoundry/autoscaler/scheduler/conf/RestClientConfig.java
  src/scheduler/src/main/resources/application.yml
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/misc/ConcurrentRequestTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/rest/ScheduleRestControllerCreateScheduleAndNofifyScalingEngineTest.java
  src/scheduler/src/test/java/org/cloudfoundry/autoscaler/scheduler/util/EmbeddedTomcatUtil.java
Due: java-formatter, golangci-lint

WIP: Scaling engine uses basic auth for server authentication
  .gitignore
  jobs/scalingengine/spec
  jobs/scalingengine/templates/scalingengine.yml.erb
  src/autoscaler/Makefile
  src/autoscaler/api/apis/generate.go
  src/autoscaler/api/apis/ogen-config.yaml
  src/autoscaler/api/publicapiserver/public_api_server.go
  src/autoscaler/api/publicapiserver/public_api_server_test.go
  src/autoscaler/api/publicapiserver/publicapiserver_suite_test.go
  src/autoscaler/api/publicapiserver/scaling_history_handler.go
  src/autoscaler/helpers/basic_auth.go
  src/autoscaler/scalingengine/apis/generate.go
  src/autoscaler/scalingengine/apis/ogen-config.yaml
  src/autoscaler/scalingengine/apis/scaling-history-api.openapi.yaml
  src/autoscaler/scalingengine/apis/shared_definitions.yaml
  src/autoscaler/scalingengine/server/scaling_history_handler.go
  src/autoscaler/scalingengine/server/scaling_history_handler_test.go
  src/autoscaler/scalingengine/server/server.go
  src/autoscaler/scalingengine/server/server_test.go
Due: golangci-lint

Fix lints
  spec/jobs/eventgenerator/eventgenerator_spec.rb
  spec/jobs/metricsforwarder/metricsforwarder_spec.rb
Due: rubocop

Removes scaling engine tls certs in all services
  jobs/golangapiserver/spec
  jobs/golangapiserver/templates/scalingengine_ca.crt.erb
  jobs/golangapiserver/templates/scalingengine_client.crt.erb
  jobs/golangapiserver/templates/scalingengine_client.key.erb
  jobs/operator/spec
  jobs/operator/templates/operator.yml.erb
  src/autoscaler/api/cmd/api/api_suite_test.go
  src/autoscaler/api/config/config.go
  src/autoscaler/api/config/testdata/valid_config.yml
  src/autoscaler/api/publicapiserver/public_api_handler.go
  src/autoscaler/api/publicapiserver/publicapiserver_suite_test.go
  src/autoscaler/api/publicapiserver/scaling_history_handler.go
  src/autoscaler/eventgenerator/cmd/eventgenerator/eventgenerator_suite_test.go
  src/autoscaler/eventgenerator/cmd/eventgenerator/main.go
  src/autoscaler/eventgenerator/config/config.go
  src/autoscaler/eventgenerator/config/config_test.go
  src/autoscaler/operator/cmd/operator/main.go
  src/autoscaler/operator/config/config.go
  src/autoscaler/operator/config/testdata/valid.yml
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_suite_test.go
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_test.go
  src/autoscaler/scalingengine/server/server_test.go
Due: golangci-lint

Fix missing eventgenerator missing basic auth credentials
  src/autoscaler/eventgenerator/config/config_test.go
  src/autoscaler/eventgenerator/metric/fetcher_factory_test.go
Due: golangci-lint

update java using compressed binary (hard coded)
  .github/workflows/bosh-release-checks.yaml
  .gitignore
  Makefile
  ci/autoscaler/tasks/update-sdk/java/get-java.sh
  packages/openjdk-17/packaging
  packages/openjdk-17/spec
  packages/openjdk-17/spec.lock
Due: none

bump dependency
  src/autoscaler/go.mod
  src/autoscaler/go.sum
Due: golangci-lint

Fix operator tests
  spec/fixtures/operator.yml
  spec/jobs/operator/operator_spec.rb
Due: rubocop

Fix rspec
  jobs/scalingengine/spec
  spec/fixtures/scalingengine.yml
  spec/fixtures/scheduler.yml
  spec/jobs/scalingengine/scalingengine_spec.rb
  spec/jobs/scheduler/scheduler_spec.rb
Due: rubocop

Test fix with error on gomod
  src/autoscaler/api/publicapiserver/public_api_server.go
Due: golangci-lint

replace nu7hatch/gouuid with google/uuid
  packages/eventgenerator/spec
  packages/golangapiserver/spec
  packages/metricsforwarder/spec
  packages/operator/spec
  packages/scalingengine/spec
  src/autoscaler/api/broker/broker.go
  src/autoscaler/api/publicapiserver/public_api_handler.go
  src/autoscaler/cred_helper/custom_metrics_cred_helper.go
  src/autoscaler/go.mod
  src/autoscaler/helpers/uuid.go
  src/autoscaler/integration/integration_golangapi_scalingengine_test.go
  src/autoscaler/integration/integration_golangapi_scheduler_test.go
  src/autoscaler/integration/integration_operator_others_test.go
  src/autoscaler/integration/integration_scheduler_scalingengine_test.go
  src/autoscaler/integration/integration_suite_test.go
  src/autoscaler/operator/cmd/operator/main.go
  src/autoscaler/scalingengine/cmd/scalingengine/scalingengine_suite_test.go
Due: golangci-lint

tidy up go.mod fie
  src/autoscaler/go.sum
Due: golangci-lint

debug
  .github/workflows/bosh-release-checks.yaml
Due: none

foo
  packages/golangapiserver/spec
Due: none

foo
  packages/golangapiserver/spec
  packages/metricsforwarder/spec
  packages/scalingengine/spec
Due: none

use stuff printed in this run https://github.com/cloudfoundry/app-autoscaler-release/actions/runs/9975905468/job/27566806837?pr=3078
  packages/golangapiserver/spec
  packages/metricsforwarder/spec
  packages/scalingengine/spec
Due: none

automation script to bump java bosh package
  .github/workflows/bosh-release-checks.yaml
  Makefile
  ci/autoscaler/tasks/update-sdk/download-java.sh
  ci/autoscaler/tasks/update-sdk/java/get-java.sh
  ci/dockerfiles/autoscaler-tools/Dockerfile
  jobs/eventgenerator/spec
  jobs/eventgenerator/templates/bpm-pre-start.erb
  jobs/golangapiserver/spec
  jobs/golangapiserver/templates/bpm-pre-start.erb
  jobs/operator/spec
  jobs/operator/templates/bpm-pre-start.erb
  jobs/scalingengine/spec
  jobs/scalingengine/templates/bpm-pre-start.erb
  jobs/scheduler/spec
  jobs/scheduler/templates/bpm-pre-start.erb
  jobs/scheduler/templates/bpm.yml.erb
  jobs/scheduler/templates/install_crt_truststore.sh
  packages/db/spec
  packages/openjdk-17/vendored-commit
  packages/openjdk-21/packaging
  packages/openjdk-21/spec
  packages/openjdk-21/vendored-commit
  packages/openjdk-21/version
  packages/scheduler/spec
  src/common/init-db-truststore.sh
Due: golangci-lint

use stuff printed in this run https://github.com/cloudfoundry/app-autoscaler-release/actions/runs/9976370534/job/27568375076?pr=3078
  packages/golangapiserver/spec
  packages/metricsforwarder/spec
  packages/scalingengine/spec
Due: none

Fix issue with openapi ogen generate make target
  api/internal-scaling-history-api.openapi.yaml
  packages/golangapiserver/spec
  packages/scalingengine/spec
  src/autoscaler/Makefile
  src/autoscaler/scalingengine/apis/generate.go
  src/autoscaler/scalingengine/apis/shared_definitions.yaml
Due: golangci-lint

chore(deps): automated dependency update with go get -u
  packages/eventgenerator/spec
  packages/golangapiserver/spec
  packages/metricsforwarder/spec
  packages/operator/spec
  packages/scalingengine/spec
  src/acceptance/assets/app/go_app/go.mod
  src/acceptance/assets/app/go_app/go.sum
  src/acceptance/go.mod
  src/acceptance/go.sum
  src/autoscaler/go.mod
  src/autoscaler/go.sum
  src/changeloglockcleaner/go.mod
  src/changeloglockcleaner/go.sum
Due: golangci-lint

Adds missing configs for scaling engine config in golang api server
  jobs/golangapiserver/spec
  jobs/golangapiserver/templates/apiserver.yml.erb
  spec/fixtures/apiserver.yml
  templates/app-autoscaler.yml
Due: none

Fix issue on pre start of scheduler
  \
Due: none

Fix missing removal of scaling engine certs from eventgenerator
  jobs/eventgenerator/spec
  jobs/eventgenerator/templates/eventgenerator.yml.erb
  spec/fixtures/eventgenerator.yml
  spec/jobs/eventgenerator/eventgenerator_spec.rb
Due: rubocop

Fix integration build
  \
  src/autoscaler/integration/components_test.go
Due: golangci-lint

remove error handling leftover
  src/autoscaler/api/broker/broker.go
Due: golangci-lint

Integration test uses basic auth for eventgenerator
  src/autoscaler/integration/components_test.go
Due: golangci-lint

try output from https://github.com/cloudfoundry/app-autoscaler-release/actions/runs/9981365672/job/27584840758?pr=3078
  packages/golangapiserver/spec
  packages/metricsforwarder/spec
  packages/scalingengine/spec
Due: none

try local make package-spec run
  packages/golangapiserver/spec
  packages/metricsforwarder/spec
  packages/scalingengine/spec
Due: none

revert to state from main
  packages/golangapiserver/spec
  packages/metricsforwarder/spec
  packages/scalingengine/spec
Due: none

debug
  packages/golangapiserver/spec
  packages/metricsforwarder/spec
  packages/scalingengine/spec
Due: none

Update from https to http most services in integration test
  src/autoscaler/integration/integration_golangapi_eventgenerator_test.go
  src/autoscaler/integration/integration_golangapi_scalingengine_test.go
  src/autoscaler/integration/integration_logcache_eventgenerator_scalingengine_test.go
  src/autoscaler/integration/integration_operator_others_test.go
  src/autoscaler/integration/integration_scheduler_scalingengine_test.go
Due: golangci-lint

feature/754-healthendpoint-service-refactor: Remove TLS configuration and switch to HTTP for all components
  src/autoscaler/api/cmd/api/api_suite_test.go
  src/autoscaler/api/cmd/api/api_test.go
  src/autoscaler/api/config/config_test.go
  src/autoscaler/api/config/testdata/valid_config.yml
  src/autoscaler/eventgenerator/config/config_test.go
  src/autoscaler/eventgenerator/server/server.go
  src/autoscaler/helpers/http_server.go
  src/autoscaler/operator/cmd/operator/main.go
  src/autoscaler/operator/config/config_test.go
  src/autoscaler/scalingengine/config/config_test.go
  src/autoscaler/scalingengine/config/testdata/valid.yml
Due: golangci-lint

separate download and update java scripts
  .github/workflows/bosh-release-checks.yaml
  Makefile
  ci/autoscaler/tasks/update-sdk/download-java.sh
  ci/autoscaler/tasks/update-sdk/update-java-bosh-package.sh
Due: none
